
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: cnvrgthirdparties.mlops.cnvrg.io
spec:
  group: mlops.cnvrg.io
  names:
    kind: CnvrgThirdParty
    listKind: CnvrgThirdPartyList
    plural: cnvrgthirdparties
    shortNames:
    - ctp
    singular: cnvrgthirdparty
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.status
      name: Status
      type: string
    - jsonPath: .status.message
      name: Message
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              habana:
                properties:
                  devicePlugin:
                    properties:
                      enabled:
                        type: boolean
                      image:
                        type: string
                    type: object
                  metricsExporter:
                    properties:
                      enabled:
                        type: boolean
                      image:
                        type: string
                    type: object
                type: object
              imageHub:
                type: string
              istio:
                properties:
                  enabled:
                    type: boolean
                  externalIp:
                    items:
                      type: string
                    type: array
                  ingressSvcAnnotations:
                    additionalProperties:
                      type: string
                    type: object
                  ingressSvcExtraPorts:
                    items:
                      type: integer
                    type: array
                  lbSourceRanges:
                    items:
                      type: string
                    type: array
                  operatorImage:
                    type: string
                  pilotImage:
                    type: string
                  proxyImage:
                    type: string
                type: object
              metagpu:
                properties:
                  enabled:
                    type: boolean
                  image:
                    type: string
                type: object
              nvidia:
                properties:
                  devicePlugin:
                    properties:
                      enabled:
                        type: boolean
                      image:
                        type: string
                    type: object
                  metricsExporter:
                    properties:
                      enabled:
                        type: boolean
                      image:
                        type: string
                    type: object
                  nodeSelector:
                    properties:
                      key:
                        type: string
                      value:
                        type: string
                    type: object
                type: object
              registry:
                properties:
                  name:
                    type: string
                  password:
                    type: string
                  url:
                    type: string
                  user:
                    type: string
                type: object
            type: object
          status:
            properties:
              message:
                type: string
              progress:
                type: integer
              stackReadiness:
                additionalProperties:
                  type: boolean
                type: object
              status:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
