---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: sg3updates.card.synaxg.app.com
spec:
  group: card.synaxg.app.com
  names:
    kind: SG3Update
    listKind: SG3UpdateList
    plural: sg3updates
    singular: sg3update
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: SG3Update is the Schema for the sg3updates API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: SG3UpdateSpec defines the desired state of SG3Update
            properties:
              image:
                type: string
              pullSecretName:
                items:
                  type: string
                type: array
              sg3UpdateList:
                description: Edit Enable (when value is equal to "true") to trigger
                  the controller work.
                items:
                  properties:
                    nodeName:
                      type: string
                    pciList:
                      items:
                        properties:
                          enable:
                            type: string
                          pciAddr:
                            type: string
                          sdkImageAddr:
                            type: string
                        type: object
                      type: array
                  type: object
                type: array
            type: object
          status:
            description: SG3UpdateStatus defines the observed state of SG3Update
            properties:
              sg3UpdateStatusList:
                description: 'INSERT ADDITIONAL STATUS FIELD - define observed state
                  of cluster Important: Run "make" to regenerate code after modifying
                  this file'
                items:
                  properties:
                    nodeName:
                      type: string
                    pciStatList:
                      items:
                        properties:
                          message:
                            type: string
                          pciAddr:
                            type: string
                          status:
                            type: string
                        type: object
                      type: array
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
