apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "minkms.min.io/v1alpha1",
          "kind": "MinKMS",
          "metadata": {
            "name": "my-minkms",
            "namespace": "ns-1"
          },
          "spec": {
            "apiKeySecret": {
              "name": "my-api-key"
            },
            "configuration": {
              "name": "my-kms-server-config"
            },
            "hsmSecret": {
              "name": "my-kms-hsm"
            },
            "imagePullSecrets": [
              {
                "name": "registry-creds"
              }
            ],
            "replicas": 2,
            "volumeClaimTemplate": {
              "metadata": {
                "name": "minkms-volume"
              },
              "spec": {
                "accessModes": [
                  "ReadWriteOnce"
                ],
                "resources": {
                  "requests": {
                    "storage": "100Mi"
                  }
                },
                "storageClassName": "standard"
              }
            }
          }
        }
      ]
    capabilities: Full Lifecycle
    categories: Security, Storage
    createdAt: "2025-12-17T19:10:08Z"
    description: MinIO AIStor is the standard for building large scale AI data infrastructure.
    features.operators.openshift.io/cnf: "false"
    features.operators.openshift.io/cni: "false"
    features.operators.openshift.io/csi: "false"
    features.operators.openshift.io/disconnected: "true"
    features.operators.openshift.io/fips-compliant: "false"
    features.operators.openshift.io/proxy-aware: "false"
    features.operators.openshift.io/tls-profiles: "false"
    features.operators.openshift.io/token-auth-aws: "false"
    features.operators.openshift.io/token-auth-azure: "false"
    features.operators.openshift.io/token-auth-gcp: "false"
    operatorframework.io/suggested-namespace: aistor
    operators.openshift.io/valid-subscription: Contact MinIO for subscription information.
    operators.operatorframework.io.bundle.channel.default.v1: stable
    operators.operatorframework.io/builder: operator-sdk-v1.34.1
    operators.operatorframework.io/project_layout: unknown
    support: min.io
  labels:
    operatorframework.io/arch.amd64: supported
    operatorframework.io/arch.arm64: supported
    operatorframework.io/os.linux: supported
  name: minio-minkms.v2025.12.17191008
  namespace: PLACEHOLDER
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
      - kind: MinKMS
        name: minkmses.minkms.min.io
        version: v1alpha1
  description: |-
    Highly available, powerful and operationally simple, MinIO's Enterprise Key Management Server (MinKMS) is optimized for large storage infrastructures where billions of cryptographic keys are required.

    MinIO's AIStor MinKMS establishes its foundational trust using the concept of an hardware security module (but given MinKMS is software, this is only a concept). That module assumes a pivotal role in sealing and unsealing the MinKMS root encryption key. The module responsibility extends to safeguarding the integrity of MinKMS by allowing the unsealing of its encrypted on-disk state and facilitating communication among nodes within a MinKMS cluster.

    It solves the challenges associated with billions of cryptographic keys and hundreds of thousands of cryptographic operations per node per second - which are commonplace in larger deployments.

    <b>High Availability and Fault Tolerance</b>
    In the dynamic landscape of large-scale systems, network or node outages are inevitable. Taking down a cluster for maintenance is rarely feasible. MinIO's AIStor MinKMS ensures uninterrupted availability, even when faced with such disruptions, mitigating cascading effects that can take down the entire storage infrastructure. Specifically, you could lose all but one node of a cluster and still handle any encryption, decryption or data key generation requests.

    <b>Scalability</b>
    While the amount of data usually only increases, the load on a large-scale storage system may vary significantly from time to time. MinIO's AIStor MinKMS supports dynamic cluster resizing and nodes can be added or removed at any point without incurring any downtime.

    <b>Multi-Tenancy</b>
    Large-scale storage infrastructures are often used by many applications and teams across the entire organization. Isolating teams and groups into their own namespaces is a core requirement. MinIO's AIStor MinKMS supports namespacing in the form of enclaves. Each tenant can be assigned its own enclave which is completely independent and isolated from all other enclaves on the MinKMS cluster.

    <b>Predictable Behavior</b>
    MinIO's AIStor MinKMS is designed to be easily managed, providing operators with the ability to comprehend its state intuitively. Due to its simple design, MinIO's AIStor MinKMS is significantly easier to operate than similar solutions that rely on more complex consensus algorithms like Raft, or Paxos.

    <b>Consistent and Performant</b>
    The responsiveness of the MinKMS for GET/PUT operations directly influences the overall efficiency and speed of the storage system. MinIO's AIStor MinKMS nodes don't have to coordinate when handling such requests from the storage system. Therefore, the performance of a MinIO's AIStor MinKMS cluster increases linearly with the number of nodes. Further, MinIO's AIStor MinKMS supports request pipelining to handle hundreds of thousands of cryptographic operations per node and second.

    <b>Simplicity</b>
    Operating a MinKMS cluster does not require expertise in cryptography or distributed systems. Everything can be done from the AIStor Console.

    <a href="https://resources.min.io/request-a-demo-marketplaces/">Request a demo today</a>
  displayName: MinKMS
  icon:
    - base64data: iVBORw0KGgoAAAANSUhEUgAAAKcAAACnCAYAAAB0FkzsAAAACXBIWXMAABcRAAAXEQHKJvM/AAAIj0lEQVR4nO2dT6hVVRSHjykI/gMDU0swfKAi2KgGOkv6M1RpqI9qZBYo9EAHSaIopGCQA8tJDXzNgnRcGm+SgwLDIFR4omBmCQrqE4Tkxu/6Tlyv7569zzn73Lvu3t83VO+5HN/31t5r7bX3ntVqtVoZgD0mnuOHAlZBTjALcoJZkBPMgpxgFuQEsyAnmAU5wSzICWZBTjALcoJZkBPMgpxgFuQEsyAnmAU5wSzICWZBTjDLHH40Yfn3/lR299zP2Z2z57PH9x889exFr72SLd60MZu/dtXwv2gfYA9RICTl9SNfZbfP/Oh84Lw1q7KX9+5oywo9mUDOANw5dz6b/ORY9vjBVKmHLX59QzZyeCybs3C+0TcbKMhZl9tnfsgm931e+SmKouu+OYqgz8Luyzrc++ViLTHFw8tXsz/e39OeFsDTIGcNJvcdC/IcCXpl14EBvYVdkLMiGs4f3fwn2PPu/fp79tep031+C9sgZ0V8RJr74gvZks1vZIteXe/1JTdOjGePbv49kPexCHXOCkggDcVFrNi5LVvx4fb//4U+c3nXwcLPKdtX1q8ECYiclXj0Z3F0U4moU8ysHUWXtqVTdl6EhneVpgA5KzF1qThqLh/dMuOfq1zkI6iiJ9k7claie1myDLmgmo/2QsO75p+pg5wVcC07upIaCbr6i/3Z7AW9C++3xk+366gpg5wlqHsJK5QDOT3REqTvSk9duOblCcjpgRo2fC75F9oyUXfIf3hpsvDv5760tNbzhwVKSQ7KiKnGDZ/Tjl241s9VqE8B5CygjJg6rjDUpf6u9XNXHTQWGNZ7oDVyXzHVLOy6XcMXFdiLrsr2vYE4BoicM6CsXGvkPoQUM5tOvIpYvGljsO+yDpGzA633fMpFSnw0jIdczdEvhWt93tW1FBNEzg608uNzclsTYqrTSMX9IrSVI6Utwsg5jWqLV3YfcJaBmhBT363b3lzf3X2He+wg5zTaG16UiOSsOf5pcDF9GkgUNVMpIeUg53QS4tOLqeQnZBlHmbn2GLnEVLReufeDYN87LCSfEEkQn2XJlXt2BMvKNb/UL4R3qerwWIrH0aQtZz7Xc6Ehdfmo+xpBH5SRl1mj13frGsMUSXpYV2buSkJ0/qX2lIfCZ16bo71EIb972EhWTtUzdRtvEXlmPghCrdMPM0kO6xrOfeqZyswHMdfTUJ5yxMxJUk4lI86a4s5tpTNzSe9zZUsvFKlVyww1vx12kpNT2bnOUC9C88wyBW9JqRvV1CxStZczH8ZTq2UWkZycrsYKRS8N5z6EkFInF7cP8UqkDa4MScnp01ihIdUneklIn+lBLySlonPIjqbYSEpOV9T0Gc7bdcoT46VKQp0gpT/JyCmpXELpfvOiz9eRMufJQbGI6UMycvq0o80071MCpQy8iZM9oJgk5FTUK5ob5iWcTtpr7p4NIdAMScjpmmt2JkFIaYfo5XTNNRU1l41urS2lniPJ560daZ86B/WJXk6VfIpQ47AajetKKcG11JnSycNNE7Wc2hPkSmTqDN9KotQEnGKvZT+IWs6mrkaRlEqgWGpslmjl1NLinbNhr0VByv4SrZw60iXUGZpIORiilTNE1ETKwRKlnBrSXV3uRSClDaKUs+otZ0hpiyjlLDukI6VN4oycnkM6UtomOjl9btVFyuEgOjmLlg+RcrhIQk6kHE6iklMlpM61dKQcbqKSM78iRdts1ZDBHZLDTXTD+rqvj7DNNhKikhMp44LDY8EsyAlmQU4wC3KCWZATzIKcYBbkBLMgJ5gFOcEsyAlmQU4wC3KCWZATzIKcYBbkBLMgJ5gFOcEsyAlmQU4wC3KCWZATzIKcYBbkBLMgJ5gFOcEsyAlmQU4wC3KCWZATzIKcgdFJdzq0FuqDnA0wcmgMQQOAnA2BoPVBzgZB0HogZ8MgaHWQsw8gaDWivdLaGhIUyjGr1Wq1+D/rH1OXrnIFjR8TyAlWmWDOCWZBTjALcoJZkBPMgpxgFuQEsyAnmAU5wSzICWZBTjALcoJZkBPMgpxgFuQEsyAnmAU5wSzICWbRHqIJfjxgjiz77T8hbd197bqGkwAAAABJRU5ErkJggg==
      mediatype: image/png
  install:
    spec:
      clusterPermissions:
        - rules:
            - apiGroups:
                - apiextensions.k8s.io
              resources:
                - customresourcedefinitions
              verbs:
                - get
                - update
                - list
                - watch
            - apiGroups:
                - ""
              resources:
                - persistentvolumeclaims
              verbs:
                - get
                - update
                - list
            - apiGroups:
                - ""
              resources:
                - namespaces
                - nodes
              verbs:
                - get
                - watch
                - list
            - apiGroups:
                - ""
              resources:
                - pods
                - services
                - events
                - configmaps
              verbs:
                - get
                - watch
                - create
                - list
                - delete
                - deletecollection
                - update
                - patch
            - apiGroups:
                - ""
              resources:
                - secrets
              verbs:
                - get
                - watch
                - create
                - update
                - list
                - delete
                - deletecollection
            - apiGroups:
                - ""
              resources:
                - serviceaccounts
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - rbac.authorization.k8s.io
              resources:
                - roles
                - rolebindings
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - rbac.authorization.k8s.io
              resources:
                - clusterrolebindings
              verbs:
                - get
                - create
                - update
            - apiGroups:
                - apps
              resources:
                - statefulsets
                - deployments
                - daemonsets
                - deployments/finalizers
              verbs:
                - get
                - create
                - list
                - patch
                - watch
                - update
                - delete
            - apiGroups:
                - batch
              resources:
                - jobs
              verbs:
                - get
                - create
                - list
                - patch
                - watch
                - update
                - delete
            - apiGroups:
                - certificates.k8s.io
              resources:
                - certificatesigningrequests
                - certificatesigningrequests/approval
                - certificatesigningrequests/status
              verbs:
                - update
                - create
                - get
                - delete
                - list
            - apiGroups:
                - certificates.k8s.io
              resourceNames:
                - kubernetes.io/legacy-unknown
                - kubernetes.io/kube-apiserver-client
                - kubernetes.io/kubelet-serving
                - beta.eks.amazonaws.com/app-serving
              resources:
                - signers
              verbs:
                - approve
                - sign
            - apiGroups:
                - authentication.k8s.io
              resources:
                - tokenreviews
              verbs:
                - create
            - apiGroups:
                - minkms.min.io
                - sts.min.io
                - job.min.io
              resources:
                - '*'
              verbs:
                - '*'
            - apiGroups:
                - min.io
              resources:
                - '*'
              verbs:
                - '*'
            - apiGroups:
                - monitoring.coreos.com
              resources:
                - prometheuses
              verbs:
                - '*'
            - apiGroups:
                - coordination.k8s.io
              resources:
                - leases
              verbs:
                - get
                - update
                - create
            - apiGroups:
                - policy
              resources:
                - poddisruptionbudgets
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - deletecollection
            - apiGroups:
                - admissionregistration.k8s.io
              resources:
                - mutatingwebhookconfigurations
              verbs:
                - get
                - list
                - watch
                - update
                - patch
          serviceAccountName: minkms-operator
      deployments:
        - name: minkms-operator
          spec:
            replicas: 1
            selector:
              matchLabels:
                minkms.min.io/name: minkms-operator
            strategy:
              type: Recreate
            template:
              metadata:
                labels:
                  minkms.min.io/name: minkms-operator
              spec:
                affinity:
                  podAntiAffinity:
                    requiredDuringSchedulingIgnoredDuringExecution:
                      - labelSelector:
                          matchExpressions:
                            - key: minkms.min.io/name
                              operator: In
                              values:
                                - minkms-operator
                        topologyKey: kubernetes.io/hostname
                containers:
                  - args:
                      - minkms
                      - -license
                      - /tmp/license/minio.license
                    env:
                      - name: MINIO_OPERATOR_DEPLOYMENT_NAME
                        value: minkms-operator
                      - name: POD_NODENAME
                        valueFrom:
                          fieldRef:
                            fieldPath: spec.nodeName
                      - name: POD_NAME
                        valueFrom:
                          fieldRef:
                            fieldPath: metadata.name
                      - name: POD_NAMESPACE
                        valueFrom:
                          fieldRef:
                            fieldPath: metadata.namespace
                    image: quay.io/minio/aistor/operator@sha256:2c3cb98193815b76f73e89bb3d6311ccd75c3b354bdccd04758715a08b163436
                    imagePullPolicy: IfNotPresent
                    name: controller
                    resources:
                      requests:
                        cpu: 200m
                        ephemeral-storage: 500Mi
                        memory: 256Mi
                    volumeMounts:
                      - mountPath: /tmp/service-ca
                        name: openshift-service-ca
                      - mountPath: /tmp/csr-signer-ca
                        name: openshift-csr-signer-ca
                      - mountPath: /tmp/license
                        name: minio-license
                securityContext: {}
                serviceAccountName: minkms-operator
                volumes:
                  - configMap:
                      items:
                        - key: service-ca.crt
                          path: service-ca.crt
                      name: openshift-service-ca.crt
                      optional: true
                    name: openshift-service-ca
                  - name: openshift-csr-signer-ca
                    projected:
                      defaultMode: 420
                      sources:
                        - secret:
                            items:
                              - key: tls.crt
                                path: tls.crt
                            name: openshift-csr-signer-ca
                            optional: true
                  - name: minio-license
                    secret:
                      defaultMode: 444
                      optional: true
                      secretName: minio-license
    strategy: deployment
  installModes:
    - supported: false
      type: OwnNamespace
    - supported: false
      type: SingleNamespace
    - supported: false
      type: MultiNamespace
    - supported: true
      type: AllNamespaces
  keywords:
    - AI Storage
    - MinIO
  labels:
    operatorframework.io/arch.amd64: supported
    operatorframework.io/arch.arm64: supported
    operatorframework.io/os.darwin: supported
    operatorframework.io/os.linux: supported
  links:
    - name: Minio AIStor
      url: https://min.io
    - name: Support
      url: https://subnet.min.io
    - name: Github
      url: https://github.com/minio/aistor
  maintainers:
    - email: dev@min.io
      name: MinIO
  maturity: stable
  minKubeVersion: 1.26.0
  provider:
    name: MinIO
    url: https://min.io
  relatedImages:
    - image: quay.io/minio/aistor/operator@sha256:2c3cb98193815b76f73e89bb3d6311ccd75c3b354bdccd04758715a08b163436
      name: controller
    - name: minkms
      image: quay.io/minio/aistor/minkms@sha256:4c089d787b4ebf862dbce7826ac6eadeca5e0811b1f0379f43fb732f321fda8f
    - name: minkms-sidecar
      image: quay.io/minio/aistor/minkms-sidecar@sha256:f460aef51e32fd6bd556f3d30f14f026855cb4010f662c82d1964e1596c50f2a
  replaces: minio-minkms.v2025.12.16205103
  version: 2025.12.17191008
  webhookdefinitions: []
