apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  creationTimestamp: null
  labels:
    redhat.marketplace.com/name: ibm-data-reporter-operator
  name: ibm-data-reporter-operator-servicemonitor-metrics-reader-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ibm-data-reporter-operator-servicemonitor-metrics-reader
subjects:
- kind: ServiceAccount
  name: ibm-data-reporter-operator-servicemonitor-metrics-reader
  namespace: ibm-software-central
