apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  creationTimestamp: null
  labels:
    app.kubernetes.io/name: pgd-operator
  name: pgdgroupcleanups.pgd.k8s.enterprisedb.io
spec:
  group: pgd.k8s.enterprisedb.io
  names:
    kind: PGDGroupCleanup
    listKind: PGDGroupCleanupList
    plural: pgdgroupcleanups
    singular: pgdgroupcleanup
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Phase
      jsonPath: .status.phase
      name: Phase
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        description: PGDGroupCleanup is the Schema for the pgdgroupcleanups API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: PGDGroupCleanupSpec defines the desired state of PGDGroupCleanup
            properties:
              executor:
                type: string
              force:
                default: false
                description: Force will force the removal of the PGDGroup even if
                  the target PGDGroup nodes are not parted
                type: boolean
              target:
                type: string
            required:
            - executor
            - target
            type: object
          status:
            description: PGDGroupCleanupStatus defines the observed state of PGDGroupCleanup
            properties:
              isNodeGroupExists:
                description: IsNodeGroupExists indicates if the target group is still
                  not dropped yet
                type: boolean
              nodesToPart:
                description: NodesToPart shows nodes that are not parted in the target
                  group
                items:
                  type: string
                type: array
              phase:
                description: Phase the phase of current cleanup cr
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
