# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021-2022 Intel Corporation

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  labels:
    redhat.marketplace.com/name: redhat-marketplace-operator
  name: redhat-marketplace-metric-state
rules:
- apiGroups:
  - marketplace.redhat.com
  resources:
  - meterreports
  verbs:
  - get
  - list
  - watch
  - update
- apiGroups:
  - marketplace.redhat.com
  resources:
  - meterdefinitions
  - meterdefinitions/status
  verbs:
  - get
  - list
  - watch
  - update
- apiGroups:
  - operators.coreos.com
  resources:
  - operatorgroups
  verbs:
  - get
  - list
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - patch
  - watch
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
