# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021-2022 Intel Corporation

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  labels:
    redhat.marketplace.com/name: redhat-marketplace-operator
  name: redhat-marketplace-reporter
rules:
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - watch
  - list
- apiGroups:
  - ""
  resourceNames:
  - pull-secret
  resources:
  - secrets
  verbs:
  - get
  - watch
  - list
- nonResourceURLs:
  - /api/v1/query
  - /api/v1/query_range
  - /api/v1/targets
  verbs:
  - create
  - get
- nonResourceURLs:
  - /dataservice.v1.fileserver.FileServer/*
  verbs:
  - create
