# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021-2022 Intel Corporation

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/instance: k8s-triliovault-web-backend
    app.kubernetes.io/managed-by: k8s-triliovault
    app.kubernetes.io/name: k8s-triliovault
    app.kubernetes.io/part-of: k8s-triliovault
  name: k8s-triliovault-web-backend
spec:
  ports:
    - name: backend-port
      port: 80
      targetPort: 9443
  selector:
    app: k8s-triliovault-web-backend
    release: trilio
  type: ClusterIP
