apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: tenant-webhook-server-cert
  creationTimestamp: null
  name: tenant-operator-tenant-webhook-service
spec:
  ports:
  - port: 443
    targetPort: 9443
  selector:
    control-plane: controller-manager-tenant
status:
  loadBalancer: {}
