---
apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "vlic.veritas.com/v1",
          "kind": "License",
          "metadata": {
            "name": "license-dev"
          },
          "spec": {
            "licenseEdition": "Developer"
          }
        }
      ]
    capabilities: Basic Install
    operatorframework.io/suggested-namespace: infoscale-vtas
    operators.operatorframework.io/builder: operator-sdk-v1.15.0+git
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
  name: infoscale-licensing-operator.v8.0.100
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: License is the Schema for the licenses API
      displayName: License
      kind: License
      name: licenses.vlic.veritas.com
      version: v1
  description: InfoScale Licensing Operator provides license to use Veritas Products.
  displayName: InfoScale Licensing Operator
  icon:
  - base64data: "iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAACXBIWXMAAAsSAAALEgHS3X78AAAKO0lEQVR4nO1dX4gVVRj/2vRFWd0iX1xjt7qC1xcl0sQXN9KnkNy69FCg60t/SFJ6KLKgjUypICwUih7aFeqlWyv0qOFuQaBF7BLsNbrULrgL4VZel6QUMn7H79zOnTv/zsw5Z84NfzDs3DOzc2Z+vznf952/c8v169fJR1RL5QEi2khEPUQ0wLe4LeWtTvDfcSKawVap18Z9fE5vBGDC5ZaWaF1MsCjjvghSqABM+hAR7SKilY6zbxDRSSIaKVIM5wJUS2WYlANMfJ/TzKMxCyGI6GilXrvkMmNnAlRL5X4iGiaiPU4yzI5R3GelXptxkZl1ATqI+CCcCGFVgGqpPMzmxrV9N4UGm6VhWxlYEYCd64hHNj4v4COGbDjrLtMXrJbKR4nozP+IfOJnOcPPZhTGSkC1VN7Ib/0G0zcZhp7yOlq9Y7s4Mn/qNF2qnXeRLTDFpWHSxMWMCFAtlXcx+U5sPcjf9skJWtrdLX5fW1ykicd3uxShwSKczHuh3CaoWirDyY4VRT6AfaThmCPgWceqpfJQ3uxylYBqqTziMrwMI19FASUBGK3Ua5mFyFwCfCC/UTsvNokCSgKwh7nIhEwC+EL++BO7xdbJImgL4BP51y4viq2TRdASgB2uN+RLeCaClj9I7YQ51BzLeme6SEu+iqUrumng4xO0UiG9IMc8mDZETSUAV7LGiww1k8iX8EQE1BMG0lTW0pqgwipZpEE++WOOVjJniUgUgNs/nDUv5CFfwhMRNqRpO4o1Qdyqecb0nYXBFPkqPDFHD8S1oiaVgMwVDB3YIJ/8KQmxHEYKwJ0p1puUbZEv4YEIfcxlKEJNEHcjTtp2vLbJV1GwOUJUtDGsezOqBAz7TD7I3PHFGFXqNbFhH2lxKLgkrGRO29BWAvjt/8Xm3ZiO8/P+v8OScFewFISVAGsd0GSJfABpOOZ5SWjjtqUE8KCpP2zlbot8FR1QEm5TB38FS8ABW7m6IJ86oyS0cBwUIHcXWxhstO1cmZtv/sY+0iQ8F6GF46YAXOs1HvfnDTV7yuVQM/Hn3FwzDftIC4qA/01CASL0MdcCagkw/vabjvPjbDTSgiKkvq57EZpcL1ESd5nMwRT5V+bmaPbzk8KcTL97LNZB4tjpnYO0rLeXf9dS5yNFUM2dFMGCY25yLaIg041uLmq4uP6qzZvE/sVz3wqSTMBhdCQa6aQJGkg4OTVcNi/YgENzJDg3KkCnky/hSIQWAXLPyXJJfv+jg03zA2AfaSbhQATB+S2f3rMut/13Tf59bx4OPfbdiwdp5jOz4wYs+4QHungqaGb4Qj6AYx1WEvq7eB5uJuDt8IV8CdciJNW2EyAEyOyA8aAq+SiaRZIvYVMEtaKHZ8+Zz0Cu4enzp75s+Y0b2vjKwTyXbEMY+aiYIfaXwD7SVNgQAc8WHJkd5EAXXXkioD8vzAnHp6LvkV206a0juW5KIor8b194qe1cpNkUAc+EZ1OBZwcHObAt9wQNRB02RNAhX8KWCFHkm4i4jEzSMy1CFvIlTItgk3wyOUvSlAh5yJcwJYJt8oFbH7v9DmN9wKiYoHNk9Y4Hm2mIlZevWZPKWemQ35iu0Z07H6J/rl6ls/ufp78WFlqOIz/kq8bquC/cX5oKlAvyybQAlEME3TcfhP/61dc0+9lYJKFZRXBFPtkQgDKIkNXsQITgmx+ErgguySdbApCGCCZsfhLSiuCafLIpAKUQIS/5uG73PXfT4s/J48iSRCiCfOLWUOsLBoURjdqr2qRMGd58tMUAOr1hYUSH3YsL8on7hCcsrtEmIB9EFSEv+fIaup3wMg9VhKLIB/fGV0uJQlg9QSIT+fdvFn/RNiP30yKsniDhkHyBLp58VxiiyEczr+o7gOVreoUJwYjobR+PNtOxjzQcwzkqRIttSJNxnAgOMQ4n3G96SEoYdB3uuqeepHtfH6ZVW+6nhbPnqHfHdkF0XCcIjq0dutFk/PfCAm19/7j4jf3fJ6fazs9bWTOAUSNdkknIEu3EjQdFxwgIknYc1wKJUecm9VEUFQGJLknba2ZmDTVlB8j86daK208jJ+jUzkGaO3W6mQaikDb93vGWc/G/SE/qILLdlB0FcC9HxlmJhPLG+SAuOL4TJgWj5ZZ2r2im9axfJ7b1zz3bcm6asaESYdGRvHdLJUEsryxHxqEy9qrJqyMyUR0lZYh21GvArge7P+PWDZLHvnlmn1avVZg5qpbSC6mB17AaowxDjZuhYGgIx5Y11AQw5lM1EyAYFSi1a5JYZJwbdR9JwD2qQ98tQnAuBGA/0DCZ17xio4Flvau1+wZWbblBHt5odP1NHjrcJBy+ADVgbNgntvk4B+dKEnvW6729uEfcq2U0pO9VK2JGg2JEKaZ6yeAL0Ozw8PfnmrVW1azI/dXbHxTnyCYKXURFQxbQ5Fodnm58IaawJgj5gHHmCGYDFarlPMwcb2TwrVy7d3dz+Dn2W/5faVrANRAMoFRcPHsuMk/HoWhz9nxwkt6MjVkyOtHQ+uf2tUUzEjA/Vy7MCYEgiGwHgj+AyQHBy9b0trXtSPz4wYf0w9vvtKU7Jn+2Uq/1yx9LAgdHTEdDpFkS8FbDll+aPk/XFi/ThpdvHJdzAFBBg5khJl4Cgky/d0y86VvfPybMETD1xhERsiJM/S2kNlxAJaxl7YigAEdtCEAaIsCeq/Ydq+PijcYGU6PG/zIqktfpe2RQ1BEk+RDtp4+i/UFBNeCWJWzCZspbXZRPt3IWtkou9vFXhpvbsVQBp6mlAsej2nQKIr9tjVHnM+V1h6+AwKlD/x2TBMMX4I0Xbz2PTlPJRx6ekU+JM+UlXCxNqVsS4Hhh26NqvxIoBd88vS8y4imQ/NAVduNWSzFaMQtCtySohDZC3mw1zUPyG1GWJeiEBbCiB693ZsUhS+hER3IoPCIkvOHETdbEFTVSCMa5QVILJJ/4Kxyhn0KJ7JLkz3bMWr0tjZIge8dUfyBXzpVAGKqeK1Ew+bNxn0DxZtG+JJ+Atx212qSeKkRNRY/1CSB20b7EhVvZFO23e483YHqQlgfkv1up12JXoEm7cu6kq7VDTYngAflTlXotcQJk2mEpQ7ajIgkTw9w9IL+RdvGTVALwGshW1hIKQx4RPCCfdD7yk3pgFq8GvjfXbWkgiwiekL9X5+M+WiPjKvXaCH/izwl0RPCE/FHmKDW0hyZyddorETwiX9tMZ/6KkutPmURFRxQYSkIdRD512mes0syY7yTyKe8sSc64UMesoiCHmys6zD08nZ3OYJH1BComzh/Udbhh6NiPecIcoQOfuBHOZQ3Xu495qnDZdlQAEtt2dHHzg87pYO2Dzjc/aR6PzvykuYqbH/WPh3UBJDpICCfESzgTQIK/UXCAW1d98RGz7LOOqmv7u4BzAVSwsx7iSYKu/USDRymP2J6mFYdCBVDBYsjN1sTxCZ4YMV4k6Sq8ESAIFgR+A5tc2TGtMGL+FZMNWz7jC+EtIKJ/AU5saOIFzTygAAAAAElFTkSuQmCC"
    mediatype: image/png
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - apps
          resources:
          - deployments
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments/finalizers
          verbs:
          - update
        - apiGroups:
          - apps
          resources:
          - replicasets
          verbs:
          - list
        - apiGroups:
          - cert-manager.io
          resources:
          - certificates
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - cert-manager.io
          resources:
          - certificates/finalizers
          verbs:
          - update
        - apiGroups:
          - cert-manager.io
          resources:
          - certificates/status
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - cert-manager.io
          resources:
          - issuers
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - cert-manager.io
          resources:
          - issuers/finalizers
          verbs:
          - update
        - apiGroups:
          - cert-manager.io
          resources:
          - issuers/status
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - get
          - patch
        - apiGroups:
          - vlic.veritas.com
          resources:
          - licenses
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - vlic.veritas.com
          resources:
          - licenses/finalizers
          verbs:
          - update
        - apiGroups:
          - vlic.veritas.com
          resources:
          - licenses/status
          verbs:
          - get
          - patch
          - update
        serviceAccountName: infoscale-licensing-operator
      deployments:
      - name: infoscale-licensing-operator
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: infoscale-licensing-operator
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: manager
              labels:
                control-plane: infoscale-licensing-operator
            spec:
              containers:
              - args:
                - --config=controller_manager_config.yaml
                command:
                - /manager
                image: 10.221.167.207:5000/veritas/infoscale-licensing-operator@sha256:3134071764621949993dfdb81b1fc41881d1b77b807dabe3d4a18bfd85b814de
                imagePullPolicy: IfNotPresent
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                ports:
                - containerPort: 9443
                  name: webhook-server
                  protocol: TCP
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources: {}
                securityContext:
                  allowPrivilegeEscalation: false
                volumeMounts:
                - mountPath: /tmp/k8s-webhook-server/serving-certs
                  name: cert
                  readOnly: true
                - mountPath: /controller_manager_config.yaml
                  name: lico-manager-config
                  subPath: controller_manager_config.yaml
              initContainers:
              - args:
                - --create-certs
                command:
                - /manager
                env:
                - name: LICO_DEPLOYMENT_NS
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                - name: LICO_DEPLOYMENT_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.labels['control-plane']
                image: 10.221.167.207:5000/veritas/infoscale-licensing-operator@sha256:3134071764621949993dfdb81b1fc41881d1b77b807dabe3d4a18bfd85b814de
                imagePullPolicy: IfNotPresent
                name: pre-manager
                resources: {}
              securityContext:
                runAsNonRoot: true
              serviceAccountName: infoscale-licensing-operator
              terminationGracePeriodSeconds: 10
              volumes:
              - name: cert
                secret:
                  defaultMode: 420
                  optional: true
                  secretName: lico-tls-cert
              - configMap:
                  name: lico-manager-config
                  optional: true
                name: lico-manager-config
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: infoscale-licensing-operator
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - Veritas
  - InfoScale
  - Licensing
  - Veritas Licensing
  - VLIC
  - Storage
  - Data Storage
  - SDS
  - Software Defined Storage
  links:
  - name: InfoScale Licensing Operator
    url: https://licensing-operator.domain
  maturity: stable
  minKubeVersion: "1.17.0"
  provider:
    name: Veritas Technologies LLC
    url: https://www.veritas.com
  version: 8.0.100
  webhookdefinitions:
  - admissionReviewVersions:
    - v1
    containerPort: 443
    deploymentName: infoscale-licensing-operator
    failurePolicy: Fail
    generateName: lico-mutate.veritas.com
    rules:
    - apiGroups:
      - vlic.veritas.com
      apiVersions:
      - v1
      operations:
      - CREATE
      - UPDATE
      resources:
      - licenses
    sideEffects: None
    targetPort: 9443
    type: MutatingAdmissionWebhook
    webhookPath: /mutate-vlic-veritas-com-v1-license
  - admissionReviewVersions:
    - v1
    containerPort: 443
    deploymentName: infoscale-licensing-operator
    failurePolicy: Fail
    generateName: lico-validate.veritas.com
    rules:
    - apiGroups:
      - vlic.veritas.com
      apiVersions:
      - v1
      operations:
      - CREATE
      - UPDATE
      resources:
      - licenses
    sideEffects: None
    targetPort: 9443
    type: ValidatingAdmissionWebhook
    webhookPath: /validate-vlic-veritas-com-v1-license
