# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021-2022 Intel Corporation

---
apiVersion: v1
kind: Service
metadata:
  annotations:
    vlic.veritas.com/certificate: lico-webhook-cert
  creationTimestamp: null
  name: lico-webhook-service
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 9443
  selector:
    control-plane: infoscale-licensing-operator
status:
  loadBalancer: {}
