---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: vfunctionservers.vfunction.com
  labels:
    name: vfunction
    app.kubernetes.io/name: vfunction
    app.kubernetes.io/instance: vfunction-server
    app.kubernetes.io/managed-by: operator
spec:
  group: vfunction.com
  names:
    kind: VfunctionServer
    listKind: VfunctionServerList
    plural: vfunctionservers
    singular: vfunctionserver
  scope: Namespaced
  preserveUnknownFields: false
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          description: VfunctionServer is the Schema for the vfunctionservers API
          properties:
            apiVersion:
              description: 'APIVersion defines the versioned schema of this representation
                of an object. Servers should convert recognized schemas to the latest
                internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
              type: string
            kind:
              description: 'Kind is a string value representing the REST resource this
                object represents. Servers may infer this from the endpoint the client
                submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
              type: string
            metadata:
              type: object
            spec:
              description: VfunctionServerSpec defines the desired state of VfunctionServer
              properties:
                admin:
                  properties:
                    email:
                      type: string
                    name:
                      type: string
                    password:
                      type: string
                  required:
                    - email
                    - name
                    - password
                  type: object
                host:
                  type: string
                org_name:
                  type: string
                offline:
                  type: string
                mysql:
                  properties:
                    external_mysql_ip:
                      type: string
                    external_mysql_port:
                      type: string
                    external_mysql_user:
                      type: string
                    external_mysql_password:
                      type: string
                    max_pod_memory_capacity:
                      type: string
                    max_pod_cpu_capacity:
                      type: string
                    pod_ephemeral_storage:
                      type: string
                    restore_db_from_last_dump:
                      type: string
                  type: object
                nginx:
                  properties:
                    force_http:
                      type: string
                    ipv6_disabled:
                      type: string
                    service_type:
                      type: string
                  type: object
                ingress:
                  properties:
                    use_ingress:
                      type: string
                    ingress_type:
                      type: string
                    external_ingress:
                      type: string
                    tls_termination:
                      type: string
                    use_tls_certificate:
                      type: string
                    additional_hosts:
                      type: string
                    nginx:
                      properties:
                        controller_type:
                          type: string
                        class:
                          type: string
                        additional_annotations:
                          items:
                            properties:
                              key:
                                type: string
                              value:
                                type: string
                            required:
                              - key
                              - value
                            type: object
                          type: array
                          nullable: true
                      type: object
                    kong:
                      properties:
                        class:
                          type: string
                        additional_annotations:
                          items:
                            properties:
                              key:
                                type: string
                              value:
                                type: string
                            required:
                              - key
                              - value
                            type: object
                          type: array
                          nullable: true
                      type: object
                    istio:
                      properties:
                        gateway:
                          properties:
                            external_gateway:
                              type: string
                            external_gateway_name:
                              type: string
                            external_gateway_namespace:
                              type: string
                            external_secret_name:
                              type: string
                          type: object
                        use_kubernetes_ingress:
                          type: string
                      type: object
                  type: object
                route:
                  properties:
                    use_route:
                      type: string
                    tls_termination:
                      type: string
                    use_tls_certificate:
                      type: string
                  type: object
                measurements:
                  properties:
                    min_number_of_services:
                      type: string
                    max_number_of_services:
                      type: string
                    max_pod_memory_capacity:
                      type: string
                    max_pod_cpu_capacity:
                      type: string
                    pod_ephemeral_storage:
                      type: string
                    S3:
                      properties:
                        bucket:
                          type: string
                        key:
                          type: string
                        secret:
                          type: string
                        region:
                          type: string
                      required:
                        - bucket
                        - key
                        - secret
                      type: object
                  type: object
                authentication:
                  properties:
                    authority:
                      type: string
                    client_id:
                      type: string
                    client_secret:
                      type: string
                    jwks_url:
                      type: string
                    issuer:
                      type: string
                    ca_root_crt:
                      type: string
                  required:
                    - authority
                    - client_id
                    - jwks_url
                    - issuer
                  type: object
                tls:
                  properties:
                    use_letsencrypt:
                      type: string
                    crt:
                      type: string
                    key:
                      type: string
                  type: object
                backup:
                  properties:
                    mysql:
                      properties:
                        restore_during_installation:
                          type: string
                        S3:
                          properties:
                            bucket:
                              type: string
                            key:
                              type: string
                            secret:
                              type: string
                            region:
                              type: string
                          required:
                            - bucket
                            - key
                            - secret
                          type: object
                      type: object
                  type: object
                storage:
                  properties:
                    storage_class:
                      type: string
                    mysql_persistent_volume:
                      type: string
                    mysql_persistent_volume_claim:
                      type: string
                    mysql_persistent_volume_claim_access_mode:
                      type: string
                    storage_persistent_volume:
                      type: string
                    storage_persistent_volume_claim:
                      type: string
                    storage_persistent_volume_claim_access_mode:
                      type: string
                    lets_encrypt_persistent_volume:
                      type: string
                    lets_encrypt_persistent_volume_claim:
                      type: string
                    lets_encrypt_persistent_volume_claim_access_mode:
                      type: string
                  type: object
                distributed:
                  properties:
                    distributed_mode:
                      type: string
                    otlp:
                      properties:
                        min_number_of_services:
                          type: string
                        max_number_of_services:
                          type: string
                        max_pod_memory_capacity:
                          type: string
                        max_pod_cpu_capacity:
                          type: string
                        pod_ephemeral_storage:
                          type: string
                        max_folder_size_in_mb:
                          type: string
                      type: object
                    dm:
                      properties:
                        min_number_of_services:
                          type: string
                        max_number_of_services:
                          type: string
                        max_pod_memory_capacity:
                          type: string
                        max_pod_cpu_capacity:
                          type: string
                        pod_ephemeral_storage:
                          type: string
                      type: object
                  type: object
                security:
                  properties:
                    image_pull_policy:
                      type: string
                    force_hashed_images:
                      type: string
                    set_pod_resources:
                      type: string
                    use_network_policies:
                      type: string
                    proxy:
                      properties:
                        http_proxy:
                          type: string
                        https_proxy:
                          type: string
                        additional_no_proxy:
                          type: string
                      type: object
                    use_rate_limiting:
                      type: string
                    requests_per_second:
                      type: string
                  type: object
                affinity:
                  properties:
                    node_affinity:
                      items:
                        properties:
                          key:
                            type: string
                          operator:
                            type: string
                          values:
                            type: string
                          services:
                            type: string
                        required:
                          - key
                          - operator
                          - values
                        type: object
                      type: array
                      nullable: true
                    node_selectors:
                      items:
                        properties:
                          key:
                            type: string
                          value:
                            type: string
                          services:
                            type: string
                        required:
                          - key
                          - value
                        type: object
                      type: array
                      nullable: true
                    additional_labels:
                      items:
                        properties:
                          key:
                            type: string
                          value:
                            type: string
                          services:
                            type: string
                        required:
                          - key
                          - value
                        type: object
                      type: array
                      nullable: true
                    additional_annotations:
                      items:
                        properties:
                          key:
                            type: string
                          value:
                            type: string
                          services:
                            type: string
                        required:
                          - key
                          - value
                        type: object
                      type: array
                      nullable: true
                  type: object
                generated:
                  properties:
                    client_id:
                      type: string
                    client_secret:
                      type: string
                    app_client_id:
                      type: string
                    app_client_secret:
                      type: string
                  required:
                    - client_id
                    - client_secret
                    - app_client_id
                    - app_client_secret
                  type: object
                version:
                  type: string
                build:
                  type: string
                upgrade:
                  type: string
                retry_upgrade:
                  type: string
                custom_docker_registry:
                  type: string
                custom_image_pull_secret:
                  type: string
              required:
                - admin
                - host
                - org_name
              type: object
            status:
              description: VfunctionServerStatus defines the observed state of VfunctionServer
              properties:
                state:
                  type: string
                installed:
                  type: string
                currentVersion:
                  type: string
                mysqlImage:
                  type: string
                storageImage:
                  type: string
                nginxImage:
                  type: string
                vfapiParserImage:
                  type: string
                vfapiIdpImage:
                  type: string
                vfapiMcpImage:
                  type: string
                vfapiMeasurementsImage:
                  type: string
                vfapiOrganizationsImage:
                  type: string
                vfapiUsersImage:
                  type: string
                vfapiOtlpImage:
                  type: string
                vfapiDmImage:
                  type: string
                identifier:
                  type: string
                lastWorkingVersion:
                  type: string
                lastFailedVersion:
                  type: string
                offline:
                  type: boolean
                externalMysqlInitialized:
                  type: string
                lastDailyReportDate:
                  type: string
                configurationState:
                  properties:
                    ingress:
                      type: string
                    route:
                      type: string
                    deploymentSelectors:
                      type: string
                    measurementAutoScaling:
                      type: string
                    dmAutoScaling:
                      type: string
                    otlpAutoScaling:
                      type: string
                    mysql:
                      type: string
                    measurements:
                      type: string
                    dm:
                      type: string
                    otlp:
                      type: string
                  type: object
              type: object
          type: object
