---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: etcdstatuses.datastore.juniper.net
spec:
  group: datastore.juniper.net
  names:
    kind: EtcdStatus
    listKind: EtcdStatusList
    plural: etcdstatuses
    singular: etcdstatus
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          conditions:
            description: Conditions contains detail info and status result of transitions
            items:
              description: Condition is Common Condition for LCM resources
              properties:
                lastTransitionTime:
                  description: Last time the condition transitioned from one status
                    to another.
                  format: date-time
                  type: string
                lastUpdateTime:
                  description: The last time this condition was updated.
                  format: date-time
                  type: string
                message:
                  description: A human readable message indicating details about the
                    transition.
                  type: string
                name:
                  description: Namespaced name of the key
                  type: string
                operation:
                  description: Type of DB operation performed
                  type: string
                reason:
                  description: The reason for the condition's last transition, machine-readable
                    text in UpperCamelCase.
                  type: string
                status:
                  description: Status of the condition, one of True, False, Unknown
                  type: string
                type:
                  description: Type of deployment condition, indicates the Phase this
                    Condition is reporting
                  type: string
              required:
              - status
              - type
              type: object
            type: array
          endpoints:
            items:
              type: string
            type: array
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          phase:
            description: Phase indicates the current Phase the Etcd controller is
              operating at
            type: string
          status:
            type: string
        required:
        - phase
        - status
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
