# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021-2022 Intel Corporation

apiVersion: v1
data:
  csi.ibm.com_v1_ibmblockcsi_cr.yaml: |
    apiVersion: csi.ibm.com/v1
    kind: IBMBlockCSI
    metadata:
      name: ibm-block-csi
      namespace: default
      labels:
        app.kubernetes.io/name: ibm-block-csi
        app.kubernetes.io/instance: ibm-block-csi
        app.kubernetes.io/managed-by: ibm-block-csi-operator
        release: v1.9.0
    spec:
      # controller is a statefulSet with ibm-block-csi-controller container
      # and csi-provisioner, csi-attacher, csi-snapshotter and livenessprobe sidecars.
      controller:
        repository: ibmcom/ibm-block-csi-driver-controller
        tag: "1.9.0"
        imagePullPolicy: IfNotPresent
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
                - matchExpressions:
                    - key: kubernetes.io/arch
                      operator: In
                      values:
                        - amd64
                        - s390x
                        - ppc64le

      # node is a daemonSet with ibm-block-csi-node container
      # and csi-node-driver-registrar and livenessprobe sidecars.
      node:
        repository: ibmcom/ibm-block-csi-driver-node
        tag: "1.9.0"
        imagePullPolicy: IfNotPresent
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
                - matchExpressions:
                    - key: kubernetes.io/arch
                      operator: In
                      values:
                        - amd64
                        - s390x
                        - ppc64le

      #    tolerations:
      #    - effect: NoSchedule
      #      key: node-role.kubernetes.io/master
      #      operator: Exists

      sidecars:
        - name: csi-node-driver-registrar
          repository: k8s.gcr.io/sig-storage/csi-node-driver-registrar
          tag: "v2.5.0"
          imagePullPolicy: IfNotPresent
        - name: csi-provisioner
          repository: k8s.gcr.io/sig-storage/csi-provisioner
          tag: "v3.1.0"
          imagePullPolicy: IfNotPresent
        - name: csi-attacher
          repository: k8s.gcr.io/sig-storage/csi-attacher
          tag: "v3.4.0"
          imagePullPolicy: IfNotPresent
        - name: csi-snapshotter
          repository: k8s.gcr.io/sig-storage/csi-snapshotter
          tag: "v5.0.1"
          imagePullPolicy: IfNotPresent
        - name: csi-resizer
          repository: k8s.gcr.io/sig-storage/csi-resizer
          tag: "v1.4.0"
          imagePullPolicy: IfNotPresent
        - name: csi-addons-replicator
          repository: quay.io/csiaddons/volumereplication-operator
          tag: "v0.2.0"
          imagePullPolicy: IfNotPresent
        - name: livenessprobe
          repository: k8s.gcr.io/sig-storage/livenessprobe
          tag: "v2.6.0"
          imagePullPolicy: IfNotPresent

    #  healthPort: 9808
    #  imagePullSecrets:
    #  - "secretName"
kind: ConfigMap
metadata:
  name: flashsystem-csi-cr
