# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021-2022 Intel Corporation

apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    odf: storage.ibm.com
  name: ibm-storage-odf-operator-metrics-service
spec:
  ports:
  - name: https
    port: 8443
    targetPort: https
  selector:
    odf: storage.ibm.com
status:
  loadBalancer: {}
