apiVersion: v1
data:
  properties.yaml: "---\n# Not used. Kept for compatibilty with Dockerfile.\nversion:\
    \ 0.1.0\nspec:\n  units: []\nproperties:\n  - property: &jvmDnsCacheTtl\n    \
    \  propertyNames:\n        - name: \"networkaddress.cache.ttl\"\n          kind:\n\
    \            type: \"file\"\n            file: \"security.properties\"\n     \
    \ datatype:\n        type: \"integer\"\n        min: \"0\"\n      recommendedValues:\n\
    \        - fromVersion: \"0.0.0\"\n          value: \"30\"\n      roles:\n   \
    \     - name: \"submit\"\n          required: true\n        - name: \"driver\"\
    \n          required: true\n        - name: \"executor\"\n          required:\
    \ true\n      asOfVersion: \"0.0.0\"\n      comment: \"History server - TTL for\
    \ successfully resolved domain names.\"\n      description: \"History server -\
    \ TTL for successfully resolved domain names.\"\n\n  - property: &jvmDnsCacheNegativeTtl\n\
    \      propertyNames:\n        - name: \"networkaddress.cache.negative.ttl\"\n\
    \          kind:\n            type: \"file\"\n            file: \"security.properties\"\
    \n      datatype:\n        type: \"integer\"\n        min: \"0\"\n      recommendedValues:\n\
    \        - fromVersion: \"0.0.0\"\n          value: \"0\"\n      roles:\n    \
    \    - name: \"submit\"\n          required: true\n        - name: \"driver\"\n\
    \          required: true\n        - name: \"executor\"\n          required: true\n\
    \      asOfVersion: \"0.0.0\"\n      comment: \"History server - TTL for domain\
    \ names that cannot be resolved.\"\n      description: \"History server - TTL\
    \ for domain names that cannot be resolved.\"\n"
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/instance: spark-k8s-operator
    app.kubernetes.io/name: spark-k8s-operator
    app.kubernetes.io/version: 24.11.1
    stackable.tech/vendor: Stackable
  name: spark-k8s-operator-configmap
