apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: quota-template-webhook-server-cert
  creationTimestamp: null
  name: tenant-operator-quota-template-webhook-service
spec:
  ports:
  - port: 443
    targetPort: 9443
  selector:
    control-plane: controller-manager-quota-template
status:
  loadBalancer: {}
