apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
    createdAt: "2023-06-29T14:12:02Z"
    operators.operatorframework.io/builder: operator-sdk-v1.30.0
    operators.operatorframework.io/project_layout: unknown
  name: keysight-keycloak-operator.v0.1.11
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
      - kind: KCOSClientRoleMapping
        name: kcosclientrolemappings.keycloak.org
        version: v1alpha1
      - kind: KCOSRealmRole
        name: kcosrealmroles.keycloak.org
        version: v1alpha1
      - kind: KCOSUserRoleMapping
        name: kcosuserrolemappings.keycloak.org
        version: v1alpha1
      - kind: KeycloakBackup
        name: keycloakbackups.keycloak.org
        version: v1alpha1
      - kind: KeycloakClient
        name: keycloakclients.keycloak.org
        version: v1alpha1
      - kind: KeycloakRealm
        name: keycloakrealms.keycloak.org
        version: v1alpha1
      - kind: Keycloak
        name: keycloaks.keycloak.org
        version: v1alpha1
      - kind: KeycloakUser
        name: keycloakusers.keycloak.org
        version: v1alpha1
  description: Keysight Keycloak Operator
  displayName: Keysight Keycloak Operator
  icon:
    - base64data: PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMTQwLjY3OTYzIiBoZWlnaHQ9IjEwOS42MTAzMiIgaWQ9InN2ZzQxMjIiPg0KICA8ZGVmcyBpZD0iZGVmczQxMjQiLz4NCiAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEyOS42NjAxOSwtNDc3LjU1NykiIGlkPSJsYXllcjEiPg0KICAgIDxwYXRoIGQ9Im0gMjY0LjM4ODUxLDUzNC4wNTQxNSBjIC0xLjAyNCwtMC4xNTc4MyAtMy4xODIxLC0xLjIzMzIgLTQuNzI3MjcsLTcuMTIwMjcgLTIuNDczNzQsLTkuNDIxNTEgLTMuNjQwODgsLTE3LjUwMzM4IC03LjgzMjI5LC0xNy41MDMzOCAtNC4xOTUwOSwwIC02LjA5NjI3LDguMDgxODcgLTguNTcwMDEsMTcuNTAzMzggLTEuNDY0NDMsNS41NzE0MyAtMy4wMDU5Myw3LjEyMDI3IC01LjQ3OTY4LDcuMTIwMjcgLTIuMzE5NTgsMCAtNC43MjM1OSwtMS4xMzQxIC04LjI2MTcxLC0xNS42OTc2MyBDIDIyNi40MjcyMiw1MDUuNjIwOCAyMjQuMzIwNSw0ODIuNTU3IDIxMy45NDg0LDQ4Mi41NTcgYyAtMTAuMzc5NDUsMCAtMTMuNDM2NzYsMzAuMDYyOTUgLTE0Ljc3MjcyLDM1Ljg1ODI1IC0xLjY0NDI2LDcuMTQyMjggLTUuNzI1NTgsMTUuNjQyNTcgLTEwLjg2MDI0LDE1LjY0MjU3IC01LjEzNDY3LDAgLTcuNzkxOTIsLTUuOTEyNzYgLTkuMzI5NzYsLTEyLjI1ODYxIC0yLjM1MjYzLC05LjcxNTEzIC01LjAyODIzLC0yMy43Nzk0OSAtMTEuODU0ODgsLTIzLjc3OTQ5IC02LjgzMDMxLDAgLTkuMDQ3MTMsMTEuNjQ1NjggLTEyLjA1NjczLDI0LjM2NjczIC0xLjc3MjczLDcuNDk4MzEgLTQuNjAyNDksMTEuNjcxMzcgLTkuNTc1NjcsMTEuNjcxMzcgbCAtMTAuODM4MjEsMCAwLDAuMDQ3NyBjIDEuNDE2NzEsMC40MjIwOCA0LjI0MjgsMi43NjM2OSA0Ljk3MzE4LDcuMzAwMSAxLjcxNzY3LDEwLjcwNjEgMy4wMzE2MSwxNy4zMzA4OSA2Ljc2NzkyLDE3LjMzMDg5IDMuNzM2MywwIDUuMDk0MjksLTUuNzEwOSA3LjI1OTc0LC0xNC42MTEyNCAxLjY5MTk3LC02Ljk3MzQ1IDQuMzM0NTUsLTEwLjAxNjA5IDcuNDkwOTUsLTEwLjAxNjA5IDQuNjM5MTksMCA2LjgyMjk5LDUuNjE1NDggOS4zNTkxMiwxNi4zNDcyNSA1LjA0MjksMjEuMzc5MTcgNi4xMTgyOSwzMS43MTA4OSAxNC4yNDQyLDMxLjcxMDg5IDguMDYzNTIsMCA5LjMyMjQyLC0xMC4zNTM3NSAxNC43NDMzNSwtMzEuNzEwODkgMi4zNTk5OCwtOS4yODkzNyA2Ljc2MDU5LC0xNi4zNTA5MSAxMS44OTUyNywtMTYuMzUwOTEgNS4xMzQ2NiwwIDguODAxMjIsNi44NDEzMyAxMC42NjkzOCwxMi4yOTUzIDQuMDQ0NiwxMS44MjU1MSA1LjkwOTA5LDE2LjI3NzUzIDEwLjM2NDc1LDE2LjI3NzUzIDQuNDUyMDIsMCA2Ljk2OTc5LC01LjM0Mzg4IDEwLjg5Njk1LC0xOC4yNDg0NCAyLjQ3Mzc0LC04LjEyMjI1IDIuODM3MSwtMTAuMzI0MzkgMTAuMTE1MTksLTEwLjMyNDM5IGwgMTAuOTQ4MzIsMCAwLC0wLjA1MTQgeiIgaWQ9InBhdGg0MCIgc3R5bGU9ImZpbGw6I2U5MDAyOTtmaWxsLW9wYWNpdHk6MTtmaWxsLXJ1bGU6bm9uemVybztzdHJva2U6bm9uZSIvPg0KICA8L2c+DQo8L3N2Zz4=
      mediatype: image/svg+xml
  install:
    spec:
      clusterPermissions:
        - rules:
            - apiGroups:
                - ""
              resources:
                - secrets
              verbs:
                - list
                - get
          serviceAccountName: keysight-keycloak-operator
      deployments:
        - name: keysight-keycloak-operator
          spec:
            replicas: 1
            selector:
              matchLabels:
                name: keysight-keycloak-operator
            strategy: {}
            template:
              metadata:
                labels:
                  name: keysight-keycloak-operator
              spec:
                containers:
                  - command:
                      - keycloak-operator
                    env:
                      - name: RELATED_IMAGE_KEYCLOAK_INIT_CONTAINER
                        value: prod.harbor.keysight.digital/loadcore/kcos-keycloak-init-container@sha256:90965beaf41c760cb8c8bf906acf08f8fe4770d313de8dfd92d18d7c25348a38
                      - name: RELATED_IMAGE_KEYCLOAK
                        value: prod.harbor.keysight.digital/loadcore/kcos-keycloak@sha256:772f73cce6a77b9c46f8035faac99a28602219657d18b75b19b4d905d91942c9
                      - name: RELATED_IMAGE_POSTGRESQL
                        value: prod.harbor.keysight.digital/loadcore/kcos-keycloak-postgresql@sha256:b636955199065e18f9d4679835ae78214843258e5abb4ae758288d6f00df2f8e
                      - name: WATCH_NAMESPACE
                        valueFrom:
                          fieldRef:
                            fieldPath: metadata.annotations['olm.targetNamespaces']
                      - name: POD_NAME
                        valueFrom:
                          fieldRef:
                            fieldPath: metadata.name
                      - name: OPERATOR_NAME
                        value: keysight-keycloak-operator
                    image: prod.harbor.keysight.digital/loadcore/kcos-keycloak-operator@sha256:17de4a50b74edf7fc61b80cce141d77d93c414c2952406e2b8271dd65b3ebe85
                    imagePullPolicy: IfNotPresent
                    name: keysight-keycloak-operator
                    resources: {}
                serviceAccountName: keysight-keycloak-operator
      permissions:
        - rules:
            - apiGroups:
                - ""
              resources:
                - pods
                - services
                - services/finalizers
                - endpoints
                - persistentvolumeclaims
                - events
                - configmaps
                - secrets
              verbs:
                - list
                - get
                - create
                - patch
                - update
                - watch
                - delete
            - apiGroups:
                - apps
              resources:
                - deployments
                - daemonsets
                - replicasets
                - statefulsets
              verbs:
                - list
                - get
                - create
                - update
                - watch
            - apiGroups:
                - batch
              resources:
                - cronjobs
                - jobs
              verbs:
                - list
                - get
                - create
                - update
                - watch
            - apiGroups:
                - route.openshift.io
              resources:
                - routes/custom-host
              verbs:
                - create
            - apiGroups:
                - route.openshift.io
              resources:
                - routes
              verbs:
                - list
                - get
                - create
                - update
                - watch
            - apiGroups:
                - networking.k8s.io
              resources:
                - ingresses
              verbs:
                - list
                - get
                - create
                - update
                - watch
            - apiGroups:
                - monitoring.coreos.com
              resources:
                - servicemonitors
                - prometheusrules
              verbs:
                - list
                - get
                - create
                - update
                - watch
            - apiGroups:
                - integreatly.org
              resources:
                - grafanadashboards
              verbs:
                - get
                - list
                - create
                - update
                - watch
            - apiGroups:
                - apps
              resourceNames:
                - keysight-keycloak-operator
              resources:
                - deployments/finalizers
              verbs:
                - update
            - apiGroups:
                - policy
              resources:
                - poddisruptionbudgets
              verbs:
                - get
                - list
                - create
                - update
                - watch
            - apiGroups:
                - keycloak.org
              resources:
                - keycloaks
                - keycloaks/status
                - keycloaks/finalizers
                - keycloakrealms
                - keycloakrealms/status
                - keycloakrealms/finalizers
                - keycloakclients
                - keycloakclients/status
                - keycloakclients/finalizers
                - keycloakbackups
                - keycloakbackups/status
                - keycloakbackups/finalizers
                - keycloakusers
                - keycloakusers/status
                - keycloakusers/finalizers
                - kcosclientrolemappings
                - kcosclientrolemappings/status
                - kcosclientrolemappings/finalizers
                - kcosrealmroles
                - kcosrealmroles/status
                - kcosrealmroles/finalizers
                - kcosuserrolemappings
                - kcosuserrolemappings/status
                - kcosuserrolemappings/finalizers
              verbs:
                - get
                - list
                - update
                - watch
                - patch
          serviceAccountName: keysight-keycloak-operator
    strategy: deployment
  installModes:
    - supported: true
      type: OwnNamespace
    - supported: false
      type: SingleNamespace
    - supported: false
      type: MultiNamespace
    - supported: false
      type: AllNamespaces
  keywords:
    - loadcore
    - keysight
  links:
    - name: Keysight Keycloak Operator
      url: https://keysight-keycloak-operator.domain
  maintainers:
    - email: vlad.butusina@keysight.com
      name: Vlad Butusina
  maturity: alpha
  provider:
    name: Keysight
    url: keysight.com
  relatedImages:
    - image: prod.harbor.keysight.digital/loadcore/kcos-keycloak-init-container@sha256:90965beaf41c760cb8c8bf906acf08f8fe4770d313de8dfd92d18d7c25348a38
      name: keycloak-init-container
    - image: prod.harbor.keysight.digital/loadcore/kcos-keycloak@sha256:772f73cce6a77b9c46f8035faac99a28602219657d18b75b19b4d905d91942c9
      name: keycloak
    - image: prod.harbor.keysight.digital/loadcore/kcos-keycloak-postgresql@sha256:b636955199065e18f9d4679835ae78214843258e5abb4ae758288d6f00df2f8e
      name: postgresql
    - image: prod.harbor.keysight.digital/loadcore/kcos-keycloak-init-container@sha256:90965beaf41c760cb8c8bf906acf08f8fe4770d313de8dfd92d18d7c25348a38
      name: keycloak-init
    - image: docker-virtual-kcos.artifactorylbj.it.keysight.com/kcos-keycloak-custom-ui@sha256:172824b4f4f777d20920f7b00f8f7927565d3c4ee6082712097aea1d1ab4811c
      name: keycloak-custom-ui
    - image: prod.harbor.keysight.digital/loadcore/kcos-keycloak-postgresql@sha256:b636955199065e18f9d4679835ae78214843258e5abb4ae758288d6f00df2f8e
      name: keycloak-postgresql
    - image: prod.harbor.keysight.digital/loadcore/kcos-keycloak-operator@sha256:17de4a50b74edf7fc61b80cce141d77d93c414c2952406e2b8271dd65b3ebe85
      name: keysight-keycloak-operator
    - image: prod.harbor.keysight.digital/loadcore/kcos-keycloak-init-container@sha256:90965beaf41c760cb8c8bf906acf08f8fe4770d313de8dfd92d18d7c25348a38
      name: keycloak_init_container
  version: 0.1.11
