apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: cloudnfvs.eweb.enterpriseweb.com
spec:
  group: eweb.enterpriseweb.com
  names:
    kind: CloudNFV
    listKind: CloudNFVList
    plural: cloudnfvs
    singular: cloudnfv
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: CloudNFV is the Schema for the cloudnfvs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: CloudNFVSpec defines the desired state of CloudNFV
            properties:
              size:
                description: Size is number of units for deployment
                format: int32
                minimum: 0
                type: integer
            required:
            - size
            type: object
          status:
            description: CloudNFVStatus defines the observed state of CloudNFV
            properties:
              nodes:
                items:
                  type: string
                type: array
            required:
            - nodes
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
