apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: mto-dependencies-operator
    control-plane: controller-manager
  name: mto-dependencies-operator-metrics
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  selector:
    app.kubernetes.io/name: mto-dependencies-operator
    control-plane: controller-manager
status:
  loadBalancer: {}
