# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021-2022 Intel Corporation

apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    control-plane: controller-manager
    name: splunk-operator
  name: splunk-operator-controller-manager-service
spec:
  ports:
    - name: metric
      port: 8080
      protocol: TCP
      targetPort: 8080
    - name: health
      port: 8081
      protocol: TCP
      targetPort: 8081
  selector:
    control-plane: controller-manager
    name: splunk-operator
status:
  loadBalancer: {}
