apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "priebus.steamngin.com/v1",
          "kind": "Stealserver",
          "metadata": {
            "name": "stealserver-sample"
          },
          "spec": {
            "stealAppIngressPath": "/",
            "stealAppIngressPathType": "Prefix",
            "stealAppName": "stealserver",
            "stealDomainName": "steal.steamngin.com",
            "stepImage": "registry.connect.redhat.com/steamngin/stealserver:1.0.0-alpha",
            "stepImagePullsecret": "stepimage-pullsecret"
          }
        }
      ]
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v1.25.0
    operators.operatorframework.io/project_layout: helm.sdk.operatorframework.io/v1
    marketplace.openshift.io/remote-workflow: https://marketplace.redhat.com/en-us/operators/stealserver-operator/pricing?utm_source=openshift_console
    marketplace.openshift.io/support-workflow: https://marketplace.redhat.com/en-us/operators/stealserver-operator/support?utm_source=openshift_console
  name: stealserver-operator.v1.0.0-alpha
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - kind: Stealserver
      name: stealservers.priebus.steamngin.com
      version: v1
  description: Operator to deploy Steam Ngin License (STEAL) Server
  displayName: STEAL Server
  icon:
  - base64data: iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABGdBTUEAALGPC/xhBQAABA5pQ0NQa0NHQ29sb3JTcGFjZUdlbmVyaWNSR0IAADiNjVVdaBxVFD6bubMrJM6D1Kamkg7+NZS0bFLRhNro/mWzbdwsk2y0QZDJ7N2daSYz4/ykaSk+FEEQwajgk+D/W8EnIWqr7YstorRQogSDKPjQ+keh0hcJ67kzs7uTuGu9y9z55pzvfufec+7eC5C4LFuW3iUCLBquLeXT4rPH5sTEOnTBfdANfdAtK46VKpUmARvjwr/a7e8gxt7X9rf3/2frrlBHAYjdhdisOMoi4mUA/hXFsl2ABEH7yAnXYvgJxDtsnCDiEsO1AFcYng/wss+ZkTKIX0UsKKqM/sTbiAfnI/ZaBAdz8NuOPDWorSkiy0XJNquaTiPTvYP7f7ZF3WvE24NPj7MwfRTfA7j2lypyluGHEJ9V5Nx0iK8uabPFEP9luWkJ8SMAXbu8hXIK8T7EY1V7vBzodKmqN9HAK6fUmWcQ34N4dcE8ysbuRPy1MV+cCnV+UpwM5g8eAODiKi2wevcjHrBNaSqIy41XaDbH8oj4uOYWZgJ97i1naTrX0DmlZopBLO6L4/IRVqc+xFepnpdC/V8ttxTGJT2GXpwMdMgwdfz1+nZXnZkI4pI5FwsajCUvVrXxQsh/V7UnpBBftnR/j+LcyE3bk8oBn7+fGuVQkx+T7Vw+xBWYjclAwYR57BUwYBNEkCAPaXxbYKOnChroaKHopWih+NXg7N/CKfn+ALdUav7I6+jRMEKm/yPw0KrC72hVI7wMfnloq3XQCWZwI9QxSS9JkoP4HCKT5DAZIaMgkifJU2SMZNE6Sg41x5Yic2TzudHUeQEjUp83i7yL6HdBxv5nZJjgtM/FSp83ENjP2M9rypXXbl46fW5Xi7tGVp+71nPpdCRnGmotdMja1J1yz//CX+fXsF/nN1oM/gd+A3/r21a3Nes0zFYKfbpvW8RH8z1OZD6lLVVsYbOjolk1VvoCH8sAfbl4uwhnBlv85PfJP5JryfeSHyZ/497kPuHOc59yn3HfgMhd4C5yX3JfcR9zn0dq1HnvNGvur6OxCuZpl1Hcn0Ja2C08KGSFPcLDwmRLT+gVhoQJYS96djerE40XXbsGx7BvZKt9rIAXqXPsbqyz1uE/VEaWBid8puPvMwNObuOEI0k/GSKFbbt6hO31pnZ+Sz3ar4HGc/FsPAVifF98ND4UP8Jwgxnfi75R7PHUcumyyw7ijGmdtLWa6orDyeTjYgqvMioWDOXAoCjruui7HNGmDrWXaOUAsHsyOMJvSf79F9t5pWVznwY4/Cc791q2OQ/grAPQ+2jLNoBn473vAKw+pnj2UngnxGLfAjjVg8PBV08az6sf6/VbeG4l3gDYfL1e//v9en3zA9TfALig/wP/JXgLxWPWywAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAhGVYSWZNTQAqAAAACAAGAQYAAwAAAAEAAgAAARIAAwAAAAEAAQAAARoABQAAAAEAAABWARsABQAAAAEAAABeASgAAwAAAAEAAgAAh2kABAAAAAEAAABmAAAAAAAAAEgAAAABAAAASAAAAAEAAqACAAQAAAABAAAAIKADAAQAAAABAAAAIAAAAAA/piPhAAAACXBIWXMAAAsTAAALEwEAmpwYAAADRmlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNi4wLjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyIKICAgICAgICAgICAgeG1sbnM6ZXhpZj0iaHR0cDovL25zLmFkb2JlLmNvbS9leGlmLzEuMC8iPgogICAgICAgICA8dGlmZjpDb21wcmVzc2lvbj4xPC90aWZmOkNvbXByZXNzaW9uPgogICAgICAgICA8dGlmZjpSZXNvbHV0aW9uVW5pdD4yPC90aWZmOlJlc29sdXRpb25Vbml0PgogICAgICAgICA8dGlmZjpYUmVzb2x1dGlvbj43MjwvdGlmZjpYUmVzb2x1dGlvbj4KICAgICAgICAgPHRpZmY6WVJlc29sdXRpb24+NzI8L3RpZmY6WVJlc29sdXRpb24+CiAgICAgICAgIDx0aWZmOlBob3RvbWV0cmljSW50ZXJwcmV0YXRpb24+MjwvdGlmZjpQaG90b21ldHJpY0ludGVycHJldGF0aW9uPgogICAgICAgICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICAgICA8ZXhpZjpQaXhlbFhEaW1lbnNpb24+MjE2PC9leGlmOlBpeGVsWERpbWVuc2lvbj4KICAgICAgICAgPGV4aWY6Q29sb3JTcGFjZT4xPC9leGlmOkNvbG9yU3BhY2U+CiAgICAgICAgIDxleGlmOlBpeGVsWURpbWVuc2lvbj4yMTY8L2V4aWY6UGl4ZWxZRGltZW5zaW9uPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KjPOJEAAACOZJREFUWAlNV0tsXFcZ/mbuvfO2Pbbjd2xw3DRObCs2SfNoQnEapaLKpkhFsEgXgJBYULFhC8qOBawQO1iyRRUUKYqERFREq5IaaidNHDsmdhy/xjO253XnPcP3nXAcH+nMedz//P/3P8+ZwI0bN1r1eh3qjUYDnufBdV3Ta7Ua1AOBAFqtltlrNptQt/Q6o7VaMBg0dKJV0yh+Gu0Z8dK8Wq2a/WAoFDLMdMAyEEGlUjH7OiwhlonrOIcCPc6DPCemR7vOq2tPCti1+GvPytLoWkFmlz8itk2CdUB7mssyTWmnNS3WisWQ6OhApVBAg4BrpLFgNTabDYRC4UMFxdcC0NyRAgIgK1gh0lTmFXKNWtsmprVyGTmOPrUZJ4Axx0WMjKoEKlA6I56RSAT9/QNmrXPSXgLVrVtE60q4hFhzWTdYTfTtpTZNtMXjKJHRyMEB3imUUXnyFHv1BqIU/mSoH1vRCDzOBWBiYoIA+rGwsIDFxUUkk0mjh7WwVdQVc4FQ933/0OTG3P83vZAmaepwezsGyPzbeR+bbQn8IeIiEY2it1TG0No6qsODOEgkEOPe9vY2ohzFX1pLsISqy7raV3ftpuCFw6/8pSi1TWBCjOYC995O76FO895J0P9VFz3xBIoUmtrdRWRjE60To4jQNZlMBul0GgXGR4xrKSEQ6oY3LaUWlK8sCAnSXMQaRax5JBxBjetefu+jG/KVKtqp3Ynjx+F4LrIUHiDAej4HmhEerRnmGQmXv8VD2loryN0t8pa7gy+FNIzfNNdHGyxCGJOG+QOEozEkOzsR9kto0RIxai06uS3IkQuRmwzRUM5l0NbeYYSKTnwtEAmWstxEUJpyPBQqQtuiNN3G04cYn/oGPvzFr3H22Aji6W0kPMZLPs9Ij5poD4oZgzF4rBf/XVnBdz74MW588DPMfXHf8BZPmd363VpZWeMqIIRIRNbs8llPby8KuRze/8GH+OFPf4507gAHj+aQ7BlE6tEyJr/7HjplEdfB0MAAmkEHuWdrOE70zYCL93/0E8Ta2/DH3/wSNYfgaAXJsW6QLOOCMvNappGvbE1QRlS4v5dOoXdgCBU3htROGlunxvDJ1BlEElH0szycOH0aM9PTiG9to/V4kXyaiJ4cxuefP8Dig8cY+fooanWWcIcluvmqokq4XGCyQBaQ9kIjEBZIjaCK9Pfa8iPs7O4j69cRZiDVzpzBM6Zjx527yLW14fUrb2J1/QW+eLqM7ufPEemLI51J46OP/4HizhM0is8Q6T7PWEnRNi9LtrW0ZDp9fX235XPre1MBCcphhXOcAAaHR9FIjGJpZRWrn/4ZF86cxez3v4f4hTfw79/+DundFEYvXkSCRcenBaqlAqJfG0cdcRykN+HVcmgFPZRKJaOklSVXmGAfHBy8rYXQCJma+aVV4hEPwdgx5AJdqOTTGO/2EPvkn/Dp2xMzMxi5/jYefPxXlObnEXrtNcynUvCiIabOMEpeD/KZTYQq2+js6kOxWDAFSPwl+DDjBEBaq8kv1jct3klMHDS8JLw21vRCCkNtTPOFr7D40V+w7RfQNzaGkwSxs7qK8N/vocBU3akWQROgnjiOUnodnV4WXjiObPbAxJgRxB8b9Mwg99DvQqVANJlB8ztMt5oTw/7+PurlArZTO9gu+Wju72L5q0d4SM19fotcvIAAb753qw2ciroItnfj2ImzaB89j2pTJT7PLH15m0p7NVnbBKPyU4IFxBYKfVA1aDSDKK/9C5Wij66Tr2Nr5T8YYCWsn5nA2Ds3mJI9+PSzz/B4eRmnWPkGAnXMDE3Dn7mJRqmKvS//hEST4FsuapQjN9tmY87p7e29LcESaoLiCEKBc5UZjSzKZZ9uyKKDla/My2e1UkaKtT7DrheEx0zooiLzzJwltCF151dAdgEVzkvFvIkrq7UUtnHgCpXyXmbXB62VispRHfDJsOJUUd9/wJuPl87mJsKMUl0+ZdLHeJeUCDRAC2b2c6iFPUQXf49yzUcjPIxKKU+er8wuwdb/Gl1dRhKsdvTC0J6xDEfNWy3H3IZZgor7ZTQ4yqA+L5x9WqWPsVFcfYr9vmOoBbtRbfh0tMzuHPKVcurGxRSuZpyiTaHRqGaro+YqobIIS5lhlEnygqn4aBWLKBJYRjWDYPpyeRS7e7BUq6KW5ZXdqKPMgJYSVkHx09yuBeTwPWDNIiuo6aMdNW/wIBGgxofI/sAgunn3J2JxREIeBnd24TNQ/9bTBYc0OVpE2WR5Wj4Co2atYACIyBKKwK41ivDoITH1eOvtdXXC3wOO86kVT7ThCYUujgwhzmdXhbdkiXRq4sEf81bUWgJtt9Z2FekKDKXh0ZTUAQWmYcK5tYxAkAv8WBRb7HWCjPEl1c8bNERhWQWkzlIZBXeT4KSETXO9uo7yNA8SMd1kdItQL5UXL15gY3PDWEBFaGdnxyCX77SWc5q8LUOs7zHGQoQmdwgkvbdnnmF6pEjgc15OGxsbRqD4q4m3eEg5kxGTk5OtDj44OfIBMYccn1VXrlwxl8e9e/dw6dIlw+z+/fsGxMTEJObnv4TOJPgqsuma4j0wwHeBmEqRubk53Lx508zv3r2L2dlZPHz4ENPTM8jlsrwbikYx879ADxAJHT89jqWlJYyxxnd1dZmX7dWrV3Hu3Dmsra3h8uXLpHvTWCbOijjNt8D169ehuTTVube++RbOn3/DaHvt2jXovJroVA1nZ7+FW7dumbN6tJrrWAERY0Svrz/HyspTo6mA6Apt592fZ2Ats9xKwxU+uaR1NqvqWDYgZVYbtLssUIVC3tBFeTnJbbKGQO7RRVm+stLpjHG5lApMTU21dHhra4uv3zASfGTo5tJfKhUpMRQTvhsMA8WLLCZTa64uV2gtwFoL8PDwMBVaN9oLuPiLh+JJLco/Mclk50sA2lCxUWAoE9RssVAwqUlrAdUoOqWThKpprX1ZUjSWzhQwfhcoy1/fbAqa7JAgmyJiKgLtaVSzQDTXdwvErjVappZWdOKptYSoCaSa9tQtiP8B5bFCCYToG1oAAAAASUVORK5CYII=
    mediatype: image/png
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ''
          resources:
          - namespaces
          verbs:
          - get
        - apiGroups:
          - ''
          resources:
          - secrets
          - services
          verbs:
          - '*'
        - apiGroups:
          - ''
          resources:
          - events
          verbs:
          - create
        - apiGroups:
          - priebus.steamngin.com
          resources:
          - stealservers
          - stealservers/status
          - stealservers/finalizers
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ''
          resources:
          - services
          verbs:
          - '*'
        - apiGroups:
          - apps
          resources:
          - deployments
          verbs:
          - '*'
        - apiGroups:
          - networking.k8s.io
          resources:
          - ingresses
          verbs:
          - '*'
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        - apiGroups:
          - networking.k8s.io
          resources:
          - ingresses
          verbs:
          - '*'
        - apiGroups:
          - apps
          resources:
          - secrets
          - services
          - deployments
          verbs:
          - '*'
        serviceAccountName: stealserver-operator-controller-manager
      deployments:
      - label:
          app.kubernetes.io/component: manager
          app.kubernetes.io/created-by: stealserver-operator
          app.kubernetes.io/instance: controller-manager
          app.kubernetes.io/managed-by: kustomize
          app.kubernetes.io/name: deployment
          app.kubernetes.io/part-of: stealserver-operator
          control-plane: controller-manager
        name: stealserver-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: manager
              labels:
                control-plane: controller-manager
            spec:
              affinity:
                nodeAffinity:
                  requiredDuringSchedulingIgnoredDuringExecution:
                    nodeSelectorTerms:
                    - matchExpressions:
                      - key: kubernetes.io/arch
                        operator: In
                        values:
                        - amd64
                        - arm64
                        - ppc64le
                        - s390x
                      - key: kubernetes.io/os
                        operator: In
                        values:
                        - linux
              containers:
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=0
                image: gcr.io/kubebuilder/kube-rbac-proxy:v0.13.0
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                  protocol: TCP
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 5m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=127.0.0.1:8080
                - --leader-elect
                - --leader-election-id=stealserver-operator
                image: registry.connect.redhat.com/steamngin/stealserver-operator:1.0.0-alpha
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 10m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
                imagePullPolicy: Always
              securityContext:
                runAsNonRoot: true
              serviceAccountName: stealserver-operator-controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ''
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ''
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: stealserver-operator-controller-manager
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - steal
  - steam license server
  - license
  - licensing
  - server
  links:
  - name: Stealserver Operator
    url: https://stealserver-operator.domain
  maintainers:
  - email: tech@steamngin.com
    name: Steam Ngin
  maturity: alpha
  provider:
    name: Steam Ngin
    url: https://www.steamngin.com
  version: 1.0.0-alpha
