---
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: clife
    control-plane: controller-manager
  name: clife-metrics
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 18443
  selector:
    control-plane: controller-manager
status:
  loadBalancer: {}
