# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021-2022 Intel Corporation

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: pachydermexports.aiml.pachyderm.com
spec:
  group: aiml.pachyderm.com
  names:
    kind: PachydermExport
    listKind: PachydermExportList
    plural: pachydermexports
    singular: pachydermexport
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: PachydermExport is the Schema for the pachydermexports API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: PachydermExportSpec defines the desired state of PachydermExport
            properties:
              backup:
                description: Backup options allow the user to provide options when
                  performing a backup
                properties:
                  target:
                    description: Name of Pachyderm instance to backup.
                    type: string
                required:
                - target
                type: object
              restore:
                description: Restore allows a user to restore a backup to a new Pachyderm
                  cluster
                properties:
                  backup:
                    description: Name of backup to restore
                    type: string
                  destination:
                    description: Name of the pachyderm instance to restore the backup
                      to
                    properties:
                      name:
                        type: string
                      namespace:
                        type: string
                    type: object
                required:
                - destination
                type: object
            type: object
          status:
            description: PachydermExportStatus defines the observed state of PachydermExport
            properties:
              backupName:
                description: Name and location of backup resource created
                type: string
              completedAt:
                description: Time the backup process completed
                type: string
              startedAt:
                description: Time the backup process commenced
                type: string
            required:
            - backupName
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
