apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  name: deleteclusters.bas.ibm.com
spec:
  group: bas.ibm.com
  names:
    kind: DeleteCluster
    listKind: DeleteClusterList
    plural: deleteclusters
    singular: deletecluster
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ''
    plural: ''
  conditions: null
  storedVersions: null
