# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021-2022 Intel Corporation

---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: owner
rules:
  - verbs:
      - create
      - update
      - patch
    apiGroups:
      - ''
    resources:
      - namespaces
