apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "habana.ai/v1",
          "kind": "DeviceConfig",
          "metadata": {
            "name": "habana-ai-deviceconfig-instance"
          },
          "spec": {
            "driverImage": "vault.habana.ai/habana-ocp-operator/1.9.0/habana-ai-driver",
            "driverVersion": "1.9.0-580"
          }
        }
      ]
    capabilities: Basic Install
    categories: AI/Machine Learning, OpenShift Optional
    certified: "true"
    containerImage: vault.habana.ai/habana-ocp-operator/1.9.0/habana-ai-operator@sha256:c42ef24c4604a3ce41b292e88e5e5acf5694d6fe0a020aa9952a610a470f0af1
    description: Manages Habana Labs accelerators within a Kubernetes cluster
    olm.skipRange: '>=0.0.0 <0.3.0'
    operatorframework.io/cluster-monitoring: "true"
    operatorframework.io/suggested-namespace: habana-ai-operator
    operators.openshift.io/infrastructure-features: '["disconnected"]'
    operators.operatorframework.io/builder: operator-sdk-v1.22.2
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
    repository: http://github.com/HabanaAI/habana-ai-operator
    support: Habana Labs Ltd.
  name: habana-ai-operator.v1.9.0-580
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
      - description: DeviceConfig is the Schema for the deviceconfigs API
        displayName: Device Config
        kind: DeviceConfig
        name: deviceconfigs.habana.ai
        version: v1
  description: |
    Kubernetes provides access to accelerators such as Habana Labs AI accelerators and other devices through the [Device Plugin framework](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/device-plugins/). However, configuring and managing nodes with these hardware resources requires configuration of multiple software components such as drivers, container runtimes or other libraries which are difficult and prone to errors.
    The Habana AI uses the [operator framework](https://coreos.com/blog/introducing-operator-framework) within Kubernetes to automate the management of all Habana Labs software components needed to provision and monitor AI accelerators. These components include:
    * The Habana Labs kernel modules to enable the hardware,
    * The Kubernetes DevicePlugin to allow AI accelerator allocation via the kubelet,
    ### Documentation
    Visit the [official site of the Habana AI](https://github.com/HabanaAI/habana-ai-operator) for more information.
    To get started with using the Habana AI with OpenShift, see the instructions in the [Habana AI Documentation](https://habana.ai/docs/habana-ai-operator/index.html).
  displayName: Habana AI
  icon:
    - base64data: iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAYAAABV7bNHAAABhGlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AYht+mikUqHewg4pChdrIgKuKoVShChVArtOpgcukfNGlIUlwcBdeCgz+LVQcXZ10dXAVB8AfE0clJ0UVK/C4ptIjxjuMe3vvel7vvAKFZZZrVMw5oum1mUkkxl18V+14RohlBHILMLGNOktLwHV/3CPD9LsGz/Ov+HANqwWJAQCSeZYZpE28QT2/aBud94igryyrxOfGYSRckfuS64vEb55LLAs+MmtnMPHGUWCx1sdLFrGxqxFPEMVXTKV/Ieaxy3uKsVeusfU/+wnBBX1nmOq0RpLCIJUgQoaCOCqqwkaBdJ8VChs6TPv5h1y+RSyFXBYwcC6hBg+z6wf/gd2+t4uSElxROAr0vjvMxCvTtAq2G43wfO07rBAg+A1d6x19rAjOfpDc6WuwIiGwDF9cdTdkDLneAoSdDNmVXCtISikXg/Yy+KQ8M3gL9a17f2uc4fQCy1Kv0DXBwCMRLlL3u8+5Qd9/+rWn37wcg0HKGK7YS1wAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB+YICA8mLu1Z+McAAA3RSURBVHja7Vx5dFRVmv/uq71e7XtVUtnIHgIkkbDIomyGiII5Ihob9RyVhp4D046e7rYbu7VHhz42ardOq9PHaRVbbQFHMgqIICBJJARICCFrsSSpLLWmlvdqX+780e2cmU7KpBaKOZl8/75b9/e93/vet95XCG6hnOgdz3F7gk8Mmj2brU5/YbvZBySLgCIFF0Qk+2hhhrAtS8F/uypLOHyrdES3AtQbjHIa2k27j7SZdx4f8ohNvvDERRggT8CCDcUSyx1limfqKtUf/L8gqH2YUn/dYXnr41bzpouu4LTw16h5uK5a887GKvWuDAnXP2MJGrT7uO+dMb7+TovpSWMgGtdvy4Qs2LlK/xrw2U9vX6TB6dKZSCdBTQbHSwfbrXGTAwDQRYVgf6vpqSySuSOdOqeNoCujdMXJK7Ydne5QwnucMnnhdKdlt5UOCWccQS1XHWtOXXfzktkDY4Bmg0v7jcFRO+MI6jJStde94aT3aXUGwWb3PDSjCKLDmDTZfcpU7BWKYjg7QIlnFEF9Jk+mimSWpWo/tyckwBizZwxBDAJhlMKEIoIh+tdUcoYQNE/LHxqlwh2p2k8tZnsRQqEZQxCBkL9ASzpSsRefQFCdLTTNuCimk/MO5HIZSe9TLeeASkEemHEELS9RHKktkVJJ+TIEsLpUdn11kezIjCNono4cWFWu3LNIxkl4j1q9ABYVyX8p4DD8M44gAICqbNHeTRXKPQV8ZtwRaKGMg9fMU/6jMxj9KJ06M9MJliPnhaIY/5LNIhiH26zPnLT4pn5ACOCBHCFet0D10qPLM99kEQinU+db0jCLYsz86ortn8722J76tHNc00WFJiQ1BADMlbBh83zFjap86bbacuWJW6HrLSHoO+ke80hvWD1LvzU41rMw3jLkDGAWgSBbxkWIyfhkRZHsP31R3LimSOaDWZmVWZmVWZmVtEQxjDG32+LTAwZCL+cNiljopmS+rkBUMOzwZwCCaKmKZ0Qo9TgpI8hg9RYe6bDeOWj1Pmi0eMV6IbMCAcAgHbk0Xy9wztEJj1fnSd7MV/KcyeC0DdOl3UbXxh6je90Nk1etFTBLMAAYqXB7SQbp0msEf7mjSHaqQMnv/z9B0OURmtM17P5pS+/4Tw73OMir/sik64pJJtyZL7asKVfusUXg9z+Mc7Z1vNvOsFDBvcc6LE+eG6DIvhj97VIhC2qKpZ5lpfLnqrJEb2TLeeFbRtChK3aRxUwf/t3p4WXdVGhaYEuVXLi3Qrn33gr17hKtIDAdnItDlParDvOefefMj/bQ0+uTLVVwcV2l8sXaSu0rpRq+K+212FWbT37ikvnIS8eN1cZAZHq+CQCarX4Y/9b0jFLAVgHAo1P6GV+Y+2+nBt/51+ax2hF/ZNr6fWvzI1+r+TmlmDMfY1yHEIokcp8JV/Nnemxb3/hmZNrk/E/poUOwr3Fka0OHpX6qtR+3jD72wVnT+njI+U7anUH4qGl0w+cd1h+ktd1x7ppDcPyy7ekuKvG28GmrH7X22J5vH6FFsdZcGHLnXbrufKmTCiXsCo6NeonWPvvPv+yxM9NGUK/Zu+3UEJ2ZrIM/1ucqGLZ5t8S6ft3s+YcvrrpkyYahhq7xAgbA1rQRZHX6d5oDkWT5gQvOAAxYvasd3okW0mPycG6M0fcM+5LH6aVCyDBK16eFoEAEyy4bKTIlXasogN8XXjniCnImCQIMOxWckwqYMAYYHvcXpYWgq1bv/GAoKkuF4oAAfIGwyukLT9BDyWcKhl3B1GT2AOD2hjj+cFR80wniMglrIIxTltITjMlVYDIQYhKpq4QiCMIcRvylSNwE5cm5N0g+k0rVo+UwCYuEx5xwosrui1DZMm7K6imdkB1BCAVuOkEIIc/8DIE3JeMQJgIen/VNhpg9QfEsCSeilnKvpWICTzIJCAHan7YoxifZLys5yU9J1yq5kKXgHZLyWRNoKNGQAQ6b8dtcMvnBS5GIhRflSz5PG0FLc0V/Xp8nTKpaZiCA5YUSw225kphT0sIM4dH7SqXjyb5fi/SCE4EIbkobQRXZYk/dQs3rC2WcaMLWoyMDhXrxEzoR2x1rzcp8yfCKMsUvVii4Cb9oW/NFeEOV5td1C1TprcXuqVC/vW1l5hfzhay4f7tMwYUHl2jffHCh5sxUa+8okr+3ZbHmwxJB/DhL5Jzougr1P68ulZ9NezWPEIp0m7yPuDzBp8WXbbvPmHxoOk/jdhXPvW1FxssyOX/PdHAkfKa/3+x5gsMiqAMtph1fjXmn9NtMhGB9Jh+vXaD60Q+W6N5JtJJPScOse5QmLo3QT/YOul4+3GkXdVAhCEfx3/kbBMsUHFhTJjdVzpHU312uPBUvjtEZYHQa3TuPdVifPXfNqWpxBiecMWMQCFbIObC4UGpYNVex2xOGA5vK5ThJF5Ya6Rz16DuH3att4741x/qdGSICSQMRHObzGdTtOSI6Wyf8sCJT+KVWzEmq5WqmgpKvu+01Tpfv4dYhWhQMRCQAgEUky7EggxzRqQUHa8oUR9mM+HOetArGmJeOg5Z/w+HBrMzKrMzKDJQpoxjGGNHBqBIAsJDDsN5EZ8uig1EpAICATThu1jnoQBjzgpGo8G84VoS+/8TaBIJcvjA6P+iW29yBHw6M0fUdox6llQ6xCYRALWQGSzXkQLaa3CsXcY4uz5fSfDaRUJ7ROeZBtDckbx1w1fuowObzw3SxLxhlAQDoxexQvpLXOydTdEAn4exbnCdJODXwhaKob4zWXBmhHx+10Fu6zT7tqDvE5DARqASsoFrMaSnQCT7VSjiHasoUru8l6FCXnePzBF++0Gff8YdLdpY/Mvm9S5kEbK9S0IuK5a9V5Ulf0IvZcWWqXSaP9MI1x85L15wv/KlzHFyhyUu6DC4DNhZLTPdUal67q1zxKoFQXFNSoyNAnu23v9DYZdv+freTdIcnx9FymfDwPFlgUaFs11y9aF+Jmu+fQNAnF82sARP92cELlrvPO6aXY63T8KC2UvXWj9fl/igechq7rF/+qWmsunWaOKtUvOjdlcq9T92V+4vpkmShgvy3Tw6+19Bm3Xxxmq3bGg0PHlmRub8sW/zw/AxB+L8J6rf62H9uMn74x7Om+03B+Ar0UpKJt63MePu+at3ObAnney2pc4TmNvfYvnnxuLF6OM6pSD6PgX+8Sv+bTbdpfpUp5Yamspx3zwy9+0bT2P3WUDSuaqFcyIJn1+cceGiJbgtCCBMAAI299l1fdtjiJgcAoNsTRkfbLDvOX3VsmWrtuWuOp149PRI3OQAAV30RdLjd8mz3KP3YVD7nbL/9hYY26+Z4yQEA6KRC8IdTxo2fXDDfDwBAnLvhKj1vcPy61Zn4BOGYyQcnr9h+drDNHLOJ3Gfxll7sH9/dTycenI6OeuFIu/lnVCASG2eM1jR22bZfTGIi0mz1szuvO/Y2XXfJiEGbd/snfc6ka5mjBle5jMe8N9b1pl77PUcNbn6yOI0GZ96xbntMa70yQj/+freTTBbna4Mri/aG6okbo3SVw5/89HLAE4LzVx33xTTdYapmIAXT2EtUGEZMVE2s66MWekusaBWPtNj8YDDRSwmT0780FU0PDAD+QHj1ZNdujPuVXjpYkIpELxLF0DhAaWIlgd1mnzZVSSXlDswlumypa5sMxfBjLl9YymcSGanCYUexdLIWRzASFY5RoZR9fxLBUE5wmSk8x4liAiGMU/cNii8cDQFAJJaFpUq4TAREqTJ1vaYCxeTnAYs05LDFE+5KFY6IZNEIoQnmKmATVqWAFUwVDkaon5CLOedSZTyeKOyb7JqAiTwFWtKWChwWgWBJjnDSM4cIIZyr4LWk5m1AIBKym4hcNXlwTgIjlQkZqIQNC3NEMce7GSryLyUpmJIuU3AhRyf6OKYV68hPVezkB+Nr1VzIVvD3EyoJ94O78oRjyWxGEAgeWKA0ZCn5PbHWVM+RnrqrOLkpKYEAVpXJRir1wpjTWK2Ee+iRefKkIg8DASwrlPRlyPmtxIp8iXlZmfL522SchJOUjXoyWJUv/cmCTGHM77oqMgV9K0rlz61UJn5iY1OWAHI1gnqVkB3zdElNmcJVmS/dtVyVOE5dtjC0pEi+a56OdBAAAA9Va/5923LdH8sTmJIulXOgbrH2X2rK5A1TrbWG4a3aCuVrcxPAuUPFgy1LdS+W60VTztgr86TvP7ki83BxAq5juYqLNyxU715XpvjqfwXmNiPFa7/ueOWj5tFtJ61+xlRRGSGAWh0/WL8s49W5WeLnvmsPTCUjTj+34aL59f9oNT1xwjz1NJaBEKzXk94HFmtfV8r4P19fLJ1WHD9tcLAMI9SH7zaPbjxr9bPxNF6rumxhaMNC9e5VJYpX9DJuZELmgjFmNFyyPt52zfH8513j2vYY/Zo7tXxYni/uX1Qg211TrjjIQPF/aNvQbt7a2j/+ytcGl7LFHvjrnwP93RNYpeLCykJJV0mO5PEHqtRxR1uMMfrisvWx053W5xuvu7NaxwOTPul1Wh7cni/uW1Ik3/Wd5Xxvatdr9qqvmT1bDSZ6oY8OLghGcCFBADAQ6iS4rJZ5mcLPctRkc6ma707GGZ4folR2d2Bt9zC1Docia52+sJbHAOCwmWN8knW8QCs4LhNyPqvMFHiSwWm+4ZJRnlB9/xi9BIcim9y+ED8aBeBxGP0MNqNprl60Xyvltc7TTfz7jP8Ckezbxzi9sQcAAAAASUVORK5CYII=
      mediatype: image/png
  install:
    spec:
      clusterPermissions:
        - rules:
            - apiGroups:
                - ""
              resources:
                - nodes
              verbs:
                - get
                - list
                - watch
            - apiGroups:
                - ""
              resources:
                - services
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - apps
              resources:
                - daemonsets
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - habana.ai
              resources:
                - deviceconfigs
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - habana.ai
              resources:
                - deviceconfigs/finalizers
              verbs:
                - update
            - apiGroups:
                - habana.ai
              resources:
                - deviceconfigs/status
              verbs:
                - get
                - patch
                - update
            - apiGroups:
                - kmm.sigs.x-k8s.io
              resources:
                - modules
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - authentication.k8s.io
              resources:
                - tokenreviews
              verbs:
                - create
            - apiGroups:
                - authorization.k8s.io
              resources:
                - subjectaccessreviews
              verbs:
                - create
          serviceAccountName: controller-manager
      deployments:
        - label:
            control-plane: controller-manager
          name: controller-manager
          spec:
            replicas: 1
            selector:
              matchLabels:
                control-plane: controller-manager
            strategy: {}
            template:
              metadata:
                annotations:
                  kubectl.kubernetes.io/default-container: manager
                labels:
                  control-plane: controller-manager
              spec:
                containers:
                  - args:
                      - --secure-listen-address=0.0.0.0:8443
                      - --upstream=http://127.0.0.1:8080/
                      - --logtostderr=true
                      - --v=0
                    image: registry.redhat.io/openshift4/ose-kube-rbac-proxy@sha256:b30aa7fc1920751620828d3c9aa38cc5f65c107b0f99de6d8f0565ad51ce4d58
                    livenessProbe:
                      exec:
                        command:
                          - curl
                          - --insecure
                          - --head
                          - --get
                          - https://127.0.0.1:8443/
                      initialDelaySeconds: 15
                      periodSeconds: 20
                    name: kube-rbac-proxy
                    ports:
                      - containerPort: 8443
                        name: https
                        protocol: TCP
                    readinessProbe:
                      exec:
                        command:
                          - curl
                          - --insecure
                          - --head
                          - --get
                          - https://127.0.0.1:8443/
                      initialDelaySeconds: 5
                      periodSeconds: 10
                    resources:
                      limits:
                        cpu: 500m
                        memory: 128Mi
                      requests:
                        cpu: 5m
                        memory: 64Mi
                    securityContext:
                      allowPrivilegeEscalation: false
                      readOnlyRootFilesystem: true
                      runAsNonRoot: true
                  - args:
                      - --health-probe-bind-address=:8081
                      - --metrics-bind-address=127.0.0.1:8080
                      - --leader-elect
                    command:
                      - /usr/local/bin/manager
                    env:
                      - name: DEVICE_PLUGIN_IMAGE
                        value: vault.habana.ai/docker-k8s-device-plugin/docker-k8s-device-plugin@sha256:ba6818a5a0e00b9fc3af3f3340415f1d2f93c1707814e7b3226112c30700985d
                      - name: NODE_METRICS_IMAGE
                        value: vault.habana.ai/gaudi-metric-exporter/metric-exporter@sha256:646efd3f2e989f6c585d904a7257c23ac3a1a3d6b97bd1010dd47eced8c08555
                      - name: NODE_LABELER_IMAGE
                        value: vault.habana.ai/habana-ocp-operator/1.9.0/habana-node-labeler@sha256:389cda34506eb87443e94a8975e621ca41fb7c2d69828bdeedf9aa5834b8fc9f
                      - name: HABANA_RUNTIME_IMAGE
                        value: vault.habana.ai/habana-ocp-operator/1.9.0/habana-runtime@sha256:4eca981f0172a640d9a5d72b794fec3c3afa911e0498ad94e0d5824ff6d7bd24
                      - name: WATCH_NAMESPACE
                        valueFrom:
                          fieldRef:
                            fieldPath: metadata.annotations['olm.targetNamespaces']
                      - name: DRIVER_HABANA_IMAGE_BASENAME
                        value: vault.habana.ai/habana-ocp-operator/1.9.0/habana-ai-driver
                    image: vault.habana.ai/habana-ocp-operator/1.9.0/habana-ai-operator@sha256:c42ef24c4604a3ce41b292e88e5e5acf5694d6fe0a020aa9952a610a470f0af1
                    livenessProbe:
                      httpGet:
                        path: /healthz
                        port: 8081
                      initialDelaySeconds: 15
                      periodSeconds: 20
                    name: manager
                    readinessProbe:
                      httpGet:
                        path: /readyz
                        port: 8081
                      initialDelaySeconds: 5
                      periodSeconds: 10
                    resources:
                      limits:
                        cpu: 500m
                        memory: 128Mi
                      requests:
                        cpu: 10m
                        memory: 64Mi
                    securityContext:
                      allowPrivilegeEscalation: false
                securityContext:
                  runAsNonRoot: true
                serviceAccountName: controller-manager
                terminationGracePeriodSeconds: 10
      permissions:
        - rules:
            - apiGroups:
                - ""
              resources:
                - configmaps
              verbs:
                - get
                - list
                - watch
                - create
                - update
                - patch
                - delete
            - apiGroups:
                - coordination.k8s.io
              resources:
                - leases
              verbs:
                - get
                - list
                - watch
                - create
                - update
                - patch
                - delete
            - apiGroups:
                - ""
              resources:
                - events
              verbs:
                - create
                - patch
          serviceAccountName: controller-manager
        - rules:
            - apiGroups:
                - security.openshift.io
              resourceNames:
                - privileged
              resources:
                - securitycontextconstraints
              verbs:
                - use
          serviceAccountName: device-plugin
        - rules:
            - apiGroups:
                - security.openshift.io
              resourceNames:
                - privileged
              resources:
                - securitycontextconstraints
              verbs:
                - use
          serviceAccountName: driver-habana
        - rules:
            - apiGroups:
                - security.openshift.io
              resourceNames:
                - privileged
              resources:
                - securitycontextconstraints
              verbs:
                - use
          serviceAccountName: habana-runtime
        - rules:
            - apiGroups:
                - security.openshift.io
              resourceNames:
                - privileged
              resources:
                - securitycontextconstraints
              verbs:
                - use
          serviceAccountName: node-labeler
        - rules:
            - apiGroups:
                - security.openshift.io
              resourceNames:
                - privileged
              resources:
                - securitycontextconstraints
              verbs:
                - use
          serviceAccountName: node-metrics
    strategy: deployment
  installModes:
    - supported: true
      type: OwnNamespace
    - supported: false
      type: SingleNamespace
    - supported: false
      type: MultiNamespace
    - supported: false
      type: AllNamespaces
  keywords:
    - habanalabs
    - hardware
    - driver
  links:
    - name: Habana AI Documentation
      url: https://habana.ai/docs/habana-ai-operator/index.html
  maintainers:
    - email: mwalter@habana.ai
      name: Maor Walter
    - email: tacohen@habana.ai
      name: Tal Cohen
    - email: aamar@habana.ai
      name: Amiram Amar
  maturity: stable
  provider:
    name: Habana Labs Ltd.
    url: https://habana.ai
  relatedImages:
    - image: registry.redhat.io/openshift4/ose-kube-rbac-proxy@sha256:b30aa7fc1920751620828d3c9aa38cc5f65c107b0f99de6d8f0565ad51ce4d58
      name: kube-rbac-proxy
    - image: vault.habana.ai/habana-ocp-operator/1.9.0/habana-ai-operator@sha256:c42ef24c4604a3ce41b292e88e5e5acf5694d6fe0a020aa9952a610a470f0af1
      name: manager
    - image: vault.habana.ai/habana-ocp-operator/1.9.0/habana-ai-operator@sha256:c42ef24c4604a3ce41b292e88e5e5acf5694d6fe0a020aa9952a610a470f0af1
      name: 1.9.0/habanalabs/openshift-operator/habana-ai-operator-c42ef24c4604a3ce41b292e88e5e5acf5694d6fe0a020aa9952a610a470f0af1-annotation
  version: 1.9.0-580
