apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  #namespace: kube-system
  name: crd-admin-cluster-panslot
rules:
- apiGroups: ["paloaltonetworks.com"]
  resources: ["panslotconfigs"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
