apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    operators.operatorframework.io/internal-objects: |
      '["portinfos.paloaltonetworks.com","panslotconfigs.paloaltonetworks.com"']
    alm-examples: |-
      [
        {
          "apiVersion": "charts.paloaltonetworks.com/v1alpha1",
          "kind": "CnSeries",
          "metadata": {
            "name": "cnseries-sample"
          },
          "spec": {
            "cluster": {
              "deployTo": "openshift",
              "hpa": "no",
              "volumes": "dynamic"
            },
            "cni": {
              "image": "gcr.io/pan-cn-series/pan_cni",
              "version": "preferred"
            },
            "csp": {
              "alternateUrl": "",
              "pinId": "",
              "pinValue": ""
            },
            "dp": {
              "cpuLimit": 1,
              "image": "gcr.io/pan-cn-series/panos_cn_ngfw",
              "memoryLimit": "4.0Gi",
              "min_replicas": 2,
              "version": "preferred-10.2"
            },
            "firewall": {
              "failoverMode": "failopen",
              "operationMode": "k8s-service"
            },
            "imagePullSecrets": [],
            "mp": {
              "cpuLimit": 2,
              "image": "gcr.io/pan-cn-series/panos_cn_mgmt",
              "initImage": "gcr.io/pan-cn-series/pan_cn_mgmt_init",
              "initVersion": "preferred",
              "max_replicas": 2,
              "memoryLimit": "3.0Gi",
              "storageClassName": "",
              "version": "preferred-10.2"
            },
            "pan_data_mode": null,
            "pan_gtp_enabled": "false",
            "pan_jumbo_frame_enabled": "false",
            "pan_ngfw_memory": "2Gi",
            "panorama": {
              "authKey": "\u003cPanorama-auth-key\u003e",
              "cgName": "\u003cpanorama-collector-group\u003e",
              "deviceGroup": "\u003cPanorama-device-group\u003e",
              "ip": "\u003cPanorama-IP\u003e",
              "ip2": null,
              "template": "\u003cpanorama-template-stack\u003e"
            },
            "secureInterfaces": [
              "eth0"
            ]
          }
        }
      ]
    capabilities: Basic Install
    createdAt: "2023-12-06T22:40:52Z"
    operators.operatorframework.io/builder: operator-sdk-v1.32.0
    operators.operatorframework.io/project_layout: |
      helm.sdk.operatorframework.io/v1
  name: pan-cn-series-operator.v0.0.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
      - kind: PanSlotConfig
        name: panslotconfigs.paloaltonetworks.com
        version: v1
      - kind: PortInfo
        name: portinfos.paloaltonetworks.com
        version: v1
      - kind: CnSeries
        name: cnseries.charts.paloaltonetworks.com
        specDescriptors:
          - description: Minimum Replicas for DP
            displayName: Minimum Replicas for DP
            path: dp.min_replicas
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:podCount
          - description: Desired number of CPUs for DP
            displayName: CPU Limit (DP)
            path: dp.cpuLimit
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:podCount
          - description: Desired memory for DP
            displayName: Memory Limit (DP)
            path: dp.memoryLimit
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:text
          - description: Desired number of CPUs for MP
            displayName: CPU Limit (MP)
            path: mp.cpuLimit
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:podCount
          - description: Desired memory for MP
            displayName: Memory Limit (MP)
            path: mp.memoryLimit
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:text
          - description: Panorama IP Address
            displayName: Panorama IP Address
            path: panorama.ip
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:text
          - description: Secondary Panorama IP Address for HA deployment
            displayName: Secondary Panorama IP Address (Optional)
            path: panorama.ip2
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:text
          - description: Authorization Key vm-auth-key from Panorama
            displayName: vm-auth-key from Panorama
            path: panorama.authKey
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:text
          - description: Panorama Device Group
            displayName: Panorama Device Group
            path: panorama.deviceGroup
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:text
          - description: Panorama Template Stack
            displayName: Panorama Template Stack
            path: panorama.template
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:text
          - description: Panorama Log Collector Group Name
            displayName: Panorama Log Collector Group Name
            path: panorama.cgName
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:text
          - description: Customer Support Portal PIN ID
            displayName: Customer Support Portal PIN ID (Optional)
            path: panorama.pinId
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:text
          - description: Customer Support Portal Value
            displayName: Customer Support Portal PIN Value (Optional)
            path: panorama.pinValue
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:text
          - description: Customer Support Portal Alternate URL
            displayName: Customer Support Portal Alternate URL (Optional)
            path: panorama.alternateUrl
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:text
          - description: The docker image name and version of CN Series DP
            displayName: DP Image
            path: dp.image
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:text
          - description: DP Image Version
            displayName: DP Image Version
            path: dp.version
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:text
          - description: The docker image name and version of CN Series  MP
            displayName: MP Image
            path: mp.image
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:text
          - description: MP Image Version
            displayName: MP Image Version
            path: mp.version
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:text
          - description: The docker image name and version of CN Series pan-cni
            displayName: PAN CNI Image
            path: cni.image
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:text
          - description: PAN CNI Image Version
            displayName: PAN CNI Image Version
            path: cni.version
            x-descriptors:
              - urn:alm:descriptor:com.tectonic.ui:text
        version: v1alpha1
  description: "**Palo Alto CN-Series NGFW (container firewall)**\n\n
    **Product Overview:**
    \nThe CN-Series firewall enables you to:\n
    1. Gain Layer-7 traffic visibility andcontrol within the cluster\n
    2. Stop lateral movement of threats\n
    3. Prevent known and unknown inbound attacks\n
    4. Apply egress filtering to prevent data exfiltration
    and unwanted outbound connections\n
    5. Dynamically scale security without compromising
    DevOps agility.\n
    6. Ensure a frictionless CI/CD pipeline deployment.\n
    7. Unify management across all your firewalls
    using Panorama.\n\n
    Deploy CN-Series as-a-Kubernetes
    service and manage the fleet of firewalls from Panorama, alongside our
    hardware
    and VM-Series NGFW appliances to ensure consistent security posture
    everywhere.
    This subscription also includes industry-leading Threat Prevention,
    WildFire,
    URL Filtering, and DNS Security subscriptions that provide best-in-class
    runtime
    network security for East-West, Outbound and Inbound traffic.\n\n
    [Pre-Install Steps and Documentation]
    (https://docs.paloaltonetworks.com/cn-series/deployment/
    on-cloud-on-prem-deployment/deploy-the-cn-series-firewall-
    on-openshift-operator-hub)\n\n[Post-Install Steps and
    Documentation]
    (https://github.com/PaloAltoNetworks/Kubernetes/tree/v2.0) --
    Instructions at bottom of README (Multus and Openshift)"
  displayName: pan-cn-series-operator
 # icon:
 #   - base64data: iVBORw0KGgoAAAANSUhEUgAAAFoAAAAtCAYAAAAuj3x7AAAMKmlDQ1BJQ
 #     mediatype: image/png
  install:
    spec:
      clusterPermissions:
        - rules:
            - apiGroups:
                - ""
              resources:
                - namespaces
              verbs:
                - get
            - apiGroups:
                - ""
              resources:
                - secrets
              verbs:
                - '*'
            - apiGroups:
                - ""
              resources:
                - events
              verbs:
                - create
            - apiGroups:
                - charts.paloaltonetworks.com
              resources:
                - cnseries
                - cnseries/status
                - cnseries/finalizers
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - rbac.authorization.k8s.io
              resources:
                - clusterrolebindings
                - clusterroles
              verbs:
                - '*'
            - apiGroups:
                - paloaltonetworks.com
              resources:
                - panslotconfigs
                - portinfos
              verbs:
                - '*'
            - apiGroups:
                - ""
              resources:
                - configmaps
                - secrets
                - serviceaccounts
                - services
              verbs:
                - '*'
            - apiGroups:
                - rbac.authorization.k8s.io
              resources:
                - rolebindings
                - roles
              verbs:
                - '*'
            - apiGroups:
                - apps
              resources:
                - daemonsets
                - deployments
                - statefulsets
              verbs:
                - '*'
            - apiGroups:
                - k8s.cni.cncf.io
              resources:
                - network-attachment-definitions
              verbs:
                - '*'
            - apiGroups:
                - authentication.k8s.io
              resources:
                - tokenreviews
              verbs:
                - create
            - apiGroups:
                - authorization.k8s.io
              resources:
                - subjectaccessreviews
              verbs:
                - create
          serviceAccountName: pan-cn-series-operator-controller-manager
      deployments:
        - label:
            app.kubernetes.io/component: manager
            app.kubernetes.io/created-by: pan-cn-series-operator
            app.kubernetes.io/instance: controller-manager
            app.kubernetes.io/managed-by: kustomize
            app.kubernetes.io/name: deployment
            app.kubernetes.io/part-of: pan-cn-series-operator
            control-plane: controller-manager
          name: pan-cn-series-operator-controller-manager
          spec:
            replicas: 1
            selector:
              matchLabels:
                control-plane: controller-manager
            strategy: {}
            template:
              metadata:
                annotations:
                  kubectl.kubernetes.io/default-container: manager
                labels:
                  control-plane: controller-manager
              spec:
                affinity:
                  nodeAffinity:
                    requiredDuringSchedulingIgnoredDuringExecution:
                      nodeSelectorTerms:
                        - matchExpressions:
                            - key: kubernetes.io/arch
                              operator: In
                              values:
                                - amd64
                                - arm64
                                - ppc64le
                                - s390x
                            - key: kubernetes.io/os
                              operator: In
                              values:
                                - linux
                containers:
                  - args:
                      - --secure-listen-address=0.0.0.0:8443
                      - --upstream=http://127.0.0.1:8080/
                      - --logtostderr=true
                      - --v=0
                    image: >-
                       registry.redhat.io/openshift4/ose-kube-rbac-proxy:v4.13
                    name: kube-rbac-proxy
                    ports:
                      - containerPort: 8443
                        name: https
                        protocol: TCP
                    resources:
                      limits:
                        cpu: 500m
                        memory: 128Mi
                      requests:
                        cpu: 5m
                        memory: 64Mi
                    securityContext:
                      allowPrivilegeEscalation: false
                      capabilities:
                        drop:
                          - ALL
                  - args:
                      - --health-probe-bind-address=:8081
                      - --metrics-bind-address=127.0.0.1:8080
                      - --leader-elect
                      - --leader-election-id=pan-cn-series-operator
                    image: >-
                      gcr.io/pan-cn-series/openshift-operator/pan-cn-series-operator:2.0.0
                    livenessProbe:
                      httpGet:
                        path: /healthz
                        port: 8081
                      initialDelaySeconds: 15
                      periodSeconds: 20
                    name: manager
                    readinessProbe:
                      httpGet:
                        path: /readyz
                        port: 8081
                      initialDelaySeconds: 5
                      periodSeconds: 10
                    resources:
                      limits:
                        cpu: 500m
                        memory: 128Mi
                      requests:
                        cpu: 10m
                        memory: 64Mi
                    securityContext:
                      allowPrivilegeEscalation: false
                      capabilities:
                        drop:
                          - ALL
                securityContext:
                  runAsNonRoot: true
                serviceAccountName: pan-cn-series-operator-controller-manager
                terminationGracePeriodSeconds: 10
      permissions:
        - rules:
            - apiGroups:
                - ""
              resources:
                - configmaps
              verbs:
                - get
                - list
                - watch
                - create
                - update
                - patch
                - delete
            - apiGroups:
                - coordination.k8s.io
              resources:
                - leases
              verbs:
                - get
                - list
                - watch
                - create
                - update
                - patch
                - delete
            - apiGroups:
                - ""
              resources:
                - events
              verbs:
                - create
                - patch
          serviceAccountName: pan-cn-series-operator-controller-manager
    strategy: deployment
  installModes:
    - supported: false
      type: OwnNamespace
    - supported: false
      type: SingleNamespace
    - supported: false
      type: MultiNamespace
    - supported: true
      type: AllNamespaces
  keywords:
    - cn-series
    - firewall
    - service
  links:
    - name: Pan Cn Series Operator
      url: https://pan-cn-series-operator.domain
  maturity: alpha
  provider:
    name: PaloAlto Networks Inc
    url: www.paloaltonetworks.com
  version: 0.0.1
