apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: panslotconfigs.paloaltonetworks.com
spec:
  group: paloaltonetworks.com
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          required: ["spec"]
          type: object
          properties:
            spec:
              required: ["slot","slotinfo"]
              type: object
              properties:
                slot:
                  type: string
                  minimum: 1
                slotinfo:
                  type: string
                  minimum: 1
  scope: Namespaced
  names:
    plural: panslotconfigs
    singular: panslotconfig
    kind: PanSlotConfig