---
# Source: spark-k8s-operator/templates/spark-history-clusterrole.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: spark-history-clusterrole
  labels:
    app.kubernetes.io/name: spark-k8s-operator
    app.kubernetes.io/instance: spark-k8s-operator
    stackable.tech/vendor: Stackable
    app.kubernetes.io/version: "25.11.0"
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
      - persistentvolumeclaims
      - pods
      - secrets
      - serviceaccounts
      - services
    verbs:
      - create
      - delete
      - deletecollection
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - events.k8s.io
    resources:
      - events
    verbs:
      - create

