---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: analyticsproxies.bas.ibm.com
spec:
  group: bas.ibm.com
  names:
    kind: AnalyticsProxy
    listKind: AnalyticsProxyList
    plural: analyticsproxies
    singular: analyticsproxy
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ''
    plural: ''
  conditions: null
  storedVersions: null
