apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "apps.cloudcasa.io/v1",
          "kind": "Cloudcasa",
          "metadata": {
            "name": "cloudcasa"
          },
          "spec": {
            "cluster_id": ""
          }
        }
      ]
    capabilities: Seamless Upgrades
    categories: Storage
    description: CloudCasa is a powerful and easy-to-use data protection service for Kubernetes and cloud databases.
    support: Catalogic Software
    containerImage: quay.io/catalogic-software/cloudcasa-operator:v2.1.0
    repository: https://github.com/catalogicsoftware/cloudcasa-operator-for-openshift
    operators.operatorframework.io/builder: operator-sdk-v1.9.0+git
    operators.operatorframework.io/project_layout: helm.sdk.operatorframework.io/v1
  name: cloudcasa-operator.v2.2.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - kind: Cloudcasa
      name: cloudcasas.apps.cloudcasa.io
      version: v1
      description: Agent for backup and restore services
      displayName: CloudCasa
      specDescriptors:
      - description: Cluster ID generated by CloudCasa
        displayName: Cluster ID
        path: cluster_id
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:password
  minKubeVersion: 1.17.0
  description: "CloudCasa is a powerful and easy-to-use data protection service for Kubernetes and cloud databases.
                \ Configuration is quick and easy, and basic service is free. \n\n\n### How to Install
                \n* Create Namespace cloudcasa-operator.
                \n* Install the CloudCasa Operator by following the instructions presented when you click the Install button. Select **cloudcasa-operator** namespace.
                \n* After installing the operator, you will need to create an instance of the CloudCasa resource to configure the agent.
                \n* In order to create the CloudCasa resource you will need to generate a Cluster ID in CloudCasa.\
                \n* Login to https://home.cloudcasa.io and add your OCP cluster under the Protection tab. Note the returned **Cluster ID**.\
                \n* See the CloudCasa [Getting Started Guide](https://cloudcasa.io/get-started) for more information.\
                \n* Navigate to the installed CloudCasa Operator and Click on the CloudCasa tab.\
                \n* Create the CloudCasa resource and provide the **Cluster ID** noted in the previous step.\
                \n\n\n### Supported Features\n\
                \n* **AWS RDS Backup**\n\n* **Kubernetes cluster Backup**
                \n\n* **Kubernetes cluster restore**\n\n### Installation Checkpoints\n\n* **cloudcasa-io** namespace should be created.\
                \n\n* **kubagent** pod should be created under **cloudcasa-io** namespace and should be in **running state.** \
                \n\n* State of the OCP cluster on CloudCasa web UI should be **Active**."
  displayName: CloudCasa
  icon:
  - base64data: "/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxANEBASDw4QFRASFRAWEBIVFRUPEBgQFREWFxYSGBUYHCghGBolHRUXIT0hJykrLi4uFx8zRDM4QyktLi4BCgoKDg0OGRAQGysfICUtLS0xLSstNzEuKy4rLSstKy4tLS0uLjcrLTUuKy03Ky0yKy0tLS01LS0rLSstLS0tK//AABEIAMgAyAMBIgACEQEDEQH/xAAcAAEAAgMBAQEAAAAAAAAAAAAABQcBBAYDCAL/xABDEAABAwICBQgGCAQGAwAAAAABAAIDBBEFIQYxQVFhBxITIjJxgZEjQlKhwdEUM2JygpKisXOywvEWJDRTs/BDY+H/xAAaAQEAAgMBAAAAAAAAAAAAAAAAAwQBAgUG/8QALREAAgIBBAAEBQMFAAAAAAAAAAECAxEEEiExBRNBUSJhcaGxFIGRIzJC0eH/2gAMAwEAAhEDEQA/ALxREQBERAEREAREQBERAEREAREQBERAEREAREQBERAEREAREQBERAEREAREQBERAYReFXVRwtL5Xtawa3ONguEx3lHa27aOPnH/AHHghvg3WfG3ctoxb6JqdPZa8QRYDnAZkqHrtKqGDJ9VHcbG3kPd1b2VPYnjdTVn0873D2b81ng0ZKPUyp9zrVeELuyX8FsVHKRRt7Mc7uIa1o97r+5ab+U2PZSvPe4D4FVoi38mJcj4Vp12m/3LOj5TIfWppRvsWnP3KQpeUGhf2jLH95l/5CVUSI6YmZeEad9ZX7/7L6oMZpqn6meNx3Bw535da3187g21KfwnTCspbASmRg9STri3B2seajdHsU7vBJLmuWfky6UXKYBpxTVdmyehlOxx6hPB/wA7LqwVC4tdnHtpnVLbNYMoiLBEEREAREQBERAEREAREQBc/pRpTDhzbHrzEdSIHP7zj6rVq6a6VNw9nMjsah46o1hrfbcPhtVQVNQ+Z7pJHFz3G7nHMkqWuvPLOjo9F5nxT6/Ju43jlRXv5077j1WDJje5vx1qOWF70lLJO8MiY573amtFyrKwkd6KjXHC4R5LLWkkAAknUBmVYeA8m97OrZLaj0TD7nP+Xmu3oMIpaMehhjZYZut1rcXHM+JUcrUuilb4pXDiHxP7FOUejFdN2KSW29w6Meb7KRj0BxAjONg4F4+F1Y1ZpZQQZOqWE7mXk/lBUXLyi0Tb2bO7uaB+7gtd830iFa3WT5hD7HGyaBYg0ZRMdwD2/GyjazRutg+spZbbSB0g823CsOLlGona2zt72tP7OKlKPS6gnybUsB3PvF/MAs75rtG367WQ5lXx9GUoRZFemIYNSVo9LFG+4yeMnW4PGfvXEY7ydOZd9G8vGvo32Dvwu1Hxt3raNqffBb0/i1U3tn8L+xwS6nRjTOaisyS8kHsk9do+yTs4HLuXMzwvicWSNc1wyc0ixB7l+FI0pLk6NtVd8MTWUX7h2IRVUbZIXhzDtGw7iNh4LbVMaG4hV083+WifI11ukjAJaRvvqaeKuSJxIBLSCQLg2uDuNsvJU7IbWeS12k/T2bU8r0/6eiIi0KQREQBERAEREAUNpPjjMPp3SOzecome0/Z4DWpdxtmqR01x019S4tPoY7thGy183+Jz7rLeuO5lnS0ebPnoh62rkqJHySuLnvJLid/y4LxWFIYDhElfOyGPWc3O2NYNbj/3XYK1wkeg3RhHPSR76OYBNiMnMjFmC3SSHstHxO4K4MBwGnw+PmxNF7deQ5vd3ndw1LYwbC4qKFsULbNGs+s521xO0lV9yk49U9KaYNdHDbXfOUb7j1dlvPcIHJzeEcids9XZsi8ImNJOUGKC7KUCWQa3n6oHw7fhlxVe4rjlTWG88znDY3ssHc0ZKNWQFNGCidbT6SqlcLn3Cyp/DNDa6psRDzGnU6Q9H+nte5T8HJjKR6SrY0/ZYX/uQsuyKJZa6iDw5I4JF303JjIB1KtjjxjLP2cVB4loVXU4J6ISNGsxnn/pyd7kVkWSV6/Tz4UkRmGYzUUhvBM5v2b3Ye9pyKsDR3lBjlIZVtEbjqkH1RPH2feFWLmkEgggjWDkbokoRkbX6KnUL4lz7ou3HtHqfEWdcAPt1JW9obs9o4f3UThPJ9Sw2MxdM7j1I/yj4krktENLn0TmxykupidWtzPtN4cPLjbNPO2VrXscHNcAWuGYIO1V5b4cZPP6mOp0n9Pc9r6aFPTMiaGxsa1o1NaA1o8AvVFlRHMbbCIiAIiIAiIgCIiA5TlGxf6LRua02knvG3fzLdd3ll+IKml1/KhiHTVvRg9WBobbZz3dZx8i0fhXHq1WsI7mjr2V/NmVdGgeAChpw57fTSgOkvrA9VnC37kqudAsK+l1sYcLxx+kfuIaRzR4uI8AVdq0tl6FfxC7qtfuFF6QYHFiERjlGeZY8dprt4+W1SiKDo5kZOLyik/8HVn0o03R5jPpM+i6O/b53w1qzNHNEqagAIbz5rZyuGd/sj1R3Z8SugRbysbLV2tstSi+Pp6mURFoVAiIgILSDRinrweezmyW6srcnjv9ocCqn0gwKbD5OZKLtN+jkHZcPgeH91ei0MZwqOtidFKLg6jta7Y4cVLXY49nR0XiE6JJN5j+PoUMu25O9JDBIKaV3opD6Mn1ZD6vcf37yuVxfDX0cz4ZB1mHXsLdjhwIWo0271ZaUkemuqhqacPlPpn0OsqB0Nxf6bSse4+kb1JPvtGvxFj4qdVJrDweLsrdc3GXaMoiLBoEREAREQBYKytPF5ejgmd7Mch8mEoZXLKFxeq6eonlv25JHDuLjb3LUWFlXEegjwsFp8ktFzYJpiM5Hho+6wfNx8l3y57QKHo8Ophva5353ud8V0CqzeWziXy3WSfzMoiLUhCIiAIiIAiIgCIiA4TlRwkPhbUtHWiIa8743HLycf1FVgr7xylE9NPGR22PA7+bkfOyoRWqXlYPTeD3OVTg/R/k7jksr+ZUSQk5SM5w++w/Jx8laKo/Q+o6Kupnb5A38/U/qV4BR3L4jneMQUb9y9UZREUJygiIgCIiAKL0o/0NZ/AqP+JylFp4tF0lPOz2o5G+bCEXZmPaPnlFhZVw7yZfWiP+hpP4MX8oUwue0Cn6TDqY7mub+V7m/BdCqku2cOz+9/UIiLBoEREAREQBERAEREBh2or52da5te2y+uyvvHKsQU08hPYjeR3802HnZUGrFHqd3wZY3v6Ejo9/rKX+PB/yNV8hUdodB0tfSttqkDvydf8ApV4rF/ZF4y82x+hlERQHHCIiAIiIAhREB874vS/R6ieL/bkkaO4OIB8lqLsOVHDuhrekA6s7A7hz29Vw9zT+JcercXlHaqnuimWpySVwfTzQk5xvDh914+bT5rvlSGgOLfQ62MuNo5fRv3AOPVd4OA8Lq71XsWGc7VQ22Z9zKIi0KwREQBERAEREBhEWhjWKx0ULpZTZrdQ2udsaN5KYMxTk8I5PlSxcRwspmnrSkOeN0bTl5uH6SqvW3jGJSVkz5pD1nnVsDdjRwAWoBfIK5CO1HqdHUqalH+TuOSvD+fUSTEZRM5o++/8A+A+atNQWhmD/AEGkjY4ekd15fvu2eAsPBTyrWSzI8/rbvNucl10ERFoVQiIgCIiAIiIDk+UjB/pVG57ReSA9I3eW267fLP8ACFS6+knC+tUbptgJw+qc1o9DJd0J2c3azwOXdbepqpehe0ln+LIBXXoDj4rqYB7vTxWbJvI9WTxHvBVJqSwDGJKCdk0WsZObscw62n/uuxUk47kWL6vMj8z6BUVpDjkOHwmSU56mMHac7cPnsXtg2KxVsLZYXXa7WPWa7a1w2EKvOUzAKoymqDnSw2tbbEN1h6vHz3mvGPOGc6uCc9suCB/xpWfSjUiTM5dFri6O/Y5vx1qz9G9LqbEAA13Mm2xOI51/sn1h3Z8AqNX6BtmNancEzoT08Jrjg+kQipDC9Nq+mAAm6Ro9WUdJ+rte9dBBypSgekpGO3815Z+4KidUipLR2Lrks9FWM/KlIR1KNjT9qQv/AGaFBYnpxX1AI6URtOyIcz9WbveiqkzaGitk+eCz9IdKKbD2npH86X1Ym5vPf7I4lVHpDj82Iyc+U2aL9HGOy0cN53n+yiXOLiSSSTmSczdFNCCidTTaWFXPb9zK7jk40aM8gqZm+ijPogfWkHrdw/fuK0tDtDpK5wlmBbTA69Tn/Zbw3u8uFu08DYmtYxoaxoAa0ZAAbFrZZ6Ii1utUU64Pn1PZERVziBERAEREAREQBERAYUNpVgTMRp3RusHjOJ/sv2eB1FTKyieDKbTyj5yraSSnkfFK0tewkOB3/LivBXRpvok3EWc+Ozalg6p1B7fYcf2OxU5U074XuZIwte02c0ixBVmEsnUpuU18yT0b0hmw6XnxG7XW6SMnquHwO4q5MAx+nxGPnRPHO9eN3bb3jaOOpUGvejq5IHh8T3Me3U5psUlDItoVnK4Zaek3J5DUF0lIRFIcyz/wuPhmzwy4KuMWwGqojaeBzR7XajPc4ZLtsA5S7WZWx32dLGPe5ny8l3WH4vS1rfQzRyAjNt+tbiw5jxC03Sj2V1ZbVxJZR8+rKvWu0RoKjN9LGDvZeI9/UIuoiXk1oXanTt7nj+ppWytRNHWw9clQrKt2Lk1oW63Tu73t/paFK0eh2HwZtpWE733l9ziQnmo3eugukyncKwWprDaCB7thdazB3uOQViaOcnccJD6xwkeMxGPqgeO1/uHeupxHGaWib6aaNlhk2/WtwYM/cuGx7lIc67KJhb/7X2Lvws1DvPksbpS6NPOvv4gsI7LSDSGnw2Mc8jn29HE23OO7LYOKh8I5RKSewmDoXcevH+YfEBVPUVD5XOfI9znuzc5xuSe9ea2VSLEPDq9uJPn3PomnqGStDo3tc06nNIc0+IXqqT0Lw+sqJv8AKyviaCOllBIaBuI1OO4K6Y2kAAuLiALk2uTvNsvJQzjtfZzNTQqZYUsnoiItCuEREAREQBERAEREAXOaVaJw4k256k4HUlAz+64es33jYujWETwZjJxeUfP2OYFUUD+ZPGQPVeM43DeHfDWo1fRlZRxzsLJY2vY7W1wuFX+PcmYJL6KTm7eikuW9zX6x4371PGxepfq1SfEitFlriCCCQRqIyK38UwSpoz6eB7B7Vrs8HDI+aj1KnkuRkpLgmaPSmvg7FXLYag49KPJ91Js5QsQAzkjPExtv7rLk1lY2r2HlQfaR1UnKDiLhlKxvERt+N1G1mk9dP26uWx1hp6MeTbKHWUUUbxqrXSRkm/ftRALroMI0NrauxEJjZ7ct4x4DWfALOUiR2Rgst4OfXV6LaFT13NfIDHT5dYjruH2R8Tl3rt9H9A6Wks+QdNKM7vHUB4M+d/BdaAopW+xQv8Q4xX/JqYZh0VJG2KFgaxuwayd5O08VtoigOY228syiIhgIiIAiIgCIiAIiIAiIgCIiA/LmgixAI3HMKEr9EaCozfSxg72XiP6bXU4iZaMqTXTOIqOTOjd2JZ2cOc1w97b+9abuSyO+VY8DiwH4qw1lbb5e5KtRYvUr6LkuhHaqpT3Na397qQpOTmgj7Qlk+8+w/QAuwWU3yD1Fj9SOw/BKWl+pp42H2g0c78xzPmpBEWuSJtvsyiIhgIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIiAIiIAiIgCIiAIiID/9k="
    mediatype: "image/jpeg"
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - '*'
          resources:
          - '*'
          verbs:
          - '*'
        - nonResourceURLs:
          - '*'
          verbs:
          - '*'
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: cloudcasa-operator-controller-manager
      deployments:
      - name: cloudcasa-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              labels:
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=10
                image: registry.redhat.io/openshift4/ose-kube-rbac-proxy:latest
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                resources: {}
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=127.0.0.1:8080
                - --leader-elect
                - --leader-election-id=cloudcasa-operator
                image: registry.connect.redhat.com/catalogicsoftware/cloudcasa-operator:v2.2.0
                imagePullPolicy: Always
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 400m
                    memory: 400Mi
                  requests:
                    cpu: 350m
                    memory: 350Mi
                securityContext:
                  allowPrivilegeEscalation: false
              securityContext:
                runAsNonRoot: false
              serviceAccountName: cloudcasa-operator-controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: cloudcasa-operator-controller-manager
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: true
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - Backup
  - Storage
  - CloudCasa
  - Copy
  - Restore
  links:
  - name: CloudCasa
    url: https://cloudcasa.io
  maintainers:
  - email: support@cloudcasa.io
    name: Catalogic Software
  maturity: alpha
  provider:
    name: Catalogic Software
  version: 2.1.0
