# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021-2022 Intel Corporation

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  labels:
    product: astrads
  name: astrads-astradsfaileddrive-viewer-role
rules:
- apiGroups:
  - astrads.netapp.io
  resources:
  - astradsfaileddrives
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - astrads.netapp.io
  resources:
  - astradsfaileddrives/status
  verbs:
  - get
