---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: noderedbackups.nodered.com
spec:
  group: nodered.com
  names:
    kind: NodeRedBackup
    listKind: NodeRedBackupList
    plural: noderedbackups
    singular: noderedbackup
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      type: object
      x-kubernetes-preserve-unknown-fields: true
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
