# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021-2022 Intel Corporation

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: acicontainersoperators.aci.ctrl
spec:
  group: aci.ctrl
  names:
    kind: AciContainersOperator
    listKind: AciContainersOperatorList
    plural: acicontainersoperators
    singular: acicontainersoperator
  scope: Namespaced
  versions:
    - name: v1alpha1
      schema:
        openAPIV3Schema:
          description: acicontainersoperator owns the lifecycle of ACI objects in the
            cluster
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              description: AciContainersOperatorSpec defines the desired spec for ACI
                Objects
              properties:
                config:
                  type: string
                flavor:
                  type: string
              type: object
            status:
              description: AciContainersOperatorStatus defines the successful completion
                of AciContainersOperator
              properties:
                status:
                  type: boolean
              type: object
          required:
            - spec
          type: object
      served: true
      storage: true
      subresources:
        status: {}
