apiVersion: v1
data:
  callhome-case.json: |-
    {
        "callHomeCaseEvents": [
            {
                "name": "callhome.reboot.unknown",
                "description": "Unexpected reboot.",
                "priority": "P3"
            },
            {
                "name": "coredump",
                "description": "Coredump by firetap.",
                "priority": "P1"
            },
            {
                "name": "callhome.fdsk.admin",
                "description": "Diskfailure in firetap",
                "priority": "P1"
            }
        ]
    }
  events-asup.json: |-
    {
        "events": [
            {
                "reason": "ADSClusterCreateSuccess",
                "namespace": "astrads-system",
                "involvedObject": {
                    "apiVersion": "astrads.netapp.io/v1beta1",
                    "kind": "AstraDSCluster"
                }
            },
            {
                "reason": "DiscoveryFailed",
                "namespace": "astrads-system",
                "involvedObject": {
                    "apiVersion": "astrads.netapp.io/v1beta1",
                    "kind": "AstraDSAutoSupport"
                },
                "caseConfig": {
                    "description": "Unable to call api server to get resources",
                    "prority": "P2"
                }
            }
        ]
    }
kind: ConfigMap
metadata:
  labels:
    product: astrads
  name: astrads-kevents-asup
