---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: synaxg-vdu-card-102x-operator-metrics-reader
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
