# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: BUSL-1.1

apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
    categories: Security
    containerImage: registry.connect.redhat.com/hashicorp/vault-secrets-operator@sha256:cf31b7074a10a19a1494f9bcc5c7907f4c36a10c3ac7394186de792e103bdce6
    createdAt: "2023-08-16T23:10:04Z"
    description: The Vault Secrets Operator (VSO) allows Pods to consume Vault secrets natively from Kubernetes Secrets.
    operators.operatorframework.io/builder: operator-sdk-v1.31.0
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
    repository: https://github.com/hashicorp/vault-secrets-operator
    support: HashiCorp
  name: vault-secrets-operator.v0.2.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
      - description: VaultAuth is the Schema for the vaultauths API
        displayName: Vault Auth
        kind: VaultAuth
        name: vaultauths.secrets.hashicorp.com
        version: v1beta1
      - description: VaultConnection is the Schema for the vaultconnections API
        displayName: Vault Connection
        kind: VaultConnection
        name: vaultconnections.secrets.hashicorp.com
        version: v1beta1
      - description: VaultDynamicSecret is the Schema for the vaultdynamicsecrets API
        displayName: Vault Dynamic Secret
        kind: VaultDynamicSecret
        name: vaultdynamicsecrets.secrets.hashicorp.com
        version: v1beta1
      - description: VaultPKISecret is the Schema for the vaultpkisecrets API
        displayName: Vault PKISecret
        kind: VaultPKISecret
        name: vaultpkisecrets.secrets.hashicorp.com
        version: v1beta1
      - description: VaultStaticSecret is the Schema for the vaultstaticsecrets API
        displayName: Vault Static Secret
        kind: VaultStaticSecret
        name: vaultstaticsecrets.secrets.hashicorp.com
        version: v1beta1
  description: The Vault Secrets Operator (VSO) allows Pods to consume Vault secrets natively from Kubernetes Secrets.
  displayName: Vault Secrets Operator
  icon:
    - base64data: PHN2ZyBpZD0iTE9HT1MiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDE4MCAyNTgiPjxwYXRoIGQ9Ik02Mi4xNSwxOTguMTdoNi43Nkw1OC42NCwyMzIuNTZINDlMMzguNzYsMTk4LjE3aDYuNzZsOC4zMiwyOC42NloiLz48cGF0aCBkPSJNODcuNywyMzIuNTZIODIuNTRsLS40Ni0xLjcxYTEzLjc2LDEzLjc2LDAsMCwxLTcuNDksMi4yMmMtNC41OSwwLTYuNTYtMy4xNS02LjU2LTcuNDgsMC01LjExLDIuMjItNy4wOCw3LjMzLTcuMDhoNnYtMi42M2MwLTIuNzktLjc3LTMuNzctNC44LTMuNzdhMzQuNzgsMzQuNzgsMCwwLDAtNywuNzhsLS43Ny00LjhhMzIuNDYsMzIuNDYsMCwwLDEsOC42Mi0xLjE5YzcuOSwwLDEwLjIyLDIuNzksMTAuMjIsOS4wOVptLTYuMy05LjVINzYuNzZjLTIuMDcsMC0yLjYzLjU3LTIuNjMsMi40OCwwLDEuNzUuNTYsMi41MywyLjUzLDIuNTNhOS44OSw5Ljg5LDAsMCwwLDQuNzQtMS4yOVoiLz48cGF0aCBkPSJNOTcuNjIsMjA3LjQxVjIyNWMwLDEuMzQuNTYsMiwyLDJhMTcuMzksMTcuMzksMCwwLDAsNi41Ni0yLjEyVjIwNy40MWg2LjI5djI1LjE1aC00LjhsLS42Mi0yLjEyQTI1LjE0LDI1LjE0LDAsMCwxLDk3LDIzMy4wN2MtNC4xOSwwLTUuNjgtMi45NC01LjY4LTcuNDNWMjA3LjQxWiIvPjxwYXRoIGQ9Ik0xMTUuODQsMjMyLjU2VjE5Ny4xNGw2LjMtLjg4djM2LjNaIi8+PHBhdGggZD0iTTE0MC45MywyMzIuMDlhMTcuMzksMTcuMzksMCwwLDEtNS41MywxYy00LjU5LDAtNi45MS0yLjE2LTYuOTEtNi42NnYtMTRoLTMuNzd2LTVoMy43N3YtNi4yNGw2LjMtLjg4djcuMTJoNi40NWwtLjQxLDVoLTZ2MTMuMTdhMiwyLDAsMCwwLDIuMjcsMi4yMiwxMi4xNywxMi4xNywwLDAsMCwzLjE1LS41MloiLz48cGF0aCBkPSJNNDUuNDYsMTg5Ljc0di00LjgzSDQxLjA1djQuODNIMzguNzlWMTc4LjE1aDIuMjZWMTgzaDQuNDF2LTQuODZoMi4yNnYxMS41OVptMTAuNTIsMEg1NC4xOWwtLjE2LS41N2E0Ljg1LDQuODUsMCwwLDEtMi41OS43NGMtMS41OSwwLTIuMjctMS0yLjI3LTIuNDksMC0xLjcuNzctMi4zNSwyLjU0LTIuMzVINTMuOHYtLjg4YzAtLjkyLS4yNy0xLjI1LTEuNjYtMS4yNWExMi4yOCwxMi4yOCwwLDAsMC0yLjQyLjI2bC0uMjctMS42YTExLjkzLDExLjkzLDAsMCwxLDMtLjRjMi43NCwwLDMuNTQuOTMsMy41NCwzWm0tMi4xOC0zLjE2SDUyLjE5Yy0uNzEsMC0uOTEuMTktLjkxLjgzcy4yLjg0Ljg3Ljg0YTMuNTgsMy41OCwwLDAsMCwxLjY1LS40M1ptNi43NSwzLjMzYTEwLjQxLDEwLjQxLDAsMCwxLTMtLjQ4bC4zLTEuNmExMCwxMCwwLDAsMCwyLjYuMzdjMSwwLDEuMTEtLjIxLDEuMTEtLjg1cy0uMTEtLjc3LTEuNTItMS4xYy0yLjEzLS40OS0yLjM4LTEtMi4zOC0yLjYycy43Ny0yLjQzLDMuMjUtMi40M2ExMS44LDExLjgsMCwwLDEsMi42MS4zbC0uMjEsMS42NmExNiwxNiwwLDAsMC0yLjQtLjI0Yy0uOTUsMC0xLjExLjIxLTEuMTEuNzIsMCwuNjcuMDYuNzIsMS4yNCwxLDIuNDMuNjIsMi42Ni45MiwyLjY2LDIuNjRTNjMuMTgsMTg5LjkxLDYwLjU1LDE4OS45MVptMTAtLjE3VjE4My45YzAtLjQ1LS4yLS42Ny0uNy0uNjdhNi4wNyw2LjA3LDAsMCwwLTIuMjcuNzF2NS44SDY1LjM5VjE3OGwyLjE5LjMzVjE4MmE3LjkyLDcuOTIsMCwwLDEsMy4xOC0uODFjMS40NSwwLDIsMSwyLDIuNDh2Ni4wNlptNC05LjU1di0yaDIuMTh2MlptMCw5LjU1di04LjM2aDIuMTh2OC4zNlptMy45My04LjNjMC0yLjA5LDEuMjctMy4zMSw0LjI0LTMuMzFhMTQsMTQsMCwwLDEsMy4yMy4zOGwtLjI1LDEuODdhMTguMzYsMTguMzYsMCwwLDAtMi45MS0uMjljLTEuNTYsMC0yLjA2LjUxLTIuMDYsMS43M3Y0LjRjMCwxLjIyLjUsMS43MywyLjA2LDEuNzNhMTguMzYsMTguMzYsMCwwLDAsMi45MS0uMjlsLjI1LDEuODhhMTQsMTQsMCwwLDEtMy4yMy4zN2MtMywwLTQuMjQtMS4yMi00LjI0LTMuMzFabTEyLjMsOC40N2MtMywwLTMuOC0xLjU4LTMuOC0zLjNWMTg0LjVjMC0xLjcyLjgxLTMuMywzLjgtMy4zczMuNzksMS41OCwzLjc5LDMuM3YyLjExQzk0LjU4LDE4OC4zMyw5My43NywxODkuOTEsOTAuNzksMTg5LjkxWm0wLTYuOTJjLTEuMTcsMC0xLjYxLjUtMS42MSwxLjQ0djIuMjVjMCwuOTUuNDQsMS40NSwxLjYxLDEuNDVzMS42MS0uNSwxLjYxLTEuNDV2LTIuMjVDOTIuNCwxODMuNDksOTIsMTgzLDkwLjc5LDE4M1ptOS45My4xNGExNi44NywxNi44NywwLDAsMC0yLjMsMS4yMnY1LjM5SDk2LjIzdi04LjM2aDEuODVsLjE0LjkyYTEwLDEwLDAsMCwxLDIuMjktMS4xWm04LjczLDMuODNjMCwxLjg1LS44NiwyLjk1LTIuODgsMi45NWExMi4zNCwxMi4zNCwwLDAsMS0yLjMzLS4yNHYzLjQybC0yLjE4LjMzdi0xMmgxLjc0bC4yMS43YTQuNzIsNC43MiwwLDAsMSwyLjc1LS44OGMxLjc2LDAsMi42OSwxLDIuNjksMi45MVptLTUuMjEuOTRhMTAuMDksMTAuMDksMCwwLDAsMS45My4yM2MuNzksMCwxLjEtLjM2LDEuMS0xLjEydi0yLjk1YzAtLjY5LS4yNy0xLjA3LTEuMDgtMS4wN2EzLjE0LDMuMTQsMCwwLDAtMiwuNzZaIi8+PHBhdGggZD0iTTI2LjI1LDI3LjgxLDg5Ljc3LDE1MS40NGw2NC0xMjMuNjNaTTc5Ljg5LDc2Ljg4SDY5Ljc3VjY2Ljc3SDc5Ljg5Wm0wLTE1LjE3SDY5Ljc3VjUxLjU5SDc5Ljg5Wk05NS4wNyw5Mi4wNkg4NVY4MS45NEg5NS4wN1ptMC0xNS4xOEg4NVY2Ni43N0g5NS4wN1ptMC0xNS4xN0g4NVY1MS41OUg5NS4wN1ptMTUuMDksMTUuMTdIMTAwVjY2Ljc3aDEwLjEyWk0xMDAsNjEuNzFWNTEuNTloMTAuMTJWNjEuNzFaIi8+PC9zdmc+
      mediatype: image/svg+xml
  install:
    spec:
      clusterPermissions:
        - rules:
            - apiGroups:
                - ""
              resources:
                - configmaps
              verbs:
                - get
                - list
                - watch
            - apiGroups:
                - ""
              resources:
                - events
              verbs:
                - create
                - patch
            - apiGroups:
                - ""
              resources:
                - secrets
              verbs:
                - create
                - delete
                - deletecollection
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - ""
              resources:
                - serviceaccounts
              verbs:
                - get
                - list
                - watch
            - apiGroups:
                - ""
              resources:
                - serviceaccounts/token
              verbs:
                - create
                - get
                - list
                - watch
            - apiGroups:
                - apps
              resources:
                - daemonsets
              verbs:
                - get
                - list
                - patch
                - watch
            - apiGroups:
                - apps
              resources:
                - deployments
              verbs:
                - get
                - list
                - patch
                - watch
            - apiGroups:
                - apps
              resources:
                - statefulsets
              verbs:
                - get
                - list
                - patch
                - watch
            - apiGroups:
                - secrets.hashicorp.com
              resources:
                - vaultauths
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - secrets.hashicorp.com
              resources:
                - vaultauths/finalizers
              verbs:
                - update
            - apiGroups:
                - secrets.hashicorp.com
              resources:
                - vaultauths/status
              verbs:
                - get
                - patch
                - update
            - apiGroups:
                - secrets.hashicorp.com
              resources:
                - vaultconnections
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - secrets.hashicorp.com
              resources:
                - vaultconnections/finalizers
              verbs:
                - update
            - apiGroups:
                - secrets.hashicorp.com
              resources:
                - vaultconnections/status
              verbs:
                - get
                - patch
                - update
            - apiGroups:
                - secrets.hashicorp.com
              resources:
                - vaultdynamicsecrets
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - secrets.hashicorp.com
              resources:
                - vaultdynamicsecrets/finalizers
              verbs:
                - update
            - apiGroups:
                - secrets.hashicorp.com
              resources:
                - vaultdynamicsecrets/status
              verbs:
                - get
                - patch
                - update
            - apiGroups:
                - secrets.hashicorp.com
              resources:
                - vaultpkisecrets
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - secrets.hashicorp.com
              resources:
                - vaultpkisecrets/finalizers
              verbs:
                - update
            - apiGroups:
                - secrets.hashicorp.com
              resources:
                - vaultpkisecrets/status
              verbs:
                - get
                - patch
                - update
            - apiGroups:
                - secrets.hashicorp.com
              resources:
                - vaultstaticsecrets
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - secrets.hashicorp.com
              resources:
                - vaultstaticsecrets/finalizers
              verbs:
                - update
            - apiGroups:
                - secrets.hashicorp.com
              resources:
                - vaultstaticsecrets/status
              verbs:
                - get
                - patch
                - update
            - apiGroups:
                - authentication.k8s.io
              resources:
                - tokenreviews
              verbs:
                - create
            - apiGroups:
                - authorization.k8s.io
              resources:
                - subjectaccessreviews
              verbs:
                - create
          serviceAccountName: vault-secrets-operator-controller-manager
      deployments:
        - label:
            control-plane: controller-manager
          name: vault-secrets-operator-controller-manager
          spec:
            replicas: 1
            selector:
              matchLabels:
                control-plane: controller-manager
            strategy:
              rollingUpdate:
                maxSurge: 100%
                maxUnavailable: 1
              type: RollingUpdate
            template:
              metadata:
                annotations:
                  kubectl.kubernetes.io/default-container: manager
                labels:
                  control-plane: controller-manager
              spec:
                containers:
                  - args:
                      - --health-probe-bind-address=:8081
                      - --metrics-bind-address=127.0.0.1:8080
                      - --leader-elect
                    command:
                      - /vault-secrets-operator
                    env:
                      - name: OPERATOR_POD_NAME
                        valueFrom:
                          fieldRef:
                            fieldPath: metadata.name
                      - name: OPERATOR_POD_UID
                        valueFrom:
                          fieldRef:
                            fieldPath: metadata.uid
                    image: registry.connect.redhat.com/hashicorp/vault-secrets-operator@sha256:cf31b7074a10a19a1494f9bcc5c7907f4c36a10c3ac7394186de792e103bdce6
                    imagePullPolicy: IfNotPresent
                    livenessProbe:
                      httpGet:
                        path: /healthz
                        port: 8081
                      initialDelaySeconds: 15
                      periodSeconds: 20
                    name: manager
                    readinessProbe:
                      httpGet:
                        path: /readyz
                        port: 8081
                      initialDelaySeconds: 5
                      periodSeconds: 10
                    resources:
                      limits:
                        cpu: 500m
                        memory: 256Mi
                      requests:
                        cpu: 10m
                        memory: 128Mi
                    securityContext:
                      allowPrivilegeEscalation: false
                    volumeMounts:
                      - mountPath: /var/run/podinfo
                        name: podinfo
                  - args:
                      - --secure-listen-address=0.0.0.0:8443
                      - --upstream=http://127.0.0.1:8080/
                      - --logtostderr=true
                      - --v=0
                    image: registry.redhat.io/openshift4/ose-kube-rbac-proxy@sha256:8307f2210206acdcb87f2a44952d5464f059fe6f763b6b11d24739d58c804057
                    name: kube-rbac-proxy
                    ports:
                      - containerPort: 8443
                        name: https
                        protocol: TCP
                    resources:
                      limits:
                        cpu: 500m
                        memory: 128Mi
                      requests:
                        cpu: 5m
                        memory: 64Mi
                    securityContext:
                      allowPrivilegeEscalation: false
                securityContext:
                  runAsNonRoot: true
                serviceAccountName: vault-secrets-operator-controller-manager
                terminationGracePeriodSeconds: 10
                volumes:
                  - downwardAPI:
                      items:
                        - fieldRef:
                            fieldPath: metadata.name
                          path: name
                        - fieldRef:
                            fieldPath: metadata.uid
                          path: uid
                    name: podinfo
      permissions:
        - rules:
            - apiGroups:
                - ""
              resources:
                - configmaps
              verbs:
                - get
                - list
                - watch
                - create
                - update
                - patch
                - delete
            - apiGroups:
                - coordination.k8s.io
              resources:
                - leases
              verbs:
                - get
                - list
                - watch
                - create
                - update
                - patch
                - delete
            - apiGroups:
                - ""
              resources:
                - events
              verbs:
                - create
                - patch
          serviceAccountName: vault-secrets-operator-controller-manager
    strategy: deployment
  installModes:
    - supported: false
      type: OwnNamespace
    - supported: false
      type: SingleNamespace
    - supported: false
      type: MultiNamespace
    - supported: true
      type: AllNamespaces
  keywords:
    - vault
    - security
    - secrets
  links:
    - name: Vault Secrets Operator
      url: https://github.com/hashicorp/vault-secrets-operator
    - name: Documentation
      url: https://developer.hashicorp.com/vault/docs/platform/k8s/vso
  maintainers:
    - email: support@hashicorp.com
      name: HashiCorp Support
  maturity: stable
  provider:
    name: HashiCorp
    url: https://www.hashicorp.com/
  relatedImages:
    - image: registry.redhat.io/openshift4/ose-kube-rbac-proxy@sha256:8307f2210206acdcb87f2a44952d5464f059fe6f763b6b11d24739d58c804057
      name: kube-rbac-proxy
    - image: registry.connect.redhat.com/hashicorp/vault-secrets-operator@sha256:cf31b7074a10a19a1494f9bcc5c7907f4c36a10c3ac7394186de792e103bdce6
      name: manager
  version: 0.2.0
