apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "manta.getmanta.com/v1alpha1",
          "kind": "MantaAuth",
          "metadata": {
            "name": "mantaauth-sample"
          },
          "spec": {
            "ImagePullSecrets": "manta-registry-credentials",
            "ImageRepoPrefix": "repo-snapshots.getmanta.com/manta-ubi8/",
            "MantaFlowCredentials": "manta-dataflow-credentials",
            "MantaVersion": "36.0",
            "Replicas": 1,
            "StorageClassName": "ibmc-block-custom"
          }
        },
        {
          "apiVersion": "manta.getmanta.com/v1alpha1",
          "kind": "MantaFlow",
          "metadata": {
            "name": "mantaflow-sample"
          },
          "spec": {
            "ImagePullSecrets": "manta-registry-credentials",
            "ImageRepoPrefix": "repo-snapshots.getmanta.com/manta-ubi8/",
            "MantaFlowCredentials": "manta-dataflow-credentials",
            "MantaFlowKeys": "manta-dataflow-keys",
            "MantaVersion": "36.0",
            "Replicas": 1,
            "StorageClassName": "ibmc-block-custom"
          }
        }
      ]
    capabilities: Basic Install
    categories: Big Data
    containerImage: repo-snapshots.getmanta.com/manta-ubi8/mantaflow-operator@sha256:a195a043398bbab85c2388c5e3b0f904311444d66721fb25f77d71c137d44269
    createdAt: "2021-11-09T11:09:00Z"
    operators.operatorframework.io/builder: operator-sdk-v1.10.0+git
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
    support: MANTA Software
  name: mantaflow-operator.v36.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: MantaAuth is the Schema for the mantaauths API
      displayName: Manta Auth
      kind: MantaAuth
      name: mantaauths.manta.getmanta.com
      version: v1alpha1
    - description: MantaFlow is the Schema for the mantaflows API
      displayName: Manta Flow
      kind: MantaFlow
      name: mantaflows.manta.getmanta.com
      version: v1alpha1
  description: "# MANTA Flow\nMANTA is a Unified Lineage Platform for Data Lineage.
    \ MANTA performs code scanning for lineage that is illustrated to the detailed
    attribute level with transformations.   Extreme color coding and filtering to
    make lineage consumable.  Also includes time-slicing for historical lineage analysis.\n\n##
    Features\n* **Create/Destroy**: Launch MANTA Flow Container deployment.\n* **Scaling
    to zero**: Scale down the deployment (turn off the container).\n\n## Prerequisites
    and Requirements\n### MANTA Flow Namespace\nMANTA should be installed into its
    own namespace.\n\nFor additional installation documentation see a [MANTA Flow
    Container documentation](https://mantatools.atlassian.net/wiki/spaces/MTKB/pages/2450620467/MANTA+Flow+Container)\nin
    the MANTA Flow Knowledge Base.\n\n### MANTA Flow Operator\nThe MANTA Flow Operator
    is responsible for deployment and management of MANTA Flow container deployment.\n\n###
    Memory Considerations\nMANTA Flow is a memory intensive application. The MANTA
    Flow Container will specify the memory and cpu requirements for both request and
    limits. Also, the minimum storage requirements are specified for the persistent
    volumes (PVs).\n\n### MANTA Flow license.key\nValid license.key needs to be provided
    in order to successfully launch MANTA Flow Container.\n\n## MANTA Flow Deployment\n\n###
    Secrets\nCreate a secret for MANTA Flow license.key by:\n    \n    oc create secret
    generic mantaflow-keys --from-file=<path to license.key>/license.key\n\nCreate
    an initial admin credentials `username` and `password` and a MANTA master password,
    which is used for encryption of sensitive data in the persistent storage.\n\n
    \   oc create secret generic mantaflow-credentials --from-literal=username=<manta
    admin username> --from-literal=password=<manta admin password> --from-literal=MANTA_MASTERPASSWORD=<password
    for encryption>\n\n### Create MANTA Auth Custom Resource\nCreate a MANTA Auth
    custom resource. Please use the default parameters provided by the operator and
    the name of the keys above.\n\n### Create MANTA Flow Custom Resource\nCreate a
    MANTA Flow custom resource. Please use the default parameters provided by the
    operator and the name of the keys above.\n\n## Scaling\nMANTA Flow currently supports
    scaling to zero. This means you can set `replicas: 0` in MANTA Flow Custom Resource
    Definition (CRD) and MANTA Flow container will be stopped.\n\nBy setting `replicas:
    1` MANTA Flow will be scaled to be running on 1 container. All other values of
    `replicas` are considered invalid.\n"
  displayName: MANTA Flow Operator
  icon:
  - base64data: PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4yLjMsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxMDU1LjIgNzI3LjEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEwNTUuMiA3MjcuMTsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6dXJsKCNTVkdJRF8xXyk7fQ0KCS5zdDF7ZmlsbDojN0IyOTI3O30NCjwvc3R5bGU+DQo8Zz4NCgk8Zz4NCgkJPGxpbmVhckdyYWRpZW50IGlkPSJTVkdJRF8xXyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSI0MzYuOTgwMyIgeTE9IjExNC4zNjA5IiB4Mj0iNDg2Ljc3NTciIHkyPSI0MDMuNzk1NyI+DQoJCQk8c3RvcCAgb2Zmc2V0PSIwIiBzdHlsZT0ic3RvcC1jb2xvcjojRkZGRkZGIi8+DQoJCQk8c3RvcCAgb2Zmc2V0PSIxIiBzdHlsZT0ic3RvcC1jb2xvcjojNjE2MzY1Ii8+DQoJCTwvbGluZWFyR3JhZGllbnQ+DQoJCTxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik00MjkuOSwxNjAuMmMwLDAtNDYuMiwyMi0xMTMuMyw3NC43Yy01My4zLDQxLjktMTA2LjgsNDkuMi0xNDMuOSw0Mi44Yy0zNy4xLTYuNC0yNS43LDEuMi05LjQsMTEuNg0KCQkJYzE2LjMsMTAuNCw4MS4yLDQzLjgsMTU4LjgsMzguOGM5Ny45LTYuMywxNzUuNi02MS45LDIyNy05My4yYzUxLjQtMzEuMywxMTAuNy02Ni41LDE3Ni45LTc4LjVjNDkuMS04LjksNDAuMS0xMC4zLDIuNi03LjENCgkJCWMtNjYuNCw1LjYtMTM2LjMsMzUuMy0xODkuNCw2MS45QzQxMC4yLDI3Niw0MjkuOSwxNjAuMiw0MjkuOSwxNjAuMnoiLz4NCgkJPHBhdGggY2xhc3M9InN0MSIgZD0iTTI3My43LDE1MWMwLDAsMi45LDI1LjEsMTguNSw0My4yYzE2LjIsMTguOCwzNC45LDIxLjYsMzQuOSwyMS42cy0zMC44LDI1LjktNTkuNiwzOS4zDQoJCQljLTM2LDE2LjgtNzYuMiwxNy43LTk3LjMsMTQuN2MtMjEuMS0zLjEtMTkuNy0zLjEsMS42LTEyLjdjMjcuMS0xMi4yLDQ4LjItMzEsNjQuMy02Mi42QzI1Mi4yLDE2Mi45LDI2Ny4xLDE1My41LDI3My43LDE1MXoiLz4NCgk8L2c+DQoJPGc+DQoJCTxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0xNDcuOCw0MzIuMWgxNi45bDUzLjgsODAuNmw1My44LTgwLjZoMTYuOXYxNDcuN2gtMTYuN1Y0NjAuMmwtNTMuOCw3OS4xaC0wLjhMMTY0LDQ2MC40djExOS40aC0xNi4yVjQzMi4xeg0KCQkJIi8+DQoJCTxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0zODIuNCw0MzFIMzk4bDY3LjMsMTQ4LjhoLTE3LjlsLTE3LjMtMzloLTgwLjRsLTE3LjUsMzloLTE3LjFMMzgyLjQsNDMxeiBNNDIzLjYsNTI1LjZMMzkwLDQ1MC41DQoJCQlsLTMzLjgsNzUuMUg0MjMuNnoiLz4NCgkJPHBhdGggY2xhc3M9InN0MSIgZD0iTTQ5MS4zLDQzMi4xaDE1LjZMNjAwLDU1MC41VjQzMi4xaDE2LjJ2MTQ3LjdoLTEzLjNsLTk1LjQtMTIxLjF2MTIxLjFoLTE2LjJWNDMyLjF6Ii8+DQoJCTxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik02OTMuOSw0NDcuNWgtNDkuNnYtMTUuNGgxMTYuMXYxNS40aC00OS42djEzMi4zaC0xNi45VjQ0Ny41eiIvPg0KCQk8cGF0aCBjbGFzcz0ic3QxIiBkPSJNODI0LjEsNDMxaDE1LjZMOTA3LDU3OS44aC0xNy45bC0xNy4zLTM5aC04MC40bC0xNy41LDM5aC0xNy4xTDgyNC4xLDQzMXogTTg2NS4yLDUyNS42bC0zMy42LTc1LjENCgkJCWwtMzMuOCw3NS4xSDg2NS4yeiIvPg0KCTwvZz4NCjwvZz4NCjwvc3ZnPg0K
    mediatype: image/svg+xml
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - apps
          resources:
          - deployments
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - persistentvolumeclaims
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - pods
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - services
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - manta.getmanta.com
          resources:
          - mantaauths
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - manta.getmanta.com
          resources:
          - mantaauths/finalizers
          verbs:
          - update
        - apiGroups:
          - manta.getmanta.com
          resources:
          - mantaauths/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - manta.getmanta.com
          resources:
          - mantaflows
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - manta.getmanta.com
          resources:
          - mantaflows/finalizers
          verbs:
          - update
        - apiGroups:
          - manta.getmanta.com
          resources:
          - mantaflows/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - route.openshift.io
          resources:
          - routes
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: mantaflow-operator-controller-manager
      deployments:
      - name: mantaflow-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              labels:
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=10
                image: gcr.io/kubebuilder/kube-rbac-proxy@sha256:db06cc4c084dd0253134f156dddaaf53ef1c3fb3cc809e5d81711baa4029ea4c
                imagePullPolicy: Always
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                  protocol: TCP
                resources: {}
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=127.0.0.1:8080
                - --leader-elect
                command:
                - /manager
                image: repo-snapshots.getmanta.com/manta-ubi8/mantaflow-operator@sha256:a195a043398bbab85c2388c5e3b0f904311444d66721fb25f77d71c137d44269
                imagePullPolicy: Always
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 200m
                    memory: 100Mi
                  requests:
                    cpu: 100m
                    memory: 20Mi
                securityContext:
                  allowPrivilegeEscalation: false
              securityContext:
                runAsNonRoot: true
              serviceAccountName: mantaflow-operator-controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: mantaflow-operator-controller-manager
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - manta
  - mantaflow
  - dataflow
  - data lineage
  links:
  - name: MANTA Software
    url: https://getmanta.com
  - name: MANTA Knowledge Base
    url: https://mantatools.atlassian.net/wiki/spaces/MTKB
  maintainers:
  - email: manta@getmanta.com
    name: MANTA Software
  maturity: alpha
  provider:
    name: MANTA Software
    url: getmanta.com
  version: 36.0.0
