apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "amcop.aarnanetworks.com/v1alpha1",
          "kind": "Installer",
          "metadata": {
            "name": "installer-sample"
          },
          "spec": {
            "foo": "bar"
          }
        }
      ]
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v1.3.2
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
    marketplace.openshift.io/remote-workflow: https://marketplace.redhat.com/en-us/operators/hr-amcop-operator-test/pricing?utm_source=openshift_console
    marketplace.openshift.io/support-workflow: https://marketplace.redhat.com/en-us/operators/hr-amcop-operator-test/support?utm_source=openshift_console
  name: hr-amcop-operator-test.v0.0.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: Installer is the Schema for the installers API
      displayName: Installer
      kind: Installer
      name: installers.amcop.aarnanetworks.com
      version: v1alpha1
  description: LifeCycle Manager for Aarna Networks Multi Cluster Orchestration Platform (AMCOP)
  displayName: amcop-k8s-operator
  icon:
  - base64data: iVBORw0KGgoAAAANSUhEUgAAADEAAAAWCAIAAADmV+PFAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAASdAAAEnQB3mYfeAAABnBJREFUSEvNVmloXFUUvm/fZnkzk5nOkpl2EpM0kzS2E2OtsUKpUMU1Ii6oKIqiv9xF3P6oaBX8JwgKFZeKu6A/orghSlqtplVTa2ubmpgms2b29+atnrckDS4BUcQPcubce7+X+9177jn3ov8bxsbGcNf9U9Cs6zjACPhzfQDDu44DinOdf4yTmq7PrH1v+5Dj0xz3/GDsy43hJwY7bSno6dHBN4eibwwn4JNHh3tu641NDAYeGeh0+A/2x784tePVbIoXBKfnn+CkpiyDjNxCNBQAfyzIEf7A6L5chqdHolZPVqo8mFcqGjbU4SXkls9Qtxysb/PRIs/F/d4LQvxZB4qHMeby8L+wW0uaCLq73fjJE97EWNE5XKm/PVdGhlLBSUzXoIcm0KFS4/PFZq7VZgnig1ITSTWF43BFVjT95fkqUqUF1dQ0i7wK0qNbuwetaPRvyqa3bAVH4IX02dsja9bY4xZcTWk/1+Q8H88urBdoaE42tQ7M3LklQ6uyYZ8hzDQRQ780U861ZArHSdz+0EAEgRWbramG8uTp67O0oZorDtwfkNm6TensRrFk2CtI67NU7yCJUM/5l0ixlC+RdEnLmoYFcq9kTLW0M0Rr869IBoY91O6DxxDJIGQ6nJVYnlnVzbTovSvueefYXAGR1tFbBfFOCsfyn46zfRtUTTGm9oVEXw6jorj587f7XM7JfeLpjRz5wLqAR2tDIBOB4ES9faAqKxi+2sKRqRlmJhE9LOsTxfqsahKrshtNiWf5uqZjJAVNrdHgfH5VbRuthkNw4GraJjI7Zyq3/nCiSVCnBD3Ver2TZ4Neb1iuIcziEBjM5k4IE1sthEgcAz+/WImzNMVxI3hbtwl/hRDPlmvVZDJJSw1dNdh4amZmNuD1mYEwBHEZtiaS1nXzh2IdqcpnNbVfoHfPFPtY/Kku/7gp6PYZX8AoGLXICBV1rK1bAc1pGIbhX58ozCn6rqH4XgWHbXM4fwpl+ohpmp4N2aMHJgOiV4ulYLvo4kKuUu3bfKZLOnkwGBa1ZcuxDi+GDB2jaYYgZEmyOSZiWSTbBABJIl1HcOppGim2UAz3ewTYXWvor1MP/vXA1Tcuqlr7w3c7hobLwagvP1s5+B177qUiSXz/8vPAWVHHHUEAwwBB8Gsqii3Ici2zLAgAs4IggCMIYBqWIMCqtcAA4vHDmqr6N54++8UnPq+H7OkvVKqi1Mg1pUx22KEtafqvMPPVBMfz4im9DQNxi4VSrbm2q6v83bcEjuFR91b4rzXVVC3p85QUHSbOHT/GkCQdCOH1iokwJygAV9OFmW6wI52xNaIfEdRN6cg5qSj07OjvvuW0DEZR120+FZrXnWHZKzdlwI6mojenAgLLIILc3pO+oRsKMX7JYC/JMBcN9JAkeXNSHElEgLkSAZ49UW+JJA5x7Eh3t3VdLZeIUAR0MEvp4Wraode2RMSs0Yhw5O094RlJuSZII5a7TC+VmzIcnmtRBWg3Ei2wV6Ea4rx3+NF+THg8HUAUczvTjGH6wNrENrl0d9J7ZG7+8a7gHsTvjLMIX5nmqOeCy+qNRm1qMtKZqvC+mMDlp48JI6MgUZ3+yeG4moomftW68IKqKwby8dzEQmVaVihDI1nm9ekC0lSJsu6cpj0BWFxgfizXvvrl11Q0AmmxX1Kfy8nT9VYy5Ddx8sdK46isdRHmM3nJyRgHMJnEe1ICc3TvRHh9hkbY/Pg7YjJZltuxSuHIoUPLNAseAt8zl9uciOmGUWnr9w0kNJxSNd1KFcq6MKCu2ER3f01kOlce8MHyLJ2vN1qSzJlasa1Cz7PzrXNFstyCbF0KiZ13h1549ptXdoE/9dF4/q0X84XiidnZ5vuvTX487nAAS5pIYnedOBs1FISFGeL+qbmvqy24YNu6dnEmfV4qrNlF0nRqumlCljgqwbe+d4ATkzV1xM/A+27XpsQt++fvTPl/9zAEvdYibDRhzTZq8lJNseFq8kFdrC0eVDAfSUwWqo/1Ru7pCiEdlRBzcSt3vG3+Imn39Heq9dq9A8mjsqIXSoOx0EMbkp/P5eHm5Z0AYdg6Ej1T1B9IMHvy1YcHYjo8E5Zr2N9FIB4Dy4gibt+O6UiIFDzWAMOtC4csh2L7OkTYgL6Q33l5Io7vDcNzz1pVMB63esBJWE4ilQLbFwkCx+7+G4A67nr/H4yNjf0Gl6SWU2Gj4wYAAAAASUVORK5CYII=
    mediatype: image/png
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - amcop.aarnanetworks.com
          resources:
          - installers
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - amcop.aarnanetworks.com
          resources:
          - installers/finalizers
          verbs:
          - update
        - apiGroups:
          - amcop.aarnanetworks.com
          resources:
          - installers/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: default
      deployments:
      - name: amcop-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              labels:
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=10
                image: registry.redhat.io/openshift4/ose-kube-rbac-proxy@sha256:bb3b5ba76e7ce94441d0395dc5a66f7bb6fff59bd37d5328e418072b3bb174ab
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                resources: {}
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=127.0.0.1:8080
                - --leader-elect
                command:
                - /manager
                image: registry.connect.redhat.com/aarna/amcop-k8s-operator@sha256:2cf47405d836adb9ec50ac39cbf3ee5550a41033865a77cec3ecece1c37d840c
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 100m
                    memory: 30Mi
                  requests:
                    cpu: 100m
                    memory: 20Mi
                securityContext:
                  allowPrivilegeEscalation: false
              securityContext:
                runAsUser: 65532
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          - coordination.k8s.io
          resources:
          - configmaps
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: default
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - AMCOP
  - EMCO
  - multicloud
  - k8s
  - helm
  links:
  - name: Amcop Operator
    url: https://hr-amcop-operator-test.domain
  maintainers:
  - email: rpmishra@aarnanetworks.com
    name: Rajendra Mishra
  - email: ssharma@aarnanetworks.com
    name: Sandeep Sharma
  maturity: alpha
  provider:
    name: Aarna Networks
    url: https://www.aarnanetworks.com/
  version: 0.0.1
  relatedImages: 
    - name: amcop-k8s-operator-2cf47405d836adb9ec50ac39cbf3ee5550a41033865a77cec3ecece1c37d840c
      image: registry.connect.redhat.com/aarna/amcop-k8s-operator@sha256:2cf47405d836adb9ec50ac39cbf3ee5550a41033865a77cec3ecece1c37d840c 
    - name: kube-rbac-proxy
      image: registry.redhat.io/openshift4/ose-kube-rbac-proxy@sha256:bb3b5ba76e7ce94441d0395dc5a66f7bb6fff59bd37d5328e418072b3bb174ab
    
