---
apiVersion: v1
data:
  properties.yaml: |
    ---
    version: 0.1.0
    spec:
      units: []
    properties:
      - property: &credentialsSecret
          propertyNames:
            - name: "credentialsSecret"
              kind:
                type: "env"
          datatype:
            type: "string"
          roles:
            - name: "node"
              required: true
          asOfVersion: "0.0.0"
          description: "The secret where the Airflow credentials are stored."
kind: ConfigMap
metadata:
  name: airflow-operator-configmap
  labels:
    app.kubernetes.io/name: airflow-operator
    app.kubernetes.io/instance: airflow-operator
    app.kubernetes.io/version: "23.4.1"
