apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    config.couchbase.com/version: 2.9.0
    controller-gen.kubebuilder.io/version: v0.19.0
  name: couchbaseencryptionkeys.couchbase.com
spec:
  group: couchbase.com
  names:
    kind: CouchbaseEncryptionKey
    listKind: CouchbaseEncryptionKeyList
    plural: couchbaseencryptionkeys
    singular: couchbaseencryptionkey
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.keyType
      name: type
      type: string
    name: v2
    schema:
      openAPIV3Schema:
        description: |-
          The CouchbaseEncryptionKey resource is used to manage encryption keys for a Couchbase cluster.
          CouchbaseEncryptionKey is the Schema for the couchbaseencryptionkeys API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CouchbaseEncryptionKeySpec defines the desired state of CouchbaseEncryptionKey.
            properties:
              autoGenerated:
                description: |-
                  AutoGenerated defines settings for auto-generated keys.
                  This field is only valid when KeyType is "AutoGenerated".
                properties:
                  canBeCached:
                    default: true
                    description: CanBeCached defines whether the key can be cached.
                    type: boolean
                  encryptWithKey:
                    description: |-
                      EncryptWithKey is the name of another encryption key to use to encrypt the auto-generated key. If not provided,
                      the key will be encrypted with the master password.
                    type: string
                  rotation:
                    description: |-
                      Rotation defines the rotation settings for the auto-generated key.
                      If not provided, the key will not be rotated.
                    properties:
                      intervalDays:
                        description: IntervalDays defines the rotation interval in
                          days.
                        minimum: 1
                        type: integer
                      startTime:
                        description: StartTime defines when rotation should start
                          (timestamp).
                        format: date-time
                        type: string
                    required:
                    - intervalDays
                    type: object
                required:
                - canBeCached
                type: object
              awsKey:
                description: |-
                  AwsKey defines settings for AWS KMS keys.
                  This field is only valid when KeyType is "AWS".
                properties:
                  credentialsSecret:
                    description: |-
                      CredentialSecret is the name of the secret containing AWS credentials. The secret must contain a key with the name "credentials"
                      with the data value of the AWS credentials file.
                    type: string
                  keyARN:
                    description: KeyArn is the ARN of the AWS KMS key.
                    type: string
                  keyRegion:
                    description: KeyRegion is the AWS region where the key is located.
                    type: string
                  profileName:
                    description: ProfileName is the name of the profile to use from
                      the credentials secret.
                    type: string
                  useIMDS:
                    description: UseImds defines whether to use IMDS for authentication.
                    type: boolean
                required:
                - keyARN
                type: object
              keyType:
                description: KeyType defines the type of encryption key. This field
                  is immutable after creation.
                enum:
                - AutoGenerated
                - AWS
                - KMIP
                type: string
              kmipKey:
                description: |-
                  KmipKey defines settings for KMIP keys.
                  This field is only valid when KeyType is "KMIP".
                properties:
                  clientSecret:
                    description: |-
                      ClientSecret is the name of the secret containing the client private key, cert and passphrase. The secret must contain the keys
                      "tls.crt", "tls.key", and "passphrase" with the data value of the client cert, key in encrypted pkcs8 format, and the passphrase
                      for the key respectively.
                    type: string
                  encryptionApproach:
                    description: EncryptionApproach defines the encryption approach
                      to use.
                    enum:
                    - NativeEncryptDecrypt
                    - LocalEncrypt
                    type: string
                  host:
                    description: Host is the KMIP server host.
                    type: string
                  keyID:
                    description: KeyID is the KMIP key identifier.
                    type: string
                  port:
                    description: Port is the KMIP server port.
                    maximum: 65536
                    minimum: 1
                    type: integer
                  timeoutInMs:
                    description: TimeoutInMs is the timeout in milliseconds.
                    maximum: 300000
                    minimum: 1000
                    type: integer
                  verifyWithCouchbaseCA:
                    default: true
                    description: VerifyWithCouchbaseCA defines whether to verify with
                      Couchbase CA.
                    type: boolean
                  verifyWithSystemCA:
                    default: true
                    description: VerifyWithSystemCA defines whether to verify with
                      system CA.
                    type: boolean
                required:
                - clientSecret
                - host
                - port
                - timeoutInMs
                - verifyWithCouchbaseCA
                - verifyWithSystemCA
                type: object
              usage:
                default:
                  allBuckets: true
                  audit: true
                  configuration: true
                  key: true
                  log: true
                description: Usage defines what the encryption key should be used
                  for.
                properties:
                  allBuckets:
                    default: true
                    description: AllBuckets defines whether the key should be used
                      for all buckets.
                    type: boolean
                  audit:
                    default: true
                    description: Audit defines whether the key should be used for
                      audit.
                    type: boolean
                  configuration:
                    default: true
                    description: Configuration defines whether the key should be used
                      for configurations.
                    type: boolean
                  key:
                    default: true
                    description: Key defines whether the key should be used for keys.
                    type: boolean
                  log:
                    default: true
                    description: Log defines whether the key should be used for logs.
                    type: boolean
                required:
                - allBuckets
                - audit
                - configuration
                - key
                - log
                type: object
            required:
            - keyType
            - usage
            type: object
        type: object
    served: true
    storage: true
