---
apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  name: zookeeper-operator.v23.1.0
spec:
  annotations:
    support: stackable.tech
    olm.properties: '[]'

    # The following affect how the package is indexed at OperatorHub.io:
    # https://operatorhub.io/?category=Database
    # https://sdk.operatorframework.io/docs/advanced-topics/operator-capabilities/operator-capabilities/
    categories: Storage
    capabilities: Full Lifecycle
    description: Apache Zookeeper for the Stackable platform


  description: Stackable operator for Apache Zookeeper
  displayName: Apache Zookeeper Operator
  keywords:
    - zookeeper
  maintainers:
    - email: info@stackable.tech
      name: Stackable GmbH
  maturity: stable
  provider:
    name: Stackable GmbH
    url: https://stackable.tech
  version: 23.1.0
  minKubeVersion: 1.20.0

  installModes:
    - supported: true
      type: OwnNamespace
    - supported: true
      type: SingleNamespace
    - supported: false
      type: MultiNamespace
    - supported: false
      type: AllNamespaces

  customresourcedefinitions:
    owned:
      # a list of CRDs that this operator owns
      # name is the metadata.name of the CRD (which is of the form <plural>.<group>)
      - name: zookeeperclusters.zookeeper.stackable.tech
        # version is the spec.versions[].name value defined in the CRD
        version: v1alpha1
        # kind is the CamelCased singular value defined in spec.names.kind of the CRD.
        kind: ZookeeperCluster
        # human-friendly display name of the CRD for rendering in graphical consoles (optional)
        displayName: Apache Zookeeper Cluster
        # a short description of the CRDs purpose for rendering in graphical consoles (optional)
        description: Represents a Zookeeper cluster
      - name: zookeeperznodes.zookeeper.stackable.tech
        # version is the spec.versions[].name value defined in the CRD
        version: v1alpha1
        # kind is the CamelCased singular value defined in spec.names.kind of the CRD.
        kind: ZookeeperZnode
        # human-friendly display name of the CRD for rendering in graphical consoles (optional)
        displayName: Apache Zookeeper node
        # a short description of the CRDs purpose for rendering in graphical consoles (optional)
        description: Represents a Zookeeper node in a cluster


  install:
    # strategy indicates what type of deployment artifacts are used
    strategy: deployment
    # spec for the deployment strategy is a list of deployment specs and required permissions - similar to a pod template used in a deployment
    spec:
      permissions:
        - serviceAccountName: zookeeper-operator
          rules:
            - apiGroups:
                - ""
              resources:
                - pods
              verbs:
                - '*'
      # permissions required at the cluster scope
      clusterPermissions:
        - serviceAccountName: zookeeper-operator
          rules:
            - apiGroups:
                - ""
              resources:
                - nodes
              verbs:
                - list
                - watch
            - apiGroups:
                - ""
              resources:
                - pods
                - configmaps
                - secrets
                - services
                - endpoints
                - serviceaccounts
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - rbac.authorization.k8s.io
              resources:
                - rolebindings
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - rbac.authorization.k8s.io
              resources:
                - clusterroles
              verbs:
                - bind
              resourceNames:
                - zookeeper-clusterrole
            - apiGroups:
                - apps
              resources:
                - statefulsets
              verbs:
                - create
                - delete
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - batch
              resources:
                - jobs
              verbs:
                - create
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - apiextensions.k8s.io
              resources:
                - customresourcedefinitions
              verbs:
                - get
            - apiGroups:
                - authentication.stackable.tech
              resources:
                - authenticationclasses
              verbs:
                - get
                - list
                - watch
            - apiGroups:
                - events.k8s.io
              resources:
                - events
              verbs:
                - create
            - apiGroups:
                - zookeeper.stackable.tech
              resources:
                - zookeeperclusters
                - zookeeperznodes
              verbs:
                - get
                - list
                - patch
                - watch
            - apiGroups:
                - zookeeper.stackable.tech
              resources:
                - zookeeperclusters/status
              verbs:
                - patch
            - apiGroups:
                - security.openshift.io
              resources:
                - securitycontextconstraints
              resourceNames:
                - hostmount-anyuid
              verbs:
                - use

      deployments:
        - name: zookeeper-operator
          spec:
            replicas: 1
            strategy:
              type: Recreate
            selector:
              matchLabels:
                app.kubernetes.io/name: zookeeper-operator
                app.kubernetes.io/instance: zookeeper-operator
            template:
              metadata:
                labels:
                  app.kubernetes.io/name: zookeeper-operator
                  app.kubernetes.io/instance: zookeeper-operator
              spec:
                serviceAccountName: zookeeper-operator
                securityContext: {}
                containers:
                  - name: zookeeper-operator
                    securityContext: {}
                    image: "docker.stackable.tech/stackable/zookeeper-operator:23.1.0"
                    imagePullPolicy: IfNotPresent
                    resources: {}
                    volumeMounts:
                      - mountPath: /etc/stackable/zookeeper-operator/config-spec
                        name: config-spec
                volumes:
                  - name: config-spec
                    configMap:
                      name: zookeeper-operator-configmap
