apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  name: airgappeddeployments.bas.ibm.com
spec:
  group: bas.ibm.com
  names:
    kind: AirgappedDeployment
    listKind: AirgappedDeploymentList
    plural: airgappeddeployments
    singular: airgappeddeployment
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ''
    plural: ''
  conditions: null
  storedVersions: null
