---
# Source: opa-operator/templates/roles.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: opa-clusterrole
  labels:
    helm.sh/chart: opa-operator-24.3.0
    app.kubernetes.io/name: opa-operator
    app.kubernetes.io/instance: opa-operator
    stackable.tech/vendor: Stackable
    app.kubernetes.io/version: "24.3.0"
    app.kubernetes.io/managed-by: Helm
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
      - secrets
      - serviceaccounts
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - events.k8s.io
    resources:
      - events
    verbs:
      - create
  - apiGroups:
      - security.openshift.io
    resources:
      - securitycontextconstraints
    resourceNames:
      - stackable-products-scc
    verbs:
      - use
