apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  labels:
    product: astrads
  name: astrads-astradscluster-editor-role
rules:
- apiGroups:
  - astrads.netapp.io
  resources:
  - astradsclusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - astrads.netapp.io
  resources:
  - astradsclusters/status
  verbs:
  - get
