apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[{"apiVersion":"cilium.io/v1alpha1","kind":"CiliumConfig","metadata":{"name":"cilium-openshift-default","namespace":"placeholder"},"spec":{}}]'
    alm-examples-metadata: '{"cilium-openshift-default":{"description":"Default CiliumConfig
      CR for OpenShift"}}'
    capabilities: Seamless Upgrades
    categories: Networking,Security
    operators.openshift.io/infrastructure-features: '["disconnected"]'
    repository: http://github.com/isovalent
    support: support@isovalent.com
  name: cilium.v1.11.9-x68559da
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - kind: CiliumConfig
      name: ciliumconfigs.cilium.io
      resources:
      - kind: DaemonSet
        name: cilium
        version: v1
      - kind: Deployment
        name: cilium-operator
        version: v1
      - kind: ConfigMap
        name: cilium-config
        version: v1
      - kind: DaemonSet
        name: cilium-enterprise
        version: v1
      - kind: Deployment
        name: hubble-relay
        version: v1
      - kind: Deployment
        name: hubble-ui
        version: v1
      - kind: ConfigMap
        name: hubble-enterprise-config
        version: v1
      - kind: ConfigMap
        name: hubble-relay-config
        version: v1
      - kind: ConfigMap
        name: hubble-ui-envoy
        version: v1
      - kind: ConfigMap
        name: hubble-ui-nginx
        version: v1
      statusDescriptors:
      - description: Helm release conditions
        displayName: Conditions
        path: conditions
      - description: Name of deployed Helm release
        displayName: Deployed release
        path: deployedRelease
      version: v1alpha1
  description: Cilium Enterprise - eBPF-based Networking, Security, and Observability
  displayName: Cilium Enterprise
  icon:
  - base64data: PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJMYXllcl8xIiBkYXRhLW5hbWU9IkxheWVyIDEiIHZpZXdCb3g9IjAgMCA0MDAgMjQ1Ij4KPGRlZnM+CjxzdHlsZT4uY2xzLTF7ZmlsbDojNDc0NzQ3O30uY2xzLTJ7ZmlsbDojOTk5O30uY2xzLTN7ZmlsbDojNzU3NTc1O30uY2xzLTR7ZmlsbDojYzljOWM5O30uY2xzLTV7ZmlsbDojMDAyOGZjO30uY2xzLTZ7ZmlsbDojMDAzN2ZjO30uY2xzLTd7ZmlsbDojMDA1OWZjO30uY2xzLTh7ZmlsbDojMzlhMmZjO30uY2xzLTl7ZmlsbDojOWVkYmZjO30uY2xzLTEwe2ZpbGw6IzAwNzlmYzt9LmNscy0xMXtmaWxsOiMwMDAwZDg7fS5jbHMtMTJ7ZmlsbDojNGRiYmZjO308L3N0eWxlPgo8L2RlZnM+Cjxwb2x5Z29uIGNsYXNzPSJjbHMtMSIgcG9pbnRzPSIxOTIuMzg1IDkxLjI4NiAyMDUuNDc2IDExNC4wMTYgMTc5LjI5MyAxMTQuMDE2IDE5Mi4zODUgOTEuMjg2Ii8+Cjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIyMDUuNDc2IDY4LjU1NSAyMTguNjMzIDkxLjI4NiAxOTIuMzg1IDkxLjI4NiAyMDUuNDc2IDY4LjU1NSIvPgo8cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMTc5LjI5MyA2OC41NTUgMTkyLjM4NSA5MS4yODYgMTY2LjEzNyA5MS4yODYgMTc5LjI5MyA2OC41NTUiLz4KPHBvbHlnb24gY2xhc3M9ImNscy0zIiBwb2ludHM9IjE5Mi4zODUgOTEuMjg2IDIxOC42MzMgOTEuMjg2IDIwNS40NzYgMTE0LjAxNiAxOTIuMzg1IDkxLjI4NiIvPgo8cG9seWdvbiBjbGFzcz0iY2xzLTMiIHBvaW50cz0iMTY2LjEzNyA5MS4yODYgMTkyLjM4NSA5MS4yODYgMTc5LjI5MyAxMTQuMDE2IDE2Ni4xMzcgOTEuMjg2Ii8+Cjxwb2x5Z29uIGNsYXNzPSJjbHMtNCIgcG9pbnRzPSIxNzkuMjkzIDY4LjU1NSAyMDUuNDc2IDY4LjU1NSAxOTIuMzg1IDkxLjI4NiAxNzkuMjkzIDY4LjU1NSIvPgo8cG9seWdvbiBjbGFzcz0iY2xzLTUiIHBvaW50cz0iMTkyLjM4NSAxNS4zNDMgMjE0LjMzNCA1My4zMTQgMTcwLjQzNiA1My4zMTQgMTkyLjM4NSAxNS4zNDMiLz4KPHBvbHlnb24gY2xhc3M9ImNscy02IiBwb2ludHM9IjE0OC41NTIgOTEuMjg2IDE3MC40MzYgMTI5LjI1NyAxMjYuNjAyIDEyOS4yNTcgMTQ4LjU1MiA5MS4yODYiLz4KPHBvbHlnb24gY2xhc3M9ImNscy03IiBwb2ludHM9IjIxNC4zMzQgMTI5LjI1NyAyMzYuMjE4IDE2Ny4yMjkgMTkyLjM4NSAxNjcuMjI5IDIxNC4zMzQgMTI5LjI1NyIvPgo8cG9seWdvbiBjbGFzcz0iY2xzLTgiIHBvaW50cz0iMjM2LjIxOCAxNS4zNDMgMjU4LjE2NyA1My4zMTQgMjE0LjMzNCA1My4zMTQgMjM2LjIxOCAxNS4zNDMiLz4KPHBvbHlnb24gY2xhc3M9ImNscy05IiBwb2ludHM9IjI1OC4xNjcgNTMuMzE0IDI4MC4wNTEgOTEuMjg2IDIzNi4yMTggOTEuMjg2IDI1OC4xNjcgNTMuMzE0Ii8+Cjxwb2x5Z29uIGNsYXNzPSJjbHMtNiIgcG9pbnRzPSIxMjYuNjAyIDUzLjMxNCAxNDguNTUyIDkxLjI4NiAxMDQuNjUzIDkxLjI4NiAxMjYuNjAyIDUzLjMxNCIvPgo8cGF0aCBjbGFzcz0iY2xzLTEwIiBkPSJNMTcwLjQzNTY0LDEyOS4yNTcxNEgyMTQuMjY5bC0yMS45NDkyMiwzNy45NzE1WiIvPgo8cGF0aCBjbGFzcz0iY2xzLTEwIiBkPSJNMjE0LjMzNDA2LDEyOS4yNTcxNGg0My44MzMzbC0yMS45NDkyMywzNy45NzE1WiIvPgo8cGF0aCBjbGFzcz0iY2xzLTExIiBkPSJNMTA0LjY1MzExLDkxLjI4NTY1aDQzLjgzMzNMMTI2LjUzNzIsMTI5LjI1NzE0WiIvPgo8cGF0aCBjbGFzcz0iY2xzLTEwIiBkPSJNMTkyLjM4NDg1LDE1LjM0MjY3aDQzLjgzMzNMMjE0LjI2ODkzLDUzLjMxNDE2WiIvPgo8cGF0aCBjbGFzcz0iY2xzLTEyIiBkPSJNMjE0LjMzNDA2LDUzLjMxNDE2aDQzLjgzMzNMMjM2LjIxODEzLDkxLjI4NTY1WiIvPgo8cG9seWdvbiBjbGFzcz0iY2xzLTciIHBvaW50cz0iMjE0LjMzNCAxMjkuMjU3IDIzNi4yMTggOTEuMjg2IDI4MC4wNTEgOTEuMjg2IDI1OC4xNjcgMTI5LjI1NyAyMTQuMzM0IDEyOS4yNTciLz4KPHBvbHlnb24gY2xhc3M9ImNscy0xMSIgcG9pbnRzPSIxOTIuMzg1IDE2Ny4yMjkgMTcwLjQzNiAxMjkuMjU3IDEyNi42MDIgMTI5LjI1NyAxNDguNTUyIDE2Ny4yMjkgMTkyLjM4NSAxNjcuMjI5Ii8+Cjxwb2x5Z29uIGNsYXNzPSJjbHMtMTAiIHBvaW50cz0iMTkyLjM4NSAxNS4zNDMgMTQ4LjU1MiAxNS4zNDMgMTI2LjYwMiA1My4zMTQgMTQ4LjU1MiA5MS4yODYgMTkyLjM4NSAxNS4zNDMiLz4KPHBhdGggZD0iTTUxLjI0NTUzLDIyNy4xNDkzNWMtLjM5MDc5LS4xOTUzOC0xLjEwNzIzLS41MjEtMS4xMDcyMy0uNTIxbDEuNzU4NTQtMy45NzMuOTc3LjM5MDc5YTIzLjk2MiwyMy45NjIsMCwwLDAsMTAuMDk1MzMsMi4wODQyYzUuOTkyMDcsMCw4Ljk4ODExLTEuOTUzOTMsOC45ODgxMS01LjkyNjk0YTMuMTUwNjIsMy4xNTA2MiwwLDAsMC0xLjE3MjM2LTIuNTQwMTEsNy42ODE2MSw3LjY4MTYxLDAsMCwwLTIuODY1NzgtMS42MjgyOGMtMS4xMDcyMy0uMzkwOC0yLjczNTUxLS44NDY3LTQuODE5NzEtMS40MzI5YTYxLjAwNTMyLDYxLjAwNTMyLDAsMCwxLTYuNzA4NTEtMi4wODQyLDEyLjEzODM1LDEyLjEzODM1LDAsMCwxLTQuNDI4OTItMi45OTYsNy40OTI0MSw3LjQ5MjQxLDAsMCwxLTEuODIzNjctNS4zNDA3Nyw5LjY2MDU5LDkuNjYwNTksMCwwLDEsMS41NjMxNS01LjM0MDc3LDEwLjU4MTE5LDEwLjU4MTE5LDAsMCwxLDQuNTU5MTgtMy43Nzc2LDE3LjQzOTMzLDE3LjQzOTMzLDAsMCwxLDcuMjI5NTYtMS40MzI4OSwyOS43OTQsMjkuNzk0LDAsMCwxLDEwLjIyNTYsMS42OTM0MSw1LjY0MzQ2LDUuNjQzNDYsMCwwLDEsMS4wNDIxLjM5MDc5bC0xLjYyODI4LDMuOTA3ODdhOC4zMTcsOC4zMTcsMCwwLDEtLjg0NjcxLS4yNjA1MiwyNS4zMjc5MiwyNS4zMjc5MiwwLDAsMC04LjI3MTY2LTEuMzY3NzYsMTIuMjk0LDEyLjI5NCwwLDAsMC02LjU3ODI1LDEuNTYzMTUsNC44MjM1LDQuODIzNSwwLDAsMC0yLjU0MDEyLDQuMjk4NjYsMy44MzksMy44MzksMCwwLDAsMS4yMzc0OSwyLjk5Niw4LjMyNjA2LDguMzI2MDYsMCwwLDAsMy4wNjExNywxLjgyMzY3LDM4LjQ3NDExLDM4LjQ3NDExLDAsMCwwLDQuOTUsMS4zNjc3Niw0Ny44NDIzMSw0Ny44NDIzMSwwLDAsMSw2LjUxMzEyLDEuOTUzOTMsMTAuNzI5OTMsMTAuNzI5OTMsMCwwLDEsNC4yMzM1MywyLjk5Niw4LjE4MjkxLDguMTgyOTEsMCwwLDEsMS43NTg1NCw1LjUzNjE2LDguNDkyODEsOC40OTI4MSwwLDAsMS0xLjYyODI4LDUuMTQ1MzYsMTAuODEwMzQsMTAuODEwMzQsMCwwLDEtNC42MjQzMSwzLjU4MjIxLDE3LjQwMjc2LDE3LjQwMjc2LDAsMCwxLTYuOTAzOTEsMS4zMDI2M0EyOS43ODY4NSwyOS43ODY4NSwwLDAsMSw1MS4yNDU1MywyMjcuMTQ5MzVaIi8+PHBhdGggZD0iTTk3LjIyODE2LDIyNy4yMTQ0N2ExNS44NDA3NSwxNS44NDA3NSwwLDAsMS02LjI1MjYtNi41MTMxMiwyMC41NzY3NCwyMC41NzY3NCwwLDAsMS0yLjI3OTU5LTkuNTc0MywyMS42MiwyMS42MiwwLDAsMSwyLjI3OTU5LTkuNTc0MjksMTYuMjc2NDUsMTYuMjc2NDUsMCwwLDEsNi4yNTI2LTYuNTEzMTIsMjAuMTkxNTMsMjAuMTkxNTMsMCwwLDEsMTguODg4LDAsMTYuNzAyNjUsMTYuNzAyNjUsMCwwLDEsNi4yNTI2LDYuNTEzMTIsMjAuNDU0ODYsMjAuNDU0ODYsMCwwLDEsMCwxOS4wMTgzMiwxNi4yNzY1MiwxNi4yNzY1MiwwLDAsMS02LjI1MjYsNi41MTMxMiwxOC4zMDUsMTguMzA1LDAsMCwxLTkuNDQ0LDIuMzQ0NzNBMTYuODAxMDgsMTYuODAxMDgsMCwwLDEsOTcuMjI4MTYsMjI3LjIxNDQ3Wm0xNi42MDg0NS0zLjg0Mjc0YTEyLjI0NjE3LDEyLjI0NjE3LDAsMCwwLDQuNjI0MzItNS4wMTUxMSwxNi4wNzEzMiwxNi4wNzEzMiwwLDAsMCwxLjU2MzE1LTcuMTY0NDMsMTUuODc1LDE1Ljg3NSwwLDAsMC0xLjU2MzE1LTcuMTY0NDMsMTEuODU4MTksMTEuODU4MTksMCwwLDAtNC42MjQzMi01LjAxNTExLDEzLjQ3ODM5LDEzLjQ3ODM5LDAsMCwwLTcuMTY0NDMtMS44MjM2NywxMy4zMjIsMTMuMzIyLDAsMCwwLTcuMTY0NDMsMS44MjM2NywxMi42OTkyNiwxMi42OTkyNiwwLDAsMC00LjYyNDMyLDUuMDE1MTEsMTYuMDcxNTksMTYuMDcxNTksMCwwLDAtMS41NjMxNSw3LjE2NDQzLDE1Ljg3NTEzLDE1Ljg3NTEzLDAsMCwwLDEuNTYzMTUsNy4xNjQ0MywxMS44NTgzLDExLjg1ODMsMCwwLDAsNC42MjQzMiw1LjAxNTExLDEzLjMyMiwxMy4zMjIsMCwwLDAsNy4xNjQ0MywxLjgyMzY3QTEyLjkxMiwxMi45MTIsMCwwLDAsMTEzLjgzNjYxLDIyMy4zNzE3M1oiLz4KPHBhdGggZD0iTTEzMy41NzEzNywxOTMuMDIwNTloNS4wMTUxbDEyLjc2NTcyLDMxLjY1Mzc3LDEyLjcwMDU5LTMxLjY1Mzc3SDE2OS4xMzNsLTE1LjA0NTMxLDM2LjM0MzJoLTUuNDcxWiIvPgo8cGF0aCBkPSJNMTkyLjUxNTExLDE5OC45NDc1M2wtMTIuNzAwNTgsMzAuNDE2MjhoLTUuMDE1MTFsMTUuNDM2MS0zNi4zNDMySDE5NC45MjVsMTUuNDM2MSwzNi4zNDMyaC01LjAxNTExWiIvPgo8cGF0aCBkPSJNMjIzLjQ1MjQzLDIyOS4xMDMyOVYxOTMuMDIwNjFoNC42MjQzMmwuMDY1MTQsMzEuMzkzMjVoMTkuMTQ4NTd2NC42MjQzMmgtMjMuODM4WiIvPgo8cGF0aCBkPSJNMjYwLjEyMTI5LDIyOS4xMDMyOVYxOTMuMjgxMTNoMjUuMDc1NTJ2NC4zNjM4aC0yMC40NTEydjExLjMzMjgySDI4My4zMDh2NC4zNjM4aC0xOC41NjI0djExLjM5OGgyMC40NTEydjQuMzYzOEgyNjAuMTIxMjlaIi8+CjxwYXRoIGQ9Ik0zMDAuNjMyOTEsMjI5LjM2Mzgxdi0zNi4zNDMyaDMuMzIxN2wyMy4yNTE4NCwyNy42MTU2MlYxOTMuMDIwNjFoNC42ODk0NnYzNi4zNDMyaC0zLjM4NjgzbC0yMy4xODY3MS0yNy40ODUzOC0uMDY1MTQsMjcuNDg1MzhaIi8+CjxwYXRoIGQ9Ik0zNTYuMTI0NzEsMjI5LjM2Mzgxdi0zMS43MTg5SDM0My40ODkyNnYtNC4zNjM4aDI5Ljg5NTIxdjQuMzYzOEgzNjAuNzQ5djMxLjcxODlaIi8+PHJlY3QgeD0iMjguMzg0NDciIHk9IjE5My4wMjA1OSIgd2lkdGg9IjQuNjg5NDUiIGhlaWdodD0iMzYuMzQzMiIvPgo8cG9seWdvbiBjbGFzcz0iY2xzLTExIiBwb2ludHM9IjE5NC41MzQgMjE1LjYyMSAxOTYuMzU4IDIxOC43NDcgMTk0LjUzNCAyMjEuOTM5IDE5MC44ODcgMjIxLjkzOSAxODkuMDYzIDIxOC43NDcgMTkwLjg4NyAyMTUuNjIxIDE5NC41MzQgMjE1LjYyMSIvPgo8L3N2Zz4=
    mediatype: image/svg+xml
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - security.openshift.io
          resourceNames:
          - hostnetwork
          resources:
          - securitycontextconstraints
          verbs:
          - use
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterroles
          - clusterrolebindings
          verbs:
          - create
          - get
          - patch
          - update
          - delete
          - list
          - watch
        - apiGroups:
          - cilium.io
          - isovalent.com
          resources:
          - '*'
          verbs:
          - '*'
        - apiGroups:
          - apiextensions.k8s.io
          resources:
          - customresourcedefinitions
          verbs:
          - '*'
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - create
          - get
          - update
        - apiGroups:
          - ""
          resources:
          - services/status
          verbs:
          - update
        - apiGroups:
          - ""
          resources:
          - pods
          - pods/status
          - pods/finalizers
          verbs:
          - get
          - list
          - watch
          - update
          - delete
        - apiGroups:
          - ""
          resources:
          - nodes
          - nodes/status
          verbs:
          - get
          - list
          - watch
          - update
          - patch
        - apiGroups:
          - ""
          resources:
          - namespaces
          - services
          - endpoints
          - componentstatuses
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - discovery.k8s.io
          resources:
          - endpointslices
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - networking.k8s.io
          resources:
          - networkpolicies
          verbs:
          - get
          - list
          - watch
        serviceAccountName: cilium-ee-olm
      deployments:
      - name: cilium-ee-olm
        spec:
          replicas: 1
          selector:
            matchLabels:
              name: cilium-ee-olm
          template:
            metadata:
              labels:
                name: cilium-ee-olm
            spec:
              containers:
              - command:
                - /usr/local/bin/helm-operator
                - run
                - --watches-file=watches.yaml
                - --enable-leader-election
                - --leader-election-id=cilium-ee-olm
                - --zap-devel
                - --metrics-addr=localhost:8082
                - --health-probe-bind-address=localhost:8081
                env:
                - name: WATCH_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                envFrom:
                - configMapRef:
                    name: cilium-ee-olm-overrides
                image: registry.connect.redhat.com/isovalent/cilium-ee-olm:40511d58c291a26dd0831f88b80a89b9ada83feb-v1.11.9@sha256:5e1d770e0d21999d8a578f700d4503ec6b661d71284444916e95cce44cfd4063
                name: operator
                ports:
                - containerPort: 9443
                  name: https
                  protocol: TCP
                resources:
                  limits:
                    cpu: 200m
                    memory: 768Mi
                  requests:
                    cpu: 100m
                    memory: 512Mi
                volumeMounts:
                - mountPath: /tmp
                  name: tmp
              hostNetwork: true
              serviceAccount: cilium-ee-olm
              terminationGracePeriodSeconds: 10
              tolerations:
              - operator: Exists
              volumes:
              - emptyDir: {}
                name: tmp
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
        - apiGroups:
          - ""
          resources:
          - namespaces
          verbs:
          - get
        - apiGroups:
          - cilium.io
          resources:
          - ciliumconfigs
          - ciliumconfigs/status
          verbs:
          - list
        - apiGroups:
          - cilium.io
          resources:
          - ciliumconfigs
          - ciliumconfigs/status
          - ciliumconfigs/finalizers
          verbs:
          - get
          - patch
          - update
          - watch
          - list
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - '*'
        - apiGroups:
          - ""
          resources:
          - serviceaccounts
          - configmaps
          - secrets
          - services
          verbs:
          - '*'
        - apiGroups:
          - batch
          resources:
          - jobs
          - cronjobs
          verbs:
          - '*'
        - apiGroups:
          - apps
          resources:
          - deployments
          - daemonsets
          - jobs
          verbs:
          - '*'
        - apiGroups:
          - networking.k8s.io
          resources:
          - ingresses
          verbs:
          - '*'
        - apiGroups:
          - monitoring.coreos.com
          resources:
          - servicemonitors
          verbs:
          - '*'
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - roles
          - rolebindings
          verbs:
          - '*'
        serviceAccountName: cilium-ee-olm
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - networking
  - security
  - observability
  - eBPF
  links:
  - name: Cilium Enterprise Homepage
    url: https://isovalent.com/
  maintainers:
  - email: maintainer@isovalent.com
    name: Cilium Enterprise
  maturity: stable
  provider:
    name: Isovalent
  relatedImages:
  - image: quay.io/isovalent/cilium:v1.11.9-cee.1@sha256:24303e0eb4d7023bb665b37c4b07adb75e2cd995c24d1b15849f17ed4498bce1
    name: cilium
  - image: quay.io/isovalent/hubble-relay:v1.11.9-cee.1@sha256:99498c03e9b48ae6ba72f7a811acd7b0c160a014d503be35007ee97b70260e69
    name: hubble-relay
  - image: quay.io/isovalent/operator-generic:v1.11.9-cee.1@sha256:1aaabd1bd3e64053a525c5f89fd7608faa0f6504fd9171944259561445c98d67
    name: cilium-operator
  - image: quay.io/isovalent/cilium:v1.11.9-cee.1@sha256:24303e0eb4d7023bb665b37c4b07adb75e2cd995c24d1b15849f17ed4498bce1
    name: preflight
  - image: quay.io/isovalent/clustermesh-apiserver:v1.11.9-cee.1@sha256:257529c1e73b3628e8701e712bb76455b81ca36b68943299d93f2a569218cb3e
    name: clustermesh
  - image: quay.io/cilium/certgen:v0.1.5@sha256:0c2b71bb3469990e7990e7e26243617aa344b5a69a4ce465740b8577f9d48ab9@sha256:0c2b71bb3469990e7990e7e26243617aa344b5a69a4ce465740b8577f9d48ab9
    name: certgen
  - image: quay.io/isovalent/hubble-ui-enterprise-backend:v0.17.0@sha256:ecc0212aa5442744c147a0f49817ac4d1954eaf8e19edf538a7b4e3ef2c24423
    name: hubble-ui-backend
  - image: quay.io/isovalent/hubble-ui-enterprise:v0.17.0@sha256:e75817a960b04ae012c3e9c0c664fdab51840109524fb721c3b35e3392f14aa5
    name: hubble-ui-frontend
  - image: quay.io/oauth2-proxy/oauth2-proxy:v7.1.3@sha256:ecd26b74a01f2b547ddaed4d32d35f8f5e09c378d5c1fc6cfa63f0adf659ac2b
    name: hubble-ui-oauth
  - image: quay.io/cilium/cilium-etcd-operator:v2.0.7@sha256:04b8327f7f992693c2cb483b999041ed8f92efc8e14f2a5f3ab95574a65ea2dc@sha256:04b8327f7f992693c2cb483b999041ed8f92efc8e14f2a5f3ab95574a65ea2dc
    name: etcd-operator
  - image: quay.io/cilium/startup-script:62bfbe88c17778aad7bef9fa57ff9e2d4a9ba0d8@sha256:1daf817f34000399fcb5da9a94cb299e2810d2c7a52e51de22ba0d4783b6ce84
    name: nodeinit
  - image: quay.io/coreos/etcd:v3.4.13@sha256:04833b601fa130512450afa45c4fe484fee1293634f34c7ddc231bd193c74017@sha256:04833b601fa130512450afa45c4fe484fee1293634f34c7ddc231bd193c74017
    name: clustermesh-etcd
  - image: quay.io/isovalent/hubble-enterprise:v1.8.2@sha256:1e1d3e6c199546b2398f4166ff64210c04075bb407c8f07c5be8d3db08560d4a
    name: hubble-enterprise
  - image: quay.io/isovalent/hubble-enterprise-metadata:current@sha256:372511f6fa3523dadfe9128caf77520cf74ce24df4a19e1583ee197375e06014
    name: hubble-enterprise-metadata
  - image: quay.io/isovalent/hubble-enterprise-operator:v1.8.2@sha256:0d5e6a5d9c07780c18e5aa81d8f1c95c399bff2d36a44fa5f61ac89a788ca83b
    name: hubble-enterprise-operator
  - image: quay.io/cilium/hubble-export-stdout:v1.0.2@sha256:f1b1475a3c89950481264f5f8ca63eea3b911a45dc83fdf15122d695a0fba9b3
    name: hubble-export
  - image: quay.io/isovalent/hubble-export-fluentd:v1.5.1@sha256:eaf42a84821509b69e2ef2b658796062e79a90e63045a98689da3da99a12e492
    name: hubble-export-fluentd
  - image: quay.io/isovalent/hubble-export-s3:2021-04-20-6f4b384@sha256:ce4f71f7f13301133b7d471b87fb81108b2c2da7fc29865ef96bc8431b2be72b
    name: hubble-export-s3
  - image: quay.io/isovalent/hubble-rbac:v1.1.0@sha256:9ae9187c25b1d49e9338c6ba4c73be18adee551da2bb9a342602d5060103ae11
    name: hubble-rbac
  replaces: cilium.v1.11.8-x9da5374
  version: 1.11.9+x68559da
