apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  name: ibm-security-verify-operator-webhook-service
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 9443
  selector:
    app: ibm-security-verify-operator
    control-plane: controller-manager
status:
  loadBalancer: {}
