apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: triliovault-login-only
  labels:
    app.kubernetes.io/instance: k8s-triliovault-tvk-default-role
    app.kubernetes.io/managed-by: k8s-triliovault
    app.kubernetes.io/name: k8s-triliovault
    app.kubernetes.io/part-of: k8s-triliovault
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
