apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: admission-webhooks-server-cert
  creationTimestamp: null
  name: tenant-operator-admission-webhooks-service
spec:
  ports:
  - port: 443
    targetPort: 9443
  selector:
    control-plane: controller-manager-admission-webhooks
status:
  loadBalancer: {}
