apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  creationTimestamp: null
  labels:
    redhat.marketplace.com/name: ibm-metrics-operator
  name: ibm-metrics-operator-metric-state-view-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view
subjects:
- kind: ServiceAccount
  name: ibm-metrics-operator-metric-state
  namespace: openshift-redhat-marketplace
- kind: ServiceAccount
  name: ibm-metrics-operator-metric-state
  namespace: redhat-marketplace
- kind: ServiceAccount
  name: ibm-metrics-operator-metric-state
  namespace: ibm-common-services
- kind: ServiceAccount
  name: ibm-metrics-operator-metric-state
  namespace: ibm-software-central
