apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "sdi.sap-redhat.io/v1alpha1",
          "kind": "SDIObserver",
          "metadata": {
            "labels": {
              "app.kubernetes.io/created-by": "observer-operator",
              "app.kubernetes.io/instance": "sdiobserver-sample",
              "app.kubernetes.io/managed-by": "kustomize",
              "app.kubernetes.io/name": "sdiobserver",
              "app.kubernetes.io/part-of": "observer-operator"
            },
            "name": "sdiobserver-sample"
          },
          "spec": {
            "manageSDINodeConfig": true,
            "sdiNamespace": "sdi",
            "sdiVSystemRoute": {
              "managementState": "Managed"
            },
            "slcbNamespace": "sap-slcbridge",
            "slcbRoute": {
              "managementState": "Managed"
            }
          }
        }
      ]
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v1.19.0+git
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
    operators.openshift.io/infrastructure-features: '["disconnected"]'
    operatorframework.io/suggested-namespace: sdi-observer
  name: observer-operator.v0.0.3
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: SDIObserver is the Schema for the sdiobservers API
      displayName: SDIObserver
      kind: SDIObserver
      name: sdiobservers.sdi.sap-redhat.io
      version: v1alpha1
  description: Operator for monitoring SDI's namespace and modifying objects in there
    that enable running of SDI on top of OpenShift. The observer shall be run in a
    dedicated namespace. It must be deployed before the SDI installation is started.
    Please refer to https://access.redhat.com/articles/5100521 for detailed information.
  displayName: SAP Data Intelligence Observer Operator
  icon:
  - base64data: "iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAw1BMVEX///8FO3AKbtEAadAAZs8AatCBq+MAOW8AYs4ANW3m7/pil90AN24bdNMAM2wAbNGuxux1n98AJ2aQtOYAY84AK2j4+/5Bh9h+peDW5fYye9QAImSkweq7zu4AL2oAI2QAXc0AHWLJ0dvb4ehieprr7/O7xdJvhKGhrsA/X4isuMjCy9ZJZozU2+NSbZEVRHaLnLN6jaiGl6+XuOfI2vIyU36kscIkTHs2WINpf55bdJXe6fdMi9m/0e4ygNYAAFkAEF1rYXmHAAAOh0lEQVR4nO1daVuruha2gwKKdEsPqBtNS1s6SUftqHuf8/9/1aW1JQNTJqjPfXi/VUPICsmas3J1VaJEiRIlSpQoUaJEiRIlSpQoUaJEiRIlSpQo8X+Mbn++6Pmj0bS3mI87dkpLu7MOmk5HI3+6m/e7hY1QBPbbwnAsYGiarmuaASzT3Sze4qgMWm5c89RUPzR1wKCfNh8/Ad4AmIZSwaEYpjHoEC07OyPasnJo+ZO/pNdzDHLM56G3ZmOk5XjWSmzp9ryLUZCBeeKoj1/SqvRPDfuKFfl62GzML0pHErqz1GEfaGxtDyuwu21lNbRmP3Cpjk09fdgH6M78au7QNGyNs19ZLJZO9rAPXwdUAFXDirO8NEk4dibduBlgLi5NFIpFlEAlkIZ6xn5Lb2r+oK+4JpaoBlpg4099fwMC4Z+27XRgHZoGbTfBMxpOpvNj9uLEQUemgNZ0HbJC723uA0uLJU+zgD9/C4Vfdz01AdZT62dw1O54pmDDXkYEdt93ojRqjt8nG3pLE22ozMYXp7G7rLQwMWiNYhWSiU/IQKXlT+Iaej66pRWrNVteksj+1gH4wN1EbaRvoAqPoUW+3xlDF58K4GwT2+aMt01EyFspY7F9C7abppgQfYvoVTc3b/KHnwnPdyI2hJs+kMF56BmiruOSPeuOX7g2vnajvKOVtZp63/oM2GW067cifWvuWtbQ6bCLUZ7BIPOxzWFZ66vMdouoaqe0suZFJuxtjHKpz7If7AaqgeJQLLhZjJoARoXZ//Ymzg60aDSQZaB50xh//Tg919gUReIqQqBuAKDRPOpZikE1TAUAI6KrGtnrWwp8gkDD1EeL+ZJOiRxQmgz95Xwx0k1C3Bq+yMBpscTElWKBZaxykoDOvyytJ0sDdxxYBZhUfRd744xV/3cZ249n2IxmiFwJsNHNoSQraYkYMj8xRxUARcmb2wwQOaFVilGKuxVEu6CQumIvQ9aosSqKedso93bzndY9nE2tINZ9xBZ57z7PF3WhuyL/DYHCVuBezNXyX8DV4rBwfXFM4NyCPCUG1PlB0Y6wJWRxrfze8hZqiwrI7y0JgIEqMz+ZOAgXqcUu1kQxDD+ikZ/AgDYNKD6Q6YW6jUJhp3G+I9ztWi+vd6SgF0oMGguTC3AbpnmcCNgvzeZz+Ov2vfl+G/56bjZf6BcD9FDlthHhTqCfRLtar9XbL6dfz+3DrzPBL8Gvf6rUJHohJwd5cQEoDS3qZ5r1aoD6iYzHRvDj+vH7h/39ryZ1X+E3NPKSiLszhfqW+pm76wMZ6mll3h9+VO+/f9yqhx/Xd9R9bc+MzsjLKTU9b3UG1VAmhaFSrE1Zhk2PTqhUMMyhTAp3UGckc1ekYAB93NqFKAzFheLIF/rdGWr60q8SmRROUUN4I9nC6GMJFAxKhUwKK6hTSnekRqTWbgUDvTtJJoXkICRGMoiQHosRKpHCLhmvcaUJ/j5JIEMgSCKFw0i4y5W0ULt4DEEBznRObeBLpHAyn5IhZ1MOu6lgcSBrNmSxnGTuw0DRG+L+YZp4VzZQD2nFAIzbWy6FAdYADZvI8J520Gwgc89q+Uqn8Mreo7vGEdduNsga5WBe8inEWbu+YX6cwBiZMJ6MyDwovBojcsMUTQ1D8p1aPOLnoXYgo31a3PcH+7BxotBuH/5Ve+DodQhJFHXaINFmvk390W40GvWv06+mWm1U1bPN+1UP/tf+4OkWYX+mmFD0ddG5eq3W6nchf2pe165Do96+q9eqr3zdbsK1pQvFhT34CSUwLZlAWLwp4nmDvqe8zGpuQFNKyC/lh920ig3EZGMSMhtNZJmGZr3CJXZufzVp8Os2u6sowp2oCERqoL1CleZDwL5T63RQ7ziCBPNwBwkEFKGXmWOR2tWjKKRCjd4vHAIuUwYPPAkYs6N3AYe4oycwIJFDs7FEFtgJ0AXMHrN/bjMQGGg9z9ldEpDhIOZxAZ/xXmeisP7O/AYZDuKRwCzdsCzSYJneML8BrrAR87NnrM4MOS3qar8/4bj55Kbw84bo6z2FA4URaYU/72V1/oYpEdFD+AxHXX3mpPBZjfSVwmTDiCkHlzgj3MspK70Z3W+NR04Kj8E3HCnBt5BLMITCkvtIXunfJi5BIieFUQLTDOQRxfxnAeZeJCeXxIo9gsLrBF0GmZwjhXGUJxvIMnIzoGLkJCpGr2pkVPUnnMLrh5d4PEASjxQ+RFd8O9F+hBloAhIfam1WshPxSVX/wdD+snEK678SHv1Vxym0v9p4V6r6lPjeNRwcv9YGpyltqd8+4zgKCy4KA3FB9JVidUADMXmBZQMeeWQ2pPkopAd0PyhUpwQSgLAa1rWeN4VzOUlgiKvNYrRvcqbQhvELMWcbTAhkzerMmUJ4Mkox2J4kAJdppcXmbMuXwg50CQtmKiKZ60qFaZ3mSqGNhPRFM9uR/AcjXnV7/vqN4/EopLkofH0k+vqKN4xHcGkJuzm7SEQSxLntPtvXDQJHPYSHwl9tsqvr9mfMcz4S0rSEw8AbJK4cd0TmKaqXNn5zUvg7qnrXYpSaOdw6nG5OFG9IdC22jAOFbUFNIa1tgRapEM413cIAafzx3YeYb3jPSeF9zDeMtS12cJkKGIdHIFxZi+/qI7J3quo7J4XvajWyp+ODb8jEM0oxEsgpICtBM32NzPzRLOfipU2iq8Z9gvEE09oFTwl58HxjyvkDG8f3HznlYWxfMRjCzP2kqafCGPZTYXw0b80bynyqI9ZJgIs0xQSOR94Uwo8otEz5TYvcKbThBjIZH0UAo2vsTu+8KbzqhZqbQHRtLOAKyZ1CZHD8GxEJQqbxKzuOAfJRGNtVPDwZvrYw9pGWavJSVTG0j85EPgqf6m28s+pLwqNXCDcViK6F2TQpOSsfkThh45gShFBYe/rzGoc/iNZ+pLCpRtS2lIQimtFlAcYtkhkyhV5arSX4vNEmR7000lWaz1tG3IImuna5uIVIhDqkMIyQJruhKOxDagop7cMTBhIohDHg5G94265F7HLCxqem8DVip9TayV7vHkVkLAtUcfzPu0ccX3+uOCm8+vNF9HUX58SIjI7fVcNzHO+M/OP4G5oYfAZCia+w59Pknothh0qzlOiayZwT9RGNK6ZBZU6k7fCcSiYhFIT8G8P7E9H4y9z/MtS8RaJrZpj/x54hfNumJ7GRwjKTUJFhPSEWsMnu7/n8q9booP5OYZkJgGExIQsYRpK5ZM7HzQMNbniS2aG3jdn9gMILl2l2UcRiAc+BiHmikMAMY+gpZ9gw/i4YmkHjdIVUg6OEzx3XjAA59mRxqQ7PX7//Qmn++nj/CJ28zb9J4bMMoF590dAMWkqUp4b4p3rdaIRZMUfVOkwCelIDNV1lZ6Ow1KsU/jBCjqZa7Ev+27hST3v4aB4djasA9lHrSTGPEmBPEQI1frvijC5ai5X9FLz8s2vdGXLEUhHRZ84YogcadXfAxptlU+jtsCLDppTj3Fusmqdh9liYl1wK33omPhjxNXqAhx91VgzTnF7ktPq0ZeKV93VZMrpL1rVWLGoPpUQKe+QdKFI24Tc65PUc9BaZRArJSuaKzAODHeIr0teJkkihh8+zIqrM4JgYWMUGeqeGTE6D1RA3NMnnBb0RsgsYTCmZFCKpPUrCHQxCQIrdMhSky6cCD095Xwp4Mw73XS5VlJRZTkX3thQucBK5VMISzRJKhM9x0CuXamZiB9Sp3nAZTrOiCPaJYUFxhIaETApDp1FuVQV5KkMe7cPG2T48eonP3l/7nwaTfVhAZUie6p6fai2w6s9hl9f2deO6/ef06yaw+GsqtS94nH91T48nveb24fELemae7x7voGfm9evxgd7ZDd3TqZkhQrhwlV2BEAMtEFZTfKVk5JBMfgW9kWrXYsc4OIAeksnxBghYLq3wiuXIIZk8a4kjhdELrjqPGOG5Ti4SqSk2juHBi0MUoYo7mUDOQWmFXW9xuH8JObqT7xUenluBr+IikSfM4CEEVtycb2Cbo6VoDfa92P2XfVo66EWfVu63IaOFYBX2K23H/zH7jxaofyZHaX/GBFmnAV8z1mzfpMd4Q6w9BNgdb24BLHyOlTNVLGPB8FVswFSQ820AcCepWciN3T3i4jzDdLa7Bd2F6IF9QJfV4fUWvZVjEheggYLuZBhF7gbUNYOuquJGoXRBzE1Di9wQCOQEYigQJZGSBRwzKKic8RUl+oriCLy6mpKXoVaoDo1/32lEcygycttqhSsCLYBF5DJUmo94SjCwstlp9BMqbsE3kePX+34PPIvPhYVVMy/AW0a2gWEUnrHk9VySEzjpA+9AtT3jeHKfjObpLh2rlozJqEWUEE8tr41G6BSQ1nJCXtXeGl2qLmXHd7C74RUrmU2OsZrxaS3fsFivDhz/kqVTveHIQZM/3IRDVvaOiLEmR4+wWwoMZzS8xPrE4PVQnmPGXi/dV6IS1FrFLT1viiqFYHdx8o5Q0JWqWUtyVP2VGSO/K7ozJVmTt7TQrV2AIUEHIpEBmPtxSKTXWWhWzAXN37NhVhad0Dbx1nsT/9QF+4JSMMdvnlA0ywGr/WC39yuB8hz3/cKmgdo+8/e7wXQFHEsj8iGKd8omYhBVsgJlPNCdo6oJmRQT/OnYNDoPjJZkztjH6JFxMGadWUQZiod5idvrUjAg1ZBYWL59ZftUs+EUrIZmY0imhkWhO98ycO4ksZ4Qirw7ZOShU4mxGtFBm2FyancTKz4gwOxnVYA/Y+GQV90g9FkGms+4NqIcJ4T281boGd29G8MTA+iWQtxOYw+VBDFpuNNiLsPmQ3dvWuSH1IC5jVNXx1sTEG0DSWrtfzJ9B3jjqduyQCAL9UDOAatl7RN1Z2+4t85tdQOAVqAN/aRzK4mwJ+vlbrpdjfzdfJyleE3G850/Wm393XL9Y5S0EiVKlChRokSJEiVKlChRokSJEiVKlChRokSJPPA/gU5kNS0YUOgAAAAASUVORK5CYII="
    mediatype: "image/png"
  install:
    spec:
      clusterPermissions:
      - rules:
        - resources:
          - serviceaccount
          apiGroups:
          - ""
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - apps
          resources:
          - daemonset
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
            - config.openshift.io
          resources:
            - clusteroperator
          verbs:
            - get
            - list
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - services
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - image.openshift.io
          resources:
          - imagestream
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - installers.datahub.sap.com
          resources:
          - datahubs
          - voraclusters
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - machineconfiguration.openshift.io
          resources:
          - containerruntimeconfig
          - kubeletconfig
          - machineconfig
          - machineconfigpool
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - route.openshift.io
          resources:
          - routes
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - route.openshift.io
          resources:
          - routes/custom-host
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - route.openshift.io
          resources:
          - routes/status
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - sdi.sap-redhat.io
          resources:
          - sdiobservers
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - sdi.sap-redhat.io
          resources:
          - sdiobservers/finalizers
          verbs:
          - update
        - apiGroups:
          - sdi.sap-redhat.io
          resources:
          - sdiobservers/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: observer-operator-controller-manager
      deployments:
      - label:
          app.kubernetes.io/component: manager
          app.kubernetes.io/created-by: observer-operator
          app.kubernetes.io/instance: controller-manager
          app.kubernetes.io/managed-by: kustomize
          app.kubernetes.io/name: deployment
          app.kubernetes.io/part-of: observer-operator
          control-plane: controller-manager
        name: observer-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: manager
              labels:
                control-plane: controller-manager
            spec:
              affinity:
                nodeAffinity:
                  requiredDuringSchedulingIgnoredDuringExecution:
                    nodeSelectorTerms:
                    - matchExpressions:
                      - key: kubernetes.io/arch
                        operator: In
                        values:
                        - amd64
                        - arm64
                        - ppc64le
                        - s390x
                      - key: kubernetes.io/os
                        operator: In
                        values:
                        - linux
              containers:
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=0
                image: gcr.io/kubebuilder/kube-rbac-proxy:v0.13.0
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                  protocol: TCP
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 5m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=127.0.0.1:8080
                - --leader-elect
                command:
                - /manager
                env:
                - name: OPERATOR_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                - name: RELATED_IMAGE_DISCONNECTED
                  value: "quay.io/redhat-sap-cop/sdi-observer-operator:0.1.4"
                image: quay.io/redhat-sap-cop/sdi-observer-operator@sha256:8f87b6ce5e23c2e74364514114ceb3cff35879941746453ebf694035ff41d90b
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 10m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              securityContext:
                runAsNonRoot: true
              serviceAccountName: observer-operator-controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: observer-operator-controller-manager
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - sdi
  - sap data intelligence
  links:
  - name: Observer Operator
    url: https://observer-operator.domain
  maintainers:
  - email: mjiao@redhat.com
    name: Manjun Jiao
  maturity: alpha
  provider:
    name: SAP LinuxLab - Red Hat
    url: https://github.com/sap-linuxlab
  relatedImages:
    - name: sdi-observer-operator
      image: quay.io/redhat-sap-cop/sdi-observer-operator@sha256:4a5a66ca6e8c9642b87e331c21ab577c3572c67c7a5f465331fc48f785fa98d8
  version: 0.0.3
