apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  creationTimestamp: null
  labels:
    redhat.marketplace.com/name: ibm-metrics-operator
  name: ibm-metrics-operator-reporter-cluster-monitoring-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-monitoring-view
subjects:
- kind: ServiceAccount
  name: ibm-metrics-operator-reporter
  namespace: openshift-redhat-marketplace
- kind: ServiceAccount
  name: ibm-metrics-operator-reporter
  namespace: redhat-marketplace
- kind: ServiceAccount
  name: ibm-metrics-operator-reporter
  namespace: ibm-common-services
- kind: ServiceAccount
  name: ibm-metrics-operator-reporter
  namespace: ibm-software-central
