# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021-2022 Intel Corporation

apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  name: universalmonitoringagents.ca.broadcom.com
spec:
  group: ca.broadcom.com
  names:
    kind: UniversalMonitoringAgent
    listKind: UniversalMonitoringAgentList
    plural: universalmonitoringagents
    shortNames:
    - uma
    singular: universalmonitoringagent
  scope: Namespaced
  subresources:
    status: {}
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
