---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: webservers.example.com
spec:
  group: example.com
  scope: Namespaced
  names:
    kind: WebServer
    listKind: WebServerList
    plural: webservers
    singular: webserver
    shortNames:
      - ws
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          required:
            - spec
          properties:
            spec:
              type: object
              required:
                - type
              properties:
                type:
                  type: string
                  enum:
                    - nginx
                    - apache
                  default: nginx
                  title: "Web Server Type"
                  description: "Select which web server to deploy."
                  x-descriptors:
                    - "urn:alm:descriptor:com.tectonic.ui:select:nginx"
                    - "urn:alm:descriptor:com.tectonic.ui:select:apache"

                replicas:
                  type: integer
                  format: int32
                  minimum: 1
                  default: 1
                  title: "Replicas"
                  description: "Number of pod replicas."
                  x-descriptors:
                    - "urn:alm:descriptor:com.tectonic.ui:number"

                port:
                  type: integer
                  format: int32
                  minimum: 1
                  maximum: 65535
                  default: 8080
                  title: "Container Port"
                  description: "Port on which the web server listens."
                  x-descriptors:
                    - "urn:alm:descriptor:com.tectonic.ui:number"

                image:
                  type: string
                  default: ""
                  title: "Custom Image"
                  description: "Optional override container image."
                  x-descriptors:
                    - "urn:alm:descriptor:com.tectonic.ui:text"

            status:
              type: object
              properties:
                phase:
                  type: string
                message:
                  type: string
      subresources:
        status: {}
