apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "csi.nec.com/v1",
          "kind": "SANStorageCSI",
          "metadata": {
            "name": "sanstoragecsi"
          },
          "spec": {
            "driverName": "san.csi.nec.com",
            "images": {
              "csiDriver": "",
              "externalAttacher": "registry.redhat.io/openshift4/ose-csi-external-attacher:v4.9",
              "externalProvisioner": "registry.redhat.io/openshift4/ose-csi-external-provisioner:v4.9",
              "livenessProbe": "registry.redhat.io/openshift4/ose-csi-livenessprobe:v4.9",
              "nodeRegistrar": "registry.redhat.io/openshift4/ose-csi-node-driver-registrar:v4.9"
            },
            "parameters": {
              "controller": {
                "logLevel": 5
              },
              "node": {
                "livenessProbePort": 9808,
                "logLevel": 5,
                "maxVolumesPerNode": 1024
              }
            }
          }
        }
      ]
    capabilities: Basic Install
    categories: Storage
    certified: 'true'
    createdAt: '2022-06-15T00:00:00Z'
    description: An operator for managing the NEC Storage M Series CSI Driver
    operatorframework.io/suggested-namespace: nec-san-csi-operator-system
    operators.openshift.io/infrastructure-features: '["Disconnected"]'
    operators.operatorframework.io/builder: operator-sdk-v1.16.0
    operators.operatorframework.io/project_layout: ansible.sdk.operatorframework.io/v1
    support: NEC
  name: sanstoragecsi-operator-bundle.v1.1.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: SANStorageCSI is the Schema for the sanstoragecsis API
      displayName: NEC Storage M Series CSI Driver
      kind: SANStorageCSI
      name: sanstoragecsis.csi.nec.com
      specDescriptors:
      - description: The name of the NEC Storage M Series CSI Driver
        displayName: CSI Driver Name
        path: driverName
      - description: The container images of the NEC Storage M Series CSI Driver and the sidecars
        displayName: Container Images
        path: images
      - description: The container image of the NEC Storage M Series CSI Driver
        displayName: NEC Storage M Series CSI Driver
        path: images.csiDriver
      - description: The container image of the sidecar container (External Provisioner)
        displayName: External Provisioner
        path: images.externalProvisioner
      - description: The container image of the sidecar container (External Attacher)
        displayName: External Attacher
        path: images.externalAttacher
      - description: The container image of the sidecar container (Liveness Probe)
        displayName: Liveness Probe
        path: images.livenessProbe
      - description: The container image of the sidecar container (Node Registrar)
        displayName: Node Registrar
        path: images.nodeRegistrar
      - description: The parameters of the NEC Storage M Series CSI Driver
        displayName: CSI Driver Parameters
        path: parameters
      - description: The parameters of the Controller Plugin
        displayName: Controller Plugin
        path: parameters.controller
      - description: The node for scheduling the Controller Plugin
        displayName: Node Labels for nodeSelector
        path: parameters.controller.nodeLabels
      - description: The log level of the Controller Plugin
        displayName: Log Level
        path: parameters.controller.logLevel
      - description: The parameters of the Node Plugin
        displayName: Node Plugin
        path: parameters.node
      - description: The node for scheduling the Node Plugin
        displayName: Node Labels for nodeSelector
        path: parameters.node.nodeLabels
      - description: The port of liveness probe used by Node Plugin DaemonSet
        displayName: Liveness Probe Port
        path: parameters.node.livenessProbePort
      - description: The maximum number of volumes that can be used in a node
        displayName: Max Volumes Per Node
        path: parameters.node.maxVolumesPerNode
      - description: The log level of the Node Plugin
        displayName: Log Level
        path: parameters.node.logLevel
      version: v1
  description: |
    This operator deploys the NEC Storage M Series CSI Driver on OpenShift Container Platform.

    NEC Storage M Series CSI Driver provides persistent storage for stateful applications using NEC Storage M Series.
    Please refer to the documentation of the NEC Storage M Series CSI Driver for detail information about supported NEC Storage Platforms and supported CSI features.
  displayName: NEC Storage M Series CSI Operator
  icon:
  - base64data: iVBORw0KGgoAAAANSUhEUgAAAFAAAAAoCAYAAABpYH0BAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAFM0lEQVRoQ+2YXUxURxTH/7BfoFwEJKAgVUiIBCVK09IQE6MGlWoTU4tpQgmBNqJPalQeNMbEF2OiifHRNk2J1j4ZmxqNQCptY32oBSmBkECNlQ9TkG92l4/dvUvnnL27iywg7rC+dH7J7jLnzj33zn/OzDlD1IwAirCJNn4VYaIElEQJKIkSUBIloCRKQEmUgJIoASVRAkqiBJRECSiJElASqX8mXL/ezr9RUYDXC8THW1Bams22hXj8uA9Pnw7Cao3GkSO5bJvtZ6l4PDPIytJQXPyeYfHhdLrR0TEqntOP1tZh9PY6MDWl49WrSf5dudKMhAQrYmLM4n2tqKzciH37XvfxNkgJaDZ/LYSbQXS0b+S6riM9PQ61tfuxeXMS2+Zy4sRjXLvWDJPJKkSoYttcP4Suu8W3mJUF8WDXrmw8fPgJt+j+w4d/w507/2B0dEr4NIlPtBDNw30BC9asiYWmWTAwMCX6TAubE1VVH4oJ3E4uwkJKwNWra0B3m0zBgdMsezw6nj8vxdq1Kw1rkDNn/sCVKy08+0NDFWyb68dud+H8+Q94wBRp8+HxeEUExosIzOC/MzN/QF/fBAtEE0ErYmRkAidP5uPo0VxkZ68y7gxC/UnInJxEw/L2LIuA5IIGH2WsQZdLFx8vhocrEBtrZpufpQg4ODiBly/LkZYWOgHzceBALR486OEthN6BotHhcKO5uQS5ueGLsxSkk4iue7Fhg8aC0YsTVqtv+WRkfM/tcJgd1Yvhduu4d6+bI88/gbQPHj+eF3HxCOkIpOV28WIBbDYzjh37XdhiAgOhKMjJSeBI8LOUCCQBKio2IinJJiYo9PVoolatsuLs2ffx6NG/2L79JyQnxxpXfRHc1vY5Nm2afx9eTqQFHB93obp6K4tYXt6Amzc7AyKS6/FxN/bsWSei5GO+ZykCEoODTvGt+xoheEXEacL3l5w0Skrq+Zl8RYhLW8iLF18EbJFkWepA/xzcuLFLiJWBsTEX20hE2pfu3+8S5cIv3McfnYtBG3tNTREaGj5Dff2nIZ+6uoO4e7eY+9psJhbfD7l3ODwc/e+CZS+k6+r2Iz8/OTAAEowioaamQ0TeX0hJCS61haAsXlSUjp0707B797qQD03Sjh1p3Hf9+jjxHYxUeh5lYao33wUROYk8eXKQ68HJSaq/giKeO/cnbt36OyQzh+4iUSKKqU57M1RvaloMJzM/cXFmXLjQZLQiS8SOcq2tJVzDud2+gZGIcXEWPHs2xhl6NlSzzRaRBL56tc1ovZlTp7aImm8y4MNiiUZ3twOFhT8GKoNIIZVEEhO/4yRRXb0Fly59ZFiD0DLWtG+EcDYxKJMQ0WenzEp/j4xUcrusrEFEZqc4Ytl4+dE1p9OD6WldFNMr5hWBimc6jvX2lnG7rOxhILppX6SERPc7HNPYti0NBQUpfITTNCufRPr6nGhqGuQC+/btPewjHMIWkO7StG/FQF04fXorLl8uNK68Tnv7MA4d+hldXXbD4suUJJTd/hWL5RUhWFn5KxfDJNzEhMvoScz3elS4W8S51iKWum8SiJaWIbF0G9HYOCAKcWfgOeQ/6Ge2Px1792aJo6fvOBgOUhHY3z/BQtIBnWZ2MQYGaIkZDQE9NjV1hdHyQRFDGdhud3Nff8TOhYSh55E4qamhSYl8k4CdnWM8cRTxPT1OLm/onsxMjZc5nXTy8pI4ysNFSkBFBJPI/wUloCRKQEmUgJIoASVRAkqiBJRECSiJElASJaAkSkBJlIBSAP8BArNfXWyNO6UAAAAASUVORK5CYII=
    mediatype: image/png
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ''
          resources:
          - serviceaccounts
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterroles
          - clusterrolebindings
          - roles
          - rolebindings
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - storage.k8s.io
          resources:
          - csidrivers
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ''
          resources:
          - secrets
          verbs:
          - get
          - list
        - apiGroups:
          - ''
          resources:
          - persistentvolumes
          verbs:
          - get
          - list
          - watch
          - create
          - delete
          - patch
        - apiGroups:
          - ''
          resources:
          - persistentvolumeclaims
          verbs:
          - get
          - list
          - watch
          - update
        - apiGroups:
          - storage.k8s.io
          resources:
          - storageclasses
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ''
          resources:
          - events
          verbs:
          - list
          - watch
          - create
          - update
          - patch
        - apiGroups:
          - storage.k8s.io
          resources:
          - csinodes
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ''
          resources:
          - nodes
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - storage.k8s.io
          resources:
          - volumeattachments
          verbs:
          - get
          - list
          - watch
          - patch
        - apiGroups:
          - storage.k8s.io
          resources:
          - volumeattachments/status
          verbs:
          - patch
        serviceAccountName: sanstoragecsi-operator-bundle
      deployments:
      - name: sanstoragecsi-operator-bundle
        spec:
          replicas: 1
          selector:
            matchLabels:
              name: sanstoragecsi-operator-bundle
          strategy: {}
          template:
            metadata:
              labels:
                name: sanstoragecsi-operator-bundle
            spec:
              containers:
              - env:
                - name: WATCH_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.annotations['olm.targetNamespaces']
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: OPERATOR_NAME
                  value: sanstoragecsi-operator-bundle
                - name: ANSIBLE_GATHERING
                  value: explicit
                - name: ANSIBLE_DEBUG_LOGS
                  value: 'True'
                image: registry.connect.redhat.com/nec/sanstoragecsi-operator@sha256:6656c2b5036bdc013712ecb640bbbebe0e3e90cf625c73697dbb49e3e201e2ac
                imagePullPolicy: Always
                name: sanstoragecsi-operator-bundle
                resources: {}
                volumeMounts:
                - mountPath: /tmp/ansible-operator/runner
                  name: runner
              serviceAccountName: sanstoragecsi-operator-bundle
              volumes:
              - emptyDir: {}
                name: runner
      permissions:
      - rules:
        - apiGroups:
          - ''
          resources:
          - pods
          - services
          - services/finalizers
          - endpoints
          - persistentvolumeclaims
          - events
          - configmaps
          - secrets
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments
          - daemonsets
          - replicasets
          - statefulsets
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - monitoring.coreos.com
          resources:
          - servicemonitors
          verbs:
          - get
          - create
        - apiGroups:
          - apps
          resourceNames:
          - sanstoragecsi-operator-bundle
          resources:
          - deployments/finalizers
          verbs:
          - update
        - apiGroups:
          - ''
          resources:
          - pods
          verbs:
          - get
        - apiGroups:
          - apps
          resources:
          - replicasets
          - deployments
          verbs:
          - get
        - apiGroups:
          - csi.nec.com
          resources:
          - '*'
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - security.openshift.io
          resourceNames:
          - privileged
          resources:
          - securitycontextconstraints
          verbs:
          - use
        serviceAccountName: sanstoragecsi-operator-bundle
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - NEC
  - M Series
  - SAN Storage
  - CSI Driver
  links:
  - name: NEC Storage M Series
    url: https://www.nec.com/en/global/prod/storage/product/san/index.html
  maturity: stable
  provider:
    name: NEC
    url: https://www.nec.com
  version: 1.1.0
  replaces: sanstoragecsi-operator-bundle.v1.0.0
