---
apiVersion: v1
kind: ConfigMap
metadata:
  name: listener-operator-deployer-manifests
data:
  csidriver.yaml: |
    apiVersion: storage.k8s.io/v1
    kind: CSIDriver
    metadata:
      name: listeners.stackable.tech
      ownerReferences:
        # We have to use a clusterScope object as an owner of another clusterScope object
        - apiVersion: rbac.authorization.k8s.io/v1
          kind: ClusterRole
          name: "${LISTENER_OPERATOR_CLUSTERROLE_NAME}"
          uid: "${LISTENER_OPERATOR_CLUSTERROLE_UID}"
    spec:
      attachRequired: false
      podInfoOnMount: true
      fsGroupPolicy: File
      volumeLifecycleModes:
        - Ephemeral
        - Persistent
  storageclass.yaml: |
    apiVersion: storage.k8s.io/v1
    kind: StorageClass
    metadata:
      name: listeners.stackable.tech
      ownerReferences:
        - apiVersion: rbac.authorization.k8s.io/v1
          kind: ClusterRole
          name: "${LISTENER_OPERATOR_CLUSTERROLE_NAME}"
          uid: "${LISTENER_OPERATOR_CLUSTERROLE_UID}"
    provisioner: listeners.stackable.tech
    volumeBindingMode: WaitForFirstConsumer
  node-daemonset.yaml: |
    apiVersion: apps/v1
    kind: DaemonSet
    metadata:
      name: listener-operator-node-daemonset
      labels:
        app.kubernetes.io/instance: listener-operator
        app.kubernetes.io/name: listener-operator
        app.kubernetes.io/version: 23.4.0
      # We have to use a namespaced object as an owner of another namespaced object
      ownerReferences:
        - apiVersion: apps/v1
          kind: Deployment
          name: listener-operator-deployer
          uid: "${LISTENER_OPERATOR_DEPLOYER_DEPLOYMENT_UID}"
    spec:
      selector:
        matchLabels:
          app.kubernetes.io/instance: listener-operator
          app.kubernetes.io/name: listener-operator
          app.kubernetes.io/role: node
      template:
        metadata:
          labels:
            app.kubernetes.io/instance: listener-operator
            app.kubernetes.io/name: listener-operator
            app.kubernetes.io/role: node
        spec:
          containers:
          - name: listener-operator
            securityContext:
              privileged: true
              runAsUser: 0
            args:
            - run
            - node
            env:
            - name: CSI_ENDPOINT
              value: /csi/csi.sock
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
            image: docker.stackable.tech/stackable/listener-operator:23.4.0
            imagePullPolicy: IfNotPresent
            volumeMounts:
            - mountPath: /csi
              name: csi
            - mountPath: /var/lib/kubelet/pods
              mountPropagation: Bidirectional
              name: mountpoint
          - name: node-driver-registrar
            args:
            - --csi-address=/csi/csi.sock
            - --kubelet-registration-path=/var/lib/kubelet/plugins/listeners.stackable.tech/csi.sock
            image: docker.stackable.tech/k8s/sig-storage/csi-node-driver-registrar:v2.5.0
            imagePullPolicy: IfNotPresent
            volumeMounts:
            - mountPath: /registration
              name: registration-sock
            - mountPath: /csi
              name: csi
          serviceAccountName: listener-operator-serviceaccount
          volumes:
          - hostPath:
              path: /var/lib/kubelet/plugins_registry
              type: ""
            name: registration-sock
          - hostPath:
              path: /var/lib/kubelet/plugins/listeners.stackable.tech/
              type: ""
            name: csi
          - hostPath:
              path: /var/lib/kubelet/pods/
              type: ""
            name: mountpoint
  listener-nodeport.yaml: |
    apiVersion: listeners.stackable.tech/v1alpha1
    kind: ListenerClass
    metadata:
      name: nodeport
      ownerReferences:
        - apiVersion: rbac.authorization.k8s.io/v1
          kind: ClusterRole
          name: "${LISTENER_OPERATOR_CLUSTERROLE_NAME}"
          uid: "${LISTENER_OPERATOR_CLUSTERROLE_UID}"
    spec:
      serviceType: NodePort
  listener-lb-external.yaml: |
    apiVersion: listeners.stackable.tech/v1alpha1
    kind: ListenerClass
    metadata:
      name: lb-external
      ownerReferences:
        - apiVersion: rbac.authorization.k8s.io/v1
          kind: ClusterRole
          name: "${LISTENER_OPERATOR_CLUSTERROLE_NAME}"
          uid: "${LISTENER_OPERATOR_CLUSTERROLE_UID}"
    spec:
      serviceType: LoadBalancer
