---
apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  name: secret-operator.v23.1.0
spec:
  annotations:
    support: stackable.tech
    olm.properties: '[]'

    # The following affect how the package is indexed at OperatorHub.io:
    # https://operatorhub.io/?category=Database
    # https://sdk.operatorframework.io/docs/advanced-topics/operator-capabilities/operator-capabilities/
    categories: Storage
    capabilities: Full Lifecycle
    description: Stackable Secret Operator


  description: Stackable Secret Operator
  displayName: Stackable Secret Operator
  keywords:
    - secret
  maintainers:
    - email: info@stackable.tech
      name: Stackable GmbH
  maturity: stable
  provider:
    name: Stackable GmbH
    url: https://stackable.tech
  version: 23.1.0
  minKubeVersion: 1.20.0

  installModes:
    - supported: true
      type: OwnNamespace
    - supported: true
      type: SingleNamespace
    - supported: false
      type: MultiNamespace
    - supported: false
      type: AllNamespaces

  customresourcedefinitions:
    owned:
      - name: secretclasses.secrets.stackable.tech
        version: v1alpha1
        kind: SecretClass
        displayName: SecretClass
        description: Represents an SecretClass

  relatedImages:
    - name: secret-operator
      image: docker.stackable.tech/stackable/secret-operator@sha256:66cade3f012a33f30b60601599cd4d5b3bbac5135498c1043eb34a9eb44ce9bf

  install:
    # strategy indicates what type of deployment artifacts are used
    strategy: deployment
    # spec for the deployment strategy is a list of deployment specs and required permissions - similar to a pod template used in a deployment
    spec:
      permissions:
        - serviceAccountName: secret-operator-deployer
          rules:
            - apiGroups:
                - ""
              resources:
                - pods
              verbs:
                - '*'
      # permissions required at the cluster scope
      clusterPermissions:
        - serviceAccountName: secret-operator-deployer
          rules:
            - apiGroups:
                - apps
              resources:
                - daemonsets
              verbs:
                - get
                - list
                - watch
                - patch
            - apiGroups:
                - storage.k8s.io
              resources:
                - csidrivers
                - storageclasses
              verbs:
                - patch

      deployments:
        - name: secret-operator-deployer
          spec:
            replicas: 1
            strategy:
              type: Recreate
            selector:
              matchLabels:
                app.kubernetes.io/name: secret-operator-deployer
                app.kubernetes.io/instance: secret-operator-deployer
            template:
              metadata:
                labels:
                  app.kubernetes.io/name: secret-operator-deployer
                  app.kubernetes.io/instance: secret-operator-deployer
              spec:
                serviceAccountName: secret-operator-deployer
                securityContext: {}
                containers:
                  - name: secret-operator-deployer
                    securityContext: {}
                    image: docker.stackable.tech/stackable/tools:0.2.0-stackable0.3.0 # TODO e.g. use tag or different image
                    imagePullPolicy: IfNotPresent
                    resources: {}
                    command: ["bash", "-c", "echo 'Deploying DaemonSet' && kubectl apply -f /manifests/ && echo 'Successfully deployed DaemonSet' && sleep infinity"]
                    volumeMounts:
                      - name: manifests
                        mountPath: /manifests
                volumes:
                  - name: manifests
                    configMap:
                      name: secret-operator-deployer-manifests
