apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: secret-operator-clusterrolebinding
subjects:
  - kind: ServiceAccount
    name: secret-operator-serviceaccount
    namespace: stackable-operators
roleRef:
  kind: ClusterRole
  name: secret-operator-clusterrole
  apiGroup: rbac.authorization.k8s.io
