apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "kind": "Logging",
          "apiVersion": "wap.loadcore.keysight.com/v1alpha1",
          "metadata": {
            "name": "wap-logging",
            "namespace": "keysight-wap"
          },
          "spec": {
            "auth": {
              "enabled": true
            },
            "clusterDomain": "cluster.local",
            "elasticsearch": {
              "capabilities": [
                "SYS_CHROOT"
              ],
              "jvmOpts": "-Xms4g -Xmx4g",
              "resources": {
                "limits": {
                  "cpu": "2000m",
                  "memory": "8Gi"
                },
                "requests": {
                  "cpu": "500m",
                  "memory": "8Gi"
                }
              },
              "storage": "16Gi",
              "tag": "7.17.0-7"
            },
            "grafana": {
              "dashboards": [
                "wap",
                "load-core"
              ],
              "dataSources": [
                "wap",
                "load-core"
              ],
              "options": [
                {
                  "name": "GF_DATABASE_SSL_MODE",
                  "value": "disable"
                },
                {
                  "name": "GF_DATABASE_LOG_QUERIES",
                  "value": "true"
                },
                {
                  "name": "GF_USERS_ALLOW_SIGN_UP",
                  "value": "false"
                },
                {
                  "name": "GF_USERS_AUTO_ASSIGN_ORG",
                  "value": "true"
                },
                {
                  "name": "GF_USERS_AUTO_ASSIGN_ORG_ROLE",
                  "value": "Editor"
                },
                {
                  "name": "GF_AUTH_PROXY_ENABLED",
                  "value": "true"
                },
                {
                  "name": "GF_AUTH_PROXY_HEADER_NAME",
                  "value": "X-AUTH-USER"
                },
                {
                  "name": "GF_AUTH_PROXY_HEADER_PROPERTY",
                  "value": "username"
                },
                {
                  "name": "GF_AUTH_PROXY_AUTO_SIGN_UP",
                  "value": "true"
                },
                {
                  "name": "GF_SECURITY_COOKIE_SAMESITE",
                  "value": "lax"
                },
                {
                  "name": "GF_SECURITY_COOKIE_SECURE",
                  "value": "true"
                },
                {
                  "name": "GF_SECURITY_ALLOW_EMBEDDING",
                  "value": "true"
                },
                {
                  "name": "GF_PANELS_DISABLE_SANITIZE_HTML",
                  "value": "true"
                }
              ]
            },
            "image": {
              "elasticInitImage": "rhel8/toolbox@sha256:a753c24cb8b03066d494f010ad654d23fb0559f14d7121542298da3e0d48340d",
              "elasticInitRepository": "registry.access.redhat.com",
              "fbImage": "fluent-bit@sha256:aae2b0e5b0e6152c7fdf925f6ce058c431f9f99e1c7fb0606c00453abf04cfbc",
              "fbRepository": "prod.harbor.keysight.digital/loadcore",
              "pgImage": "postgresql-ubi-image@sha256:a8deff314fef9a5276a75b4db48fef95d64b3488d3cd7215fa56a2c5492b0e66",
              "pgRepository": "prod.harbor.keysight.digital/loadcore",
              "repository": "prod.harbor.keysight.digital/loadcore",
              "tagSuffix": "-ocp"
            },
            "persistence": {
              "storageClass": "managed-loadcore-storage"
            }
          }
        }
      ]
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v1.25.2
    operators.operatorframework.io/project_layout: helm.sdk.operatorframework.io/v1
  name: keysight-wap-logging.v0.0.90
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
      - kind: Logging
        name: loggings.wap.loadcore.keysight.com
        version: v1alpha1
  description: Keysight WAP Logging Operator
  displayName: Keysight WAP Logging Operator
  icon:
    - base64data: PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMTQwLjY3OTYzIiBoZWlnaHQ9IjEwOS42MTAzMiIgaWQ9InN2ZzQxMjIiPg0KICA8ZGVmcyBpZD0iZGVmczQxMjQiLz4NCiAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEyOS42NjAxOSwtNDc3LjU1NykiIGlkPSJsYXllcjEiPg0KICAgIDxwYXRoIGQ9Im0gMjY0LjM4ODUxLDUzNC4wNTQxNSBjIC0xLjAyNCwtMC4xNTc4MyAtMy4xODIxLC0xLjIzMzIgLTQuNzI3MjcsLTcuMTIwMjcgLTIuNDczNzQsLTkuNDIxNTEgLTMuNjQwODgsLTE3LjUwMzM4IC03LjgzMjI5LC0xNy41MDMzOCAtNC4xOTUwOSwwIC02LjA5NjI3LDguMDgxODcgLTguNTcwMDEsMTcuNTAzMzggLTEuNDY0NDMsNS41NzE0MyAtMy4wMDU5Myw3LjEyMDI3IC01LjQ3OTY4LDcuMTIwMjcgLTIuMzE5NTgsMCAtNC43MjM1OSwtMS4xMzQxIC04LjI2MTcxLC0xNS42OTc2MyBDIDIyNi40MjcyMiw1MDUuNjIwOCAyMjQuMzIwNSw0ODIuNTU3IDIxMy45NDg0LDQ4Mi41NTcgYyAtMTAuMzc5NDUsMCAtMTMuNDM2NzYsMzAuMDYyOTUgLTE0Ljc3MjcyLDM1Ljg1ODI1IC0xLjY0NDI2LDcuMTQyMjggLTUuNzI1NTgsMTUuNjQyNTcgLTEwLjg2MDI0LDE1LjY0MjU3IC01LjEzNDY3LDAgLTcuNzkxOTIsLTUuOTEyNzYgLTkuMzI5NzYsLTEyLjI1ODYxIC0yLjM1MjYzLC05LjcxNTEzIC01LjAyODIzLC0yMy43Nzk0OSAtMTEuODU0ODgsLTIzLjc3OTQ5IC02LjgzMDMxLDAgLTkuMDQ3MTMsMTEuNjQ1NjggLTEyLjA1NjczLDI0LjM2NjczIC0xLjc3MjczLDcuNDk4MzEgLTQuNjAyNDksMTEuNjcxMzcgLTkuNTc1NjcsMTEuNjcxMzcgbCAtMTAuODM4MjEsMCAwLDAuMDQ3NyBjIDEuNDE2NzEsMC40MjIwOCA0LjI0MjgsMi43NjM2OSA0Ljk3MzE4LDcuMzAwMSAxLjcxNzY3LDEwLjcwNjEgMy4wMzE2MSwxNy4zMzA4OSA2Ljc2NzkyLDE3LjMzMDg5IDMuNzM2MywwIDUuMDk0MjksLTUuNzEwOSA3LjI1OTc0LC0xNC42MTEyNCAxLjY5MTk3LC02Ljk3MzQ1IDQuMzM0NTUsLTEwLjAxNjA5IDcuNDkwOTUsLTEwLjAxNjA5IDQuNjM5MTksMCA2LjgyMjk5LDUuNjE1NDggOS4zNTkxMiwxNi4zNDcyNSA1LjA0MjksMjEuMzc5MTcgNi4xMTgyOSwzMS43MTA4OSAxNC4yNDQyLDMxLjcxMDg5IDguMDYzNTIsMCA5LjMyMjQyLC0xMC4zNTM3NSAxNC43NDMzNSwtMzEuNzEwODkgMi4zNTk5OCwtOS4yODkzNyA2Ljc2MDU5LC0xNi4zNTA5MSAxMS44OTUyNywtMTYuMzUwOTEgNS4xMzQ2NiwwIDguODAxMjIsNi44NDEzMyAxMC42NjkzOCwxMi4yOTUzIDQuMDQ0NiwxMS44MjU1MSA1LjkwOTA5LDE2LjI3NzUzIDEwLjM2NDc1LDE2LjI3NzUzIDQuNDUyMDIsMCA2Ljk2OTc5LC01LjM0Mzg4IDEwLjg5Njk1LC0xOC4yNDg0NCAyLjQ3Mzc0LC04LjEyMjI1IDIuODM3MSwtMTAuMzI0MzkgMTAuMTE1MTksLTEwLjMyNDM5IGwgMTAuOTQ4MzIsMCAwLC0wLjA1MTQgeiIgaWQ9InBhdGg0MCIgc3R5bGU9ImZpbGw6I2U5MDAyOTtmaWxsLW9wYWNpdHk6MTtmaWxsLXJ1bGU6bm9uemVybztzdHJva2U6bm9uZSIvPg0KICA8L2c+DQo8L3N2Zz4=
      mediatype: image/svg+xml
  install:
    spec:
      clusterPermissions:
        - rules:
            - apiGroups:
                - ""
              resources:
                - namespaces
              verbs:
                - get
            - apiGroups:
                - ""
              resources:
                - secrets
              verbs:
                - '*'
            - apiGroups:
                - ""
              resources:
                - events
              verbs:
                - create
            - apiGroups:
                - wap.loadcore.keysight.com
              resources:
                - loggings
                - loggings/status
                - loggings/finalizers
              verbs:
                - create
                - delete
                - get
                - list
                - patch
                - update
                - watch
            - apiGroups:
                - ""
              resources:
                - configmaps
                - serviceaccounts
                - services
              verbs:
                - '*'
            - apiGroups:
                - apps
              resources:
                - daemonsets
                - deployments
                - statefulsets
              verbs:
                - '*'
            - apiGroups:
                - batch
              resources:
                - cronjobs
              verbs:
                - '*'
            - apiGroups:
                - batch
              resources:
                - jobs
              verbs:
                - '*'
            - apiGroups:
                - keycloak.org
              resources:
                - '*'
              verbs:
                - '*'
            - apiGroups:
                - batch
              resources:
                - cronjobs
              verbs:
                - '*'
            - apiGroups:
                - networking.k8s.io
              resources:
                - ingresses
              verbs:
                - '*'
            - apiGroups:
                - rbac.authorization.k8s.io
              resources:
                - clusterrolebindings
                - clusterroles
              verbs:
                - '*'
            - apiGroups:
                - authentication.k8s.io
              resources:
                - tokenreviews
              verbs:
                - create
            - apiGroups:
                - authorization.k8s.io
              resources:
                - subjectaccessreviews
              verbs:
                - create
          serviceAccountName: keysight-wap-logging-controller-manager
      deployments:
        - label:
            app.kubernetes.io/component: manager
            app.kubernetes.io/created-by: keysight-wap-logging
            app.kubernetes.io/instance: controller-manager
            app.kubernetes.io/managed-by: kustomize
            app.kubernetes.io/name: deployment
            app.kubernetes.io/part-of: keysight-wap-logging
            control-plane: controller-manager
          name: keysight-wap-logging-controller-manager
          spec:
            replicas: 1
            selector:
              matchLabels:
                control-plane: controller-manager
            strategy: {}
            template:
              metadata:
                annotations:
                  kubectl.kubernetes.io/default-container: manager
                labels:
                  control-plane: controller-manager
              spec:
                affinity:
                  nodeAffinity:
                    requiredDuringSchedulingIgnoredDuringExecution:
                      nodeSelectorTerms:
                        - matchExpressions:
                            - key: kubernetes.io/arch
                              operator: In
                              values:
                                - amd64
                                - arm64
                                - ppc64le
                                - s390x
                            - key: kubernetes.io/os
                              operator: In
                              values:
                                - linux
                containers:
                  - args:
                      - --secure-listen-address=0.0.0.0:8443
                      - --upstream=http://127.0.0.1:8080/
                      - --logtostderr=true
                      - --v=0
                    image: registry.redhat.io/openshift4/ose-kube-rbac-proxy@sha256:f7993b7a5458679621f6686bdc4ab818659e051ef6cdf6a8e107f627adf5f178
                    name: kube-rbac-proxy
                    ports:
                      - containerPort: 8443
                        name: https
                        protocol: TCP
                    resources:
                      limits:
                        cpu: 500m
                        memory: 128Mi
                      requests:
                        cpu: 5m
                        memory: 64Mi
                    securityContext:
                      allowPrivilegeEscalation: false
                      capabilities:
                        drop:
                          - ALL
                  - args:
                      - --health-probe-bind-address=:8081
                      - --metrics-bind-address=127.0.0.1:8080
                      - --leader-elect
                      - --leader-election-id=keysight-wap-logging
                    image: prod.harbor.keysight.digital/loadcore/keysight-wap-logging@sha256:6c2411db0c987d509f95d0694c5dc48282db0a812505be0411b935a796a53565
                    livenessProbe:
                      httpGet:
                        path: /healthz
                        port: 8081
                      initialDelaySeconds: 15
                      periodSeconds: 20
                    name: manager
                    readinessProbe:
                      httpGet:
                        path: /readyz
                        port: 8081
                      initialDelaySeconds: 5
                      periodSeconds: 10
                    resources:
                      limits:
                        cpu: 500m
                        memory: 1Gi
                      requests:
                        cpu: 10m
                        memory: 64Mi
                    securityContext:
                      allowPrivilegeEscalation: false
                      capabilities:
                        drop:
                          - ALL
                securityContext:
                  runAsNonRoot: true
                serviceAccountName: keysight-wap-logging-controller-manager
                terminationGracePeriodSeconds: 10
      permissions:
        - rules:
            - apiGroups:
                - ""
              resources:
                - configmaps
              verbs:
                - get
                - list
                - watch
                - create
                - update
                - patch
                - delete
            - apiGroups:
                - coordination.k8s.io
              resources:
                - leases
              verbs:
                - get
                - list
                - watch
                - create
                - update
                - patch
                - delete
            - apiGroups:
                - ""
              resources:
                - events
              verbs:
                - create
                - patch
          serviceAccountName: keysight-wap-logging-controller-manager
    strategy: deployment
  installModes:
    - supported: false
      type: OwnNamespace
    - supported: false
      type: SingleNamespace
    - supported: false
      type: MultiNamespace
    - supported: true
      type: AllNamespaces
  keywords:
    - loadcore
    - keysight
  links:
    - name: Keysight Wap Logging
      url: https://keysight-wap-logging.domain
  maintainers:
    - email: vlad.butusina@keysight.com
      name: Vlad Butusina
  maturity: alpha
  provider:
    name: Keysight
    url: keysight.com
  version: 0.0.90
